Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

refactor: comment out torus-bridge related jobs in main.yml to declutter workflow definitions and improve readability
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused healthCheckPath parameter from torus-bridge job in workflow for cleaner configuration
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: restore torus-bridge job in workflow with conditions and dependencies for better deployment control
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance error handling across components using try-catch utility for improved stability and maintainability
  apps/torus-bridge/src/app/_components/chains/chain-metadata.ts
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/toast/use-toast-error.tsx
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/validate-form.ts
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/recipient-section.tsx
  apps/torus-bridge/src/config.ts
  apps/torus-bridge/src/context/cosmos-wallet-provider.tsx
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  apps/torus-bridge/src/context/solana-wallet-provider.tsx
  apps/torus-bridge/src/hooks/balance/use-balance.ts
  apps/torus-bridge/src/hooks/token/index.ts
  apps/torus-bridge/src/hooks/token/use-is-approve-required.ts
  apps/torus-bridge/src/hooks/use-balance-watcher.ts
  apps/torus-bridge/src/hooks/use-fee-quotes.ts
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
  apps/torus-bridge/src/hooks/use-token-transfer.ts
  apps/torus-bridge/src/utils/store.ts
  apps/torus-bridge/src/utils/transfer.ts
Due: torus-bridge, check-torus-bridge

refactor: update CACHE_URL default port in next.config.mjs for local development in torus-bridge
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

Revert changes on helm files for torus-bridge
  apps/torus-bridge/helmfile.yaml
  apps/torus-bridge/values.yaml
Due: torus-bridge, check-torus-bridge

fix: update next.config to use env function for NEXT_PUBLIC_TORUS_CACHE_URL in API stake-out destination path
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

refactor: remove unused proxy rewrites in next.config to simplify API configurations and improve maintainability
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

refactor: add jobs for torus-bridge PR activation and deletion in workflow with conditions for better deployment management
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: comment out CORS proxy rewrites in next.config.mjs for torus-bridge to simplify configuration and reduce complexity
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

remove /api/stake-out from bridge
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: enhance client-side rendering in wallet providers with mounted state checks for SSR compatibility and improved API handling
  apps/torus-bridge/src/consts/warp-route-whitelist.ts
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  apps/torus-bridge/src/context/solana-wallet-provider.tsx
Due: torus-bridge, check-torus-bridge

refactor: implement try-catch wrapper for error handling in agent page data fetching to enhance robustness and readability
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: add error handling for chain metadata and URL search params in torus-bridge utilities for improved reliability
  apps/torus-bridge/src/utils/chain.ts
  apps/torus-bridge/src/utils/query-params.ts
  apps/torus-bridge/src/utils/store.ts
Due: torus-bridge, check-torus-bridge

refactor: use useCallback for handleTabChange in wallet-actions to optimize performance and avoid unnecessary re-renders
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
  apps/torus-bridge/src/app/_components/toast/use-toast-error.tsx
  apps/torus-bridge/src/app/_components/transfer-details/index.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/hooks/use-balance-watcher.ts
Due: torus-bridge, check-torus-bridge

refactor: simplify connector initialization in evm-wallet-provider for cleaner code and improved readability
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
Due: torus-bridge, check-torus-bridge

refactor: maintain consistent formatting for NEXT_PUBLIC_WALLET_CONNECT_ID in values.yaml for torus-bridge
  apps/torus-bridge/values.yaml
Due: torus-bridge, check-torus-bridge

refactor: simplify CACHE_URL definition in next.config.mjs for torus-bridge, removing unnecessary default value
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

re-enable torus-bridge regular pipeline
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert refactor on apps pipeline
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update wssApiEndpoint and cacheUrl for dev environment in torus-bridge helmfile and configure CORS proxy in next.config.mjs
  apps/torus-bridge/helmfile.yaml
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/values.yaml
Due: torus-bridge, check-torus-bridge

refactor: improve error handling by initializing URLs and notifying missing wallet details in transfer components
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
Due: torus-bridge, check-torus-bridge

fix: update next.config and TransferEVM component for improved client-side rendering, mode handling, and webpack optimizations
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
Due: torus-bridge, check-torus-bridge

chore: simplify agent URL validation and update flow
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-util.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog.tsx
  packages/torus-provider/src/torus-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update button UI and relax URL validation for agent metadata
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.tsx
  packages/torus-sdk-ts/src/agent_metadata/agent_metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add "New Agents" view with shared components
  apps/torus-allocator/src/app/(main-page)/new-agents/page.tsx
  apps/torus-allocator/src/app/_components/agent-list.tsx
  apps/torus-allocator/src/app/_components/page-layout.tsx
  apps/torus-allocator/src/app/_components/view-selector.tsx
  apps/torus-allocator/src/utils/parse-search-params.ts
  packages/api/src/router/agent/agent.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: unify error handling across components using try-catch for better maintainability and improved user feedback
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/report-agent.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/page.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-actions.tsx
  apps/torus-allocator/src/app/_components/penalties-list.tsx
  apps/torus-allocator/src/app/api/allocated-weight/route.ts
  apps/torus-allocator/src/app/api/trpc/[trpc]/route.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improved error handling and toast notifications across multiple components and API routes for better user feedback
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/report-agent.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/page.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-actions.tsx
  apps/torus-allocator/src/app/_components/penalties-list.tsx
  apps/torus-allocator/src/app/api/allocated-weight/route.ts
  apps/torus-allocator/src/app/api/trpc/[trpc]/route.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add transaction history with tracking and UI
  apps/torus-wallet/src/app/(transfers)/_components/send/send.tsx
  apps/torus-wallet/src/app/_components/sidebar-links.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/app/transaction-history/_components/transaction-details-dialog.tsx
  apps/torus-wallet/src/app/transaction-history/_components/transaction-history-list.tsx
  apps/torus-wallet/src/app/transaction-history/hooks/use-transaction-history.ts
  apps/torus-wallet/src/app/transaction-history/page.tsx
  apps/torus-wallet/src/utils/transaction/save-transaction.ts
  packages/api/src/root.ts
  packages/api/src/router/transaction-history/transaction-history.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: improve form validation in RegisterAgent component
  apps/torus-governance/src/app/_components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

fix: update Discord URL validation to discord.gg and add break-words
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-content.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: convert sort direction to uppercase in agent router
  packages/api/src/router/agent/agent.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add HTTPS for users when entering social URLs and updates placeholder texts for better clarity.
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: simplify URL transformation in agent social profile update
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: remove fallback empty strings from social fields
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

wip: evaluation-engine
  apps/services/eslint.config.js
  apps/services/package.json
  apps/services/src/evaluation_engine/core/constraint-dsl.ts
  apps/services/src/evaluation_engine/core/db/index.ts
  apps/services/src/evaluation_engine/core/db/schema.ts
  apps/services/src/evaluation_engine/core/index.ts
  apps/services/src/evaluation_engine/core/trpc/index.ts
  apps/services/src/evaluation_engine/core/trpc/router/permission/permission.ts
  apps/services/tsconfig.json
  apps/services/turbo.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add AgentIcon and UnsavedChangesDialog components
  apps/torus-allocator/src/app/_components/agent-icon.tsx
  apps/torus-allocator/src/app/_components/unsaved-changes-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix regular job conditional
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
