Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

feat: implement WalletLabel function for improved wallet name display
  packages/ui/src/components/wallet-dropdown.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: filtering agentKeys
  packages/api/src/router/agent/user-agent-weight.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add smallWalletName function for abbreviated wallet name display
  packages/utils/src/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add allocation menu state management and button to agent item
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/delegate-module-weight.tsx
  apps/torus-allocator/src/app/components/delegated-list.tsx
  apps/torus-allocator/src/stores/allocationMenuStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update button structure in DelegatedList and TutorialDialog components for improved accessibility and styling
  apps/torus-allocator/src/app/components/delegated-list.tsx
  apps/torus-allocator/src/app/components/tutorial-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update labels in AgentInfoCard for clarity on allocation metrics
  apps/torus-allocator/src/app/components/agent-info-card.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: parse values to bigint
  apps/torus-wallet/src/app/components/actions/unstake.tsx
Due: torus-wallet, check-torus-wallet

fix: date formatting
  apps/torus-wallet/src/app/components/actions/staking-calculator.tsx
Due: torus-wallet, check-torus-wallet

fix: update label from "To" to "From" in UnstakeAction for clarity
  apps/torus-wallet/src/app/components/actions/unstake.tsx
Due: torus-wallet, check-torus-wallet

fix: update label from "Recipient Address" to "From Address" in UnstakeAction for clarity
  apps/torus-wallet/src/app/components/actions/unstake.tsx
Due: torus-wallet, check-torus-wallet

fix: update date calculation in StakingCalculator for accurate projections
  apps/torus-wallet/src/app/components/actions/staking-calculator.tsx
Due: torus-wallet, check-torus-wallet

fix: update sleep duration in weightAggregatorWorker for more frequent task execution
  apps/torus-worker/src/workers/weight-aggregator.ts
Due: torus-worker, check-torus-worker

fix: percentage formatting
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

hotfix: set-weights
  apps/torus-worker/src/workers/weight-aggregator.ts
Due: torus-worker, check-torus-worker

fix: lint
  apps/torus-worker/src/workers/weight-aggregator.ts
Due: torus-worker, check-torus-worker

fix: update terminology from Validator to Allocator in the UI
  apps/torus-wallet/src/app/components/validators-list.tsx
Due: torus-wallet, check-torus-wallet

:construction: wip
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/[slug]/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

wip
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/[slug]/page.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/page.tsx
  packages/api/package.json
  packages/api/src/router/agent/user-agent-weight.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

wip: raw json missing
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/page.tsx
  packages/api/package.json
  packages/api/src/router/agent/user-agent-weight.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feature: stakeweight
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: better return
  apps/torus-allocator/src/app/api/allocated-weight/route.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: disable button when agentKey matches ALLOCATOR_ADDRESS and clean up environment variable handling
  apps/torus-allocator/src/app/components/delegate-module-weight.tsx
  apps/torus-allocator/src/env.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

disable app pipeline dependencies because this is useless
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update app name from "DAO Portal" to "Torus DAO"
  apps/torus-governance/src/context/governance-provider.tsx
Due: torus-governance, check-torus-governance

fix: pass author prop to CreateComment component in agent application view
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
Due: torus-governance, check-torus-governance

fix: add author prop to CreateComment component and streamline validation logic
  apps/torus-governance/src/app/components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

wip
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
Due: torus-worker, check-torus-worker

feat: fixing ledger on wallet
  packages/torus-provider/package.json
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/utils/metadata.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refac: reduce logging
  packages/torus-provider/src/utils/metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

wip
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: new penalty calculation
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
Due: torus-worker, check-torus-worker

fix: lint
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
Due: torus-worker, check-torus-worker

chore: TODOs; bump flake
  apps/torus-governance/src/app/components/popover-info.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
  apps/torus-worker/src/workers/process-dao-applications.ts
  flake.lock
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: using `with Signed Transation`
  packages/torus-provider/src/_components/send-transaction.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance descriptions in ButtonsSectionMobile component
  apps/torus-page/src/app/components/hover-header/_components/mobile/buttons-section-mobile.tsx
Due: torus-page, check-torus-page

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
