Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-governance, torus-cache

Path conditions:
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torusx-page/**, apps/torus-worker/**, apps/sample-app/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torusx-page/**, apps/torus-worker/**, apps/sample-app/**, apps/torus-governance/**, apps/torus-wallet/**

subnet-fetcher -> dao-notifier
  apps/torus-worker/helmfile.yaml
Due: none

use commune cache for now and add TODOs
  apps/torus-cache/helmfile.yaml
  apps/torus-governance/helmfile.yaml
  apps/torus-page/helmfile.yaml
  apps/torus-validator/helmfile.yaml
  apps/torus-wallet/helmfile.yaml
  apps/torus-worker/helmfile.yaml
Due: torus-governance, torus-cache

add image pull secret
  helm/values.yaml
Due: torus-governance, torus-cache

add ghcr secret
  helm/values-utils.yaml
Due: torus-governance, torus-cache

fix: discord notification link
  apps/torus-worker/src/workers/notify-dao-applications.ts
Due: none

feat: wallet app wip
  .vscode/launch.json
  apps/torus-wallet/src/app/components/actions/bridge.tsx
  apps/torus-wallet/src/app/components/actions/index.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/amount-buttons.tsx
  apps/torus-wallet/src/app/components/icon-button.tsx
  apps/torus-wallet/src/app/components/image-icon.tsx
  apps/torus-wallet/src/app/components/intro.tsx
  apps/torus-wallet/src/app/components/sections/actions/stake.tsx
  apps/torus-wallet/src/app/components/sections/intro.tsx
  apps/torus-wallet/src/app/components/sections/wallet-actions.tsx
  apps/torus-wallet/src/app/components/sections/wallet-header.tsx
  apps/torus-wallet/src/app/components/sections/wallet-root.tsx
  apps/torus-wallet/src/app/components/sections/wallet-sections.tsx
  apps/torus-wallet/src/app/components/sections/wallet.tsx
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/app/components/validators-list.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
  apps/torus-wallet/src/app/components/wallet-balance.tsx
  apps/torus-wallet/src/app/components/wallet-review.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/page.tsx
  packages/providers/src/context/torus.tsx
  packages/ui/package.json
  packages/ui/src/components/button.tsx
  packages/ui/src/components/loading.tsx
  packages/ui/src/components/transaction-status.tsx
  packages/ui/src/components/wallet-dropdown.tsx
  packages/utils/src/index.ts
  pnpm-lock.yaml
  tooling/tailwind/base.ts
Due: torus-governance, torus-cache

fix: lint
  apps/torus-wallet/src/app/components/actions/bridge.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
Due: none

feat: add torus-provider package with initial configuration and scripts
  packages/torus-provider/eslint.config.js
  packages/torus-provider/package.json
  packages/torus-provider/src/index.ts
  packages/torus-provider/tsconfig.json
  pnpm-lock.yaml
Due: torus-governance, torus-cache

feat: `torus-provider` structure with refactor and cleanup
  apps/torus-forum/next-env.d.ts
  apps/torus-forum/package.json
  apps/torus-governance/next-env.d.ts
  apps/torus-governance/package.json
  apps/torus-governance/src/app/components/dao/create-dao.tsx
  apps/torus-governance/src/app/components/dao/dao-vote-card.tsx
  apps/torus-governance/src/app/components/proposal/create-proposal.tsx
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/app/components/proposal/proposal-vote-card.tsx
  apps/torus-governance/src/app/components/proposal/register-module.tsx
  apps/torus-governance/src/app/components/proposal/vote-power-settings.tsx
  apps/torus-page/next-env.d.ts
  apps/torus-page/package.json
  apps/torus-page/src/app/components/unstake.tsx
  apps/torus-validator/next-env.d.ts
  apps/torus-validator/package.json
  apps/torus-wallet/next-env.d.ts
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/components/actions/bridge.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  packages/subspace/src/main.ts
  packages/torus-provider/package.json
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/index.ts
  packages/torus-provider/src/index.tsx
  packages/torus-provider/tsconfig.json
  packages/ui/src/components/wallet-dropdown.tsx
  packages/ui/src/index.ts
  packages/ui/src/types/index.ts
  pnpm-lock.yaml
Due: torus-governance, torus-cache

feat: implement `PageProvider` context for managing page state on top of `TorusProvider` and working build process
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-governance/src/env.ts
  apps/torus-page/package.json
  apps/torus-page/src/app/components/bridge.tsx
  apps/torus-page/src/app/components/unstake.tsx
  apps/torus-page/src/app/components/validators-list.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/context/page-provider.tsx
  packages/query-provider/src/hooks/index.ts
  packages/torus-provider/src/torus-provider.tsx
  pnpm-lock.yaml
Due: torus-governance, torus-cache

feat: integrate `useKeyStakedBy` so `torus-allocator` dont run a specific context hook
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/layout.tsx
Due: none

refactor: rename `isConnected` to `isAccountConnected` for clarity in post creation components
  apps/torus-forum/src/app/components/create-external-post.tsx
  apps/torus-forum/src/app/components/create-post.tsx
Due: torus-governance, torus-cache

feat: wrap `TRPCReactProvider` with `TorusProvider` for improved context management
  apps/torus-forum/src/app/layout.tsx
Due: torus-governance, torus-cache

feat: integrate `TorusProvider` for enhanced context management and update environment variables
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/env.ts
  apps/torus-wallet/package.json
  pnpm-lock.yaml
Due: torus-governance, torus-cache

refactor: update imports to use `@torus-ts/torus-provider` for consistency across components
  apps/torus-wallet/src/app/components/actions/bridge.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/intro.tsx
  apps/torus-wallet/src/app/components/validators-list.tsx
  pnpm-lock.yaml
Due: torus-governance, torus-cache

fix: download-metadata recipe bash file redirection
  justfile
Due: torus-governance, torus-cache

feat: refactor wallet app to use indiviual context provider and fix build
  apps/torus-governance/src/app/dao/[id]/_components/dao-expanded-view.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/components/actions/bridge.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/intro.tsx
  apps/torus-wallet/src/app/components/validators-list.tsx
  apps/torus-wallet/src/app/components/wallet-balance.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  packages/torus-provider/src/torus-provider.tsx
  packages/ui/src/components/transaction-status.tsx
  packages/ui/src/components/wallet-dropdown.tsx
  tooling/tailwind/base.ts
Due: torus-governance, torus-cache

refactor: remove unused prettier plugin and update configuration
  pnpm-lock.yaml
  tooling/prettier/index.js
  tooling/prettier/package.json
Due: torus-governance, torus-cache

fix: sherif ignore `unordered-dependencies`
  justfile
Due: torus-governance, torus-cache

fix: torus typos
  apps/torus-forum/src/env.ts
  apps/torus-governance/src/env.ts
  apps/torus-validator/src/env.ts
  packages/ui/src/data.ts
Due: torus-governance, torus-cache

fix: governance env default urls
  apps/torus-governance/src/env.ts
Due: torus-governance

fix: direct usages of `process.env`
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-page/src/context/page-provider.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/env.ts
  apps/torus-worker/src/index.ts
Due: torus-governance

chore: remote importe order related config
  tooling/prettier/index.js
Due: torus-governance, torus-cache

fix: update package.json to use peerDependencies for react-query and comment out unused imports in layout and page provider
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/context/page-provider.tsx
  packages/query-provider/package.json
  pnpm-lock.yaml
Due: torus-governance, torus-cache

chore: add nix-lfs + bump flake
  flake.lock
  flake.nix
Due: torus-governance, torus-cache

chore: add metadata files to LFS
  .gitattributes
  .gitignore
  data/metadata/local.json
Due: torus-governance, torus-cache

fix: update react-toastify to version 11.0.1 in package.json and pnpm-lock.yaml
  packages/torus-provider/package.json
  pnpm-lock.yaml
Due: torus-governance, torus-cache

chore: update dependencies in pnpm-lock.yaml to latest versions
  pnpm-lock.yaml
Due: torus-governance, torus-cache

test: skip Git LFS on Drone pipeline
  .drone.yml
Due: torus-governance, torus-cache

fix: missing react-query dependency and misplaced deps on devDependencies
  apps/torus-page/package.json
  apps/torus-wallet/package.json
  pnpm-lock.yaml
Due: torus-governance, torus-cache

fix: update WebSocket and cache provider URLs in Dockerfile for development environment
  docker/Dockerfile
Due: torus-governance, torus-cache

fix: rename accountStakedBy to accountStakingTo for clarity and update related components
  apps/torus-page/src/app/components/unstake.tsx
  apps/torus-page/src/app/components/validators-list.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/context/page-provider.tsx
  packages/query-provider/src/hooks.ts
Due: torus-governance, torus-cache

fix: remove production check for Bridge component in Header
  apps/torus-page/src/app/components/header/index.tsx
Due: none
