Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

chore: set publishConfig.access=public on package.json
  packages/torus-sdk-ts/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: preparing utils to be published
  packages/utils/LICENSE
  packages/utils/justfile
  packages/utils/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: enhance whitelist applications UI with new components and improved agent application handling in governance page
  apps/torus-governance/package.json
  apps/torus-governance/public/graces-draco.glb
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/agent-application-card.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/page.tsx
  apps/torus-governance/src/app/_components/statue-animation.tsx
  apps/torus-governance/src/app/page.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: refactor StatueAnimation layout and streamline material usage in the 3D model rendering for improved code clarity
  apps/torus-governance/src/app/_components/statue-animation.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

style: add statue model and improve animation handling in StatueAnimation component for better visual performance and code readability
  apps/torus-governance/public/statue.glb
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

refactor: updates currency input across stake, unstake, transfer stake, and send forms
  apps/torus-wallet/src/app/_components/currency-swap.tsx
  apps/torus-wallet/src/app/_components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send-form.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send.tsx
  apps/torus-wallet/src/utils/helpers.ts
Due: torus-wallet, check-torus-wallet

refactore: remove useId key from Card in wallet-balance and fix torus URL
  apps/torus-wallet/src/app/_components/wallet-balance.tsx
  packages/ui/src/lib/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: simplify StatueAnimation by removing unnecessary annotations and optimizing material properties for better performance and clarity
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

refactor: fix bridge navigation path to include leading slash
  apps/torus-wallet/src/app/_components/sidebar-links.tsx
  apps/torus-wallet/src/app/_components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

chore: renaming torus-ts/utils
  apps/torus-governance/src/app/_components/dao-card/components/author-info.tsx
  apps/torus-governance/src/app/_components/dao-card/components/expiration-info.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info.tsx
Due: torus-governance, check-torus-governance

chore: add input validation and accessibility to staking calculator
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator-amount-input.tsx
Due: torus-wallet, check-torus-wallet

refactor: add trim() to form fields and improve fee estimation validation
  apps/torus-wallet/src/app/transfers/_components/send/send-form-schema.ts
Due: torus-wallet, check-torus-wallet

chore: add aria-labels to Copy button for accessibility
  apps/torus-wallet/src/app/_components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

chore: fix sidebar navigation detection and add aria-label
  apps/torus-wallet/src/app/_components/sidebar-links.tsx
  apps/torus-wallet/src/hooks/useAPR.ts
Due: torus-wallet, check-torus-wallet

style: remove unused 3D models and add new themis.glb with optimized animation and lighting in the StatueAnimation component
  apps/torus-governance/public/graces-draco.glb
  apps/torus-governance/public/greek-statue.png
  apps/torus-governance/public/statue.glb
  apps/torus-governance/public/themis.glb
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

refactore: fix issues with currency swap component
  apps/torus-wallet/src/app/_components/currency-swap.tsx
  apps/torus-wallet/src/app/_components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/_components/sidebar-links.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send-fee-handler.ts
  apps/torus-wallet/src/app/transfers/_components/send/send-form.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send.tsx
Due: torus-wallet, check-torus-wallet

refactor: streamline agent fetching logic with async utility functions for enhanced error handling and cleaner code structure
  apps/torus-worker/src/workers/agent-fetcher.ts
  packages/utils/src/async-result.ts
  packages/utils/src/error-helpers/client-operations.ts
  packages/utils/src/error-helpers/server-operations.ts
  packages/utils/src/result.ts
  packages/utils/src/try-catch.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update CurrencySwapProps
  apps/torus-wallet/src/app/_components/currency-swap.tsx
Due: torus-wallet, check-torus-wallet

refactor: fix form submission by moving it to confirmation step in review dialog instead of direct form submission, and pass amount field values properly to currency swap components.
  apps/torus-wallet/src/app/staking/_components/stake/stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send-form.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send.tsx
Due: torus-wallet, check-torus-wallet

style: enhance StatueAnimation with annotations, adjust lighting parameters, and refine camera settings for improved visuals
  apps/torus-governance/src/app/_components/statue-animation.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

refactor: add support for custom allocator addresses
  apps/torus-wallet/src/app/_components/allocator-selector.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
Due: torus-wallet, check-torus-wallet

refactor: fix validator address handling in staking components
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
Due: torus-wallet, check-torus-wallet

style: update StatueAnimation by adding stars, adjusting cloud speed, and refining annotation positions for enhanced visual experience
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

refactor: improve reward calculation precision using BigInt scaling
  apps/torus-wallet/src/hooks/useAPR.ts
Due: torus-wallet, check-torus-wallet

refactore: fix naming consistency by updating handler props to include "Action" suffix and pass minAllowedStakeData to CurrencySwap component
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
Due: torus-wallet, check-torus-wallet

chore: remove ReceiveAction component
  apps/torus-wallet/src/app/components/actions/receive.tsx
Due: torus-wallet, check-torus-wallet

refactor: update import paths for torus-utils subspace functions
  apps/torus-wallet/src/app/_components/apr-bar/apr-bar.tsx
  apps/torus-wallet/src/app/_components/currency-swap.tsx
  apps/torus-wallet/src/app/_components/wallet-balance.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/stake/stake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/app/transfers/_components/receive/receive-address-display.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send-fee-handler.ts
  apps/torus-wallet/src/app/transfers/_components/send/send-form-schema.ts
Due: torus-wallet, check-torus-wallet

refactor: fix imports
  apps/torus-wallet/src/app/_components/allocator-selector.tsx
  apps/torus-wallet/src/app/_components/apr-bar/apr-bar.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send-fee-handler.ts
Due: torus-wallet, check-torus-wallet

refactor: update imports to use specific @torus-network/torus-utils/subspace path
  apps/torus-wallet/src/app/staking/_components/stake/stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form-schema.ts
Due: torus-wallet, check-torus-wallet

chore: update BrandTag import to @torus-network/torus-utils
  apps/torus-wallet/src/app/staking/_components/stake/stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send-fee-handler.ts
Due: torus-wallet, check-torus-wallet

refactor: update AllocatorSelector to use nullish coalescing operator
  apps/torus-wallet/src/app/_components/allocator-selector.tsx
Due: torus-wallet, check-torus-wallet

refactor: replace tryAsyncLoggingRaw and related functions with tryAsync for improved error handling and cleaner code throughout the application Co-authored-by: Kelvin Steiner <me@steinerkelvin.dev>
  apps/torus-worker/src/__tests__/error-handling.test.ts
  apps/torus-worker/src/__tests__/workers.test.ts
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/common/log.ts
  apps/torus-worker/src/error-playground/errorSimulator.ts
  apps/torus-worker/src/error-playground/workerErrorPlayground.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/utils/src/__tests__/client-operations-typing.test.ts
  packages/utils/src/__tests__/server-operations-typing.test.ts
  packages/utils/src/__tests__/try-catch-typing.test.ts
  packages/utils/src/async-result.ts
  packages/utils/src/error-helpers/server-operations.ts
  packages/utils/src/result.ts
  packages/utils/src/try-catch.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: wrap PagesLayout in Container component for improved structure and adjust HomePage for animation effects on div wrapper
  apps/torus-governance/src/app/(pages)/layout.tsx
  apps/torus-governance/src/app/_components/statue-animation.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

refactor: replace all instances of tryAsyncLogging with tryAsync for improved consistency and cleaner code across the application
  apps/torus-cache/src/client_example.ts
  apps/torus-cache/src/data.ts
  apps/torus-cache/src/index.ts
  apps/torus-cache/src/server.ts
  packages/utils/src/error-helpers/server-operations.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: update StatueAnimation component with responsive annotation positions and model adjustments for better mobile experience
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

chore: remove `luxon` as torus-sdk-ts dependency
  packages/torus-sdk-ts/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: adjust torus-sdk-ts (@torus-network/sdk) package.json fields for publishing
  packages/torus-sdk-ts/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
