Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

chore: remove `luxon` as torus-sdk-ts dependency
  packages/torus-sdk-ts/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: just recipes for publishing
  packages/torus-sdk-ts/justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: set publishConfig.access=public on package.json
  packages/torus-sdk-ts/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

re-enable dao-notifier deploy
  apps/torus-worker/helmfile.yaml
Due: torus-worker, check-torus-worker

toggling proposal on db
  apps/torus-worker/src/workers/notify-dao-applications.ts
Due: torus-worker, check-torus-worker

Wrapping loop in try-catch
  apps/torus-worker/src/workers/notify-dao-applications.ts
Due: torus-worker, check-torus-worker

FIX - Wrapping the notifier in a loop (#174)
  apps/torus-worker/src/workers/notify-dao-applications.ts
Due: torus-worker, check-torus-worker

refactor: simplify transfers routing and modernize layouts
  apps/torus-wallet/src/app/(transfers)/layout.tsx
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/(transfers)/receive/page.tsx
  apps/torus-wallet/src/app/(transfers)/send/page.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/page.tsx
  apps/torus-wallet/src/app/transfers/_components/receive.tsx
  apps/torus-wallet/src/app/transfers/_components/send.tsx
  apps/torus-wallet/src/app/transfers/layout.tsx
  apps/torus-wallet/src/app/transfers/page.tsx
Due: torus-wallet, check-torus-wallet

refactor: add spacing around function logic in receive component
  apps/torus-wallet/src/app/transfers/_components/receive.tsx
Due: torus-wallet, check-torus-wallet

refactor: move staking components to dedicated folder structure
  apps/torus-wallet/src/app/staking/_components/stake.tsx
  apps/torus-wallet/src/app/staking/_components/staking-calculator.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake.tsx
  apps/torus-wallet/src/app/staking/layout.tsx
  apps/torus-wallet/src/app/staking/page.tsx
Due: torus-wallet, check-torus-wallet

chore: remove wallet-actions component
  apps/torus-wallet/src/app/components/wallet-actions.tsx
Due: torus-wallet, check-torus-wallet

refactor: streamline imports in stake component for clarity
  apps/torus-wallet/src/app/staking/_components/stake.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: fix merge conflicts in pnpm-lock.yaml
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: move fonts to dedicated module and refactor env variables
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/env.ts
  apps/torus-wallet/src/utils/fonts.ts
  apps/torus-wallet/src/utils/types.ts
Due: torus-wallet, check-torus-wallet

refactor: update import paths from subspace to network SDK
  apps/torus-wallet/src/app/components/validators-list.tsx
  apps/torus-wallet/src/app/transfers/_components/send.tsx
Due: torus-wallet, check-torus-wallet

refactor: remove unused React imports
  apps/torus-wallet/src/app/components/fee-label.tsx
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/components/wallet-review.tsx
  apps/torus-wallet/src/app/components/wallet-skeleton-loader.tsx
  apps/torus-wallet/src/app/transfers/_components/send.tsx
Due: torus-wallet, check-torus-wallet

refactor: add currency label to transfer amount inputs
  apps/torus-wallet/src/app/transfers/_components/send.tsx
  packages/ui/src/components/input.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update wallet page base path to /transfers
  apps/torus-wallet/src/app/components/sidebar-links.tsx
Due: torus-wallet, check-torus-wallet

feat: add wallet address display with copy feature
  apps/torus-wallet/public/wallet-info-logo.svg
  apps/torus-wallet/src/app/components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

refactor: refactor wallet balance components for better organization
  apps/torus-wallet/src/app/components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

refactor: add reward interval countdown to APR dashboard stats
  apps/torus-wallet/src/app/components/apr-bar/apr-bar.tsx
  apps/torus-wallet/src/hooks/useRewardInterval.ts
Due: torus-wallet, check-torus-wallet

fix: time format padding in useRewardIntervalProgress
  apps/torus-wallet/src/hooks/useRewardInterval.ts
Due: torus-wallet, check-torus-wallet

refactor: remove total balance and reward interval progress
  apps/torus-wallet/src/app/components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

refactor: increase wallet card gap spacing to 24px
  apps/torus-wallet/src/app/components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

refactor: rename and simplify currency conversion functions
  apps/torus-wallet/src/app/components/amount-buttons.tsx
  apps/torus-wallet/src/app/transfers/_components/send.tsx
  apps/torus-wallet/src/hooks/useRewardInterval.ts
  apps/torus-wallet/src/utils/fonts.ts
  apps/torus-wallet/src/utils/helpers.ts
Due: torus-wallet, check-torus-wallet

feat: dynamic penalty update
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
Due: torus-worker, check-torus-worker

refactor: torus-dao page structure
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/_components/proposal-expanded-view.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/loader.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/(pages)/agents/page.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
  apps/torus-governance/src/app/(pages)/layout.tsx
  apps/torus-governance/src/app/(pages)/page.tsx
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/_components/render-list/cards-skeleton-list.tsx
  apps/torus-governance/src/app/_components/render-list/container-list.tsx
  apps/torus-governance/src/app/_components/render-list/index.tsx
  apps/torus-governance/src/app/_components/render-list/list-agent-applications.tsx
  apps/torus-governance/src/app/_components/render-list/list-agents.tsx
  apps/torus-governance/src/app/_components/render-list/list-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/render-list/list-proposals.tsx
  apps/torus-governance/src/app/_components/sidebar-links.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

chore: preparing utils to be published
  packages/utils/LICENSE
  packages/utils/justfile
  packages/utils/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve currency swap component and rewrite send form
  apps/torus-wallet/src/app/components/currency-swap.tsx
  apps/torus-wallet/src/app/transfers/_components/send.tsx
Due: torus-wallet, check-torus-wallet

chore: rename SendAction component to Send
  apps/torus-wallet/src/app/transfers/layout.tsx
Due: torus-wallet, check-torus-wallet

refactor: improve wallet UI and form validation
  apps/torus-wallet/src/app/components/wallet-balance.tsx
  apps/torus-wallet/src/app/transfers/_components/send.tsx
  apps/torus-wallet/src/utils/helpers.ts
Due: torus-wallet, check-torus-wallet

refactor: rename onAmountChange prop to onAmountChangeAction
  apps/torus-wallet/src/app/components/currency-swap.tsx
  apps/torus-wallet/src/app/transfers/_components/send.tsx
Due: torus-wallet, check-torus-wallet

refactor: add currency input validation and improve conversion logic
  apps/torus-wallet/src/utils/helpers.ts
Due: torus-wallet, check-torus-wallet

refactor: improve responsive layout and metadata
  apps/torus-wallet/src/app/components/currency-swap.tsx
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/app/components/wallet-balance.tsx
  apps/torus-wallet/src/app/layout.tsx
Due: torus-wallet, check-torus-wallet

chore: remove unused React import
  apps/torus-wallet/src/app/layout.tsx
Due: torus-wallet, check-torus-wallet

chore: remove unused metadata from wallet layout
  apps/torus-wallet/src/app/layout.tsx
Due: torus-wallet, check-torus-wallet

feat: dynamic penalty update (#175)
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
Due: torus-worker, check-torus-worker

refactor: restructure candidate voting and navigation components for improved clarity
  apps/torus-governance/hooks/use-computed-candidate-votes.ts
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
  apps/torus-governance/src/app/(pages)/layout.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/index.tsx
  apps/torus-governance/src/app/_components/cadre/components/cadre-candidates-list.tsx
  apps/torus-governance/src/app/_components/cadre/components/dao-members-candidates-filter.tsx
  apps/torus-governance/src/app/_components/render-list/list-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/sidebar-nav.tsx
Due: torus-governance, check-torus-governance

feat: ssr cadre candidate filter
  apps/torus-governance/src/app/(pages)/dao-portal/_components/view-selector.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/index.tsx
  apps/torus-governance/src/utils/types.ts
  packages/api/src/router/cadre/cadre-candidate.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance candidate voting components and integrate luxon for better date handling
  apps/torus-governance/hooks/use-computed-candidate-votes.ts
  apps/torus-governance/package.json
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/card-content.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/handle-candidacy-state.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/handle-pending-vote-state.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/handle-vote-label.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/remove-dao-member.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/index.tsx
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
  apps/torus-governance/src/app/_components/popover-info.tsx
  apps/torus-governance/src/app/_components/render-list/list-agents.tsx
  apps/torus-governance/src/app/_components/sidebar-info.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  packages/api/src/router/cadre/cadre.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
