Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

feat: allocator agent metadata fetching on agent list
  apps/torus-allocator/package.json
  apps/torus-allocator/src/app/components/agent-content-list.tsx
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/hooks/use-agent-metadata.ts
  packages/utils/src/ipfs.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: clean up code and reintroduce URL_SCHEMA in ipfs.ts
  packages/utils/src/index.ts
  packages/utils/src/ipfs.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: improve error assertion message in assert_error function
  packages/utils/src/index.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: rename torus-validator to torus-allocator and update related configurations
  .vscode/settings.json
  apps/torus-allocator/package.json
  apps/torus-allocator/values.yaml
  docker-compose.yml
  packages/db/creating-items-in-database.md
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance agent metadata handling with typed non-null entries
  packages/subspace/src/metadata/agent_metadata.ts
  packages/utils/src/index.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add AgentBanner component and refactor AgentContentList; update button labels and styles in DelegatedList
  apps/torus-validator/public/agent-icon-example.png
  apps/torus-validator/src/app/components/agent-banner.tsx
  apps/torus-validator/src/app/components/agent-content-list.tsx
  apps/torus-validator/src/app/components/agent-item.tsx
  apps/torus-validator/src/app/components/delegate-module-weight.tsx
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/components/intro.tsx
  apps/torus-validator/src/app/components/tutorial-dialog.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-validator/src/app/page.tsx
  packages/ui/src/components/icons.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: integrate shadcn-dropzone for file uploads in RegisterAgent component
  apps/torus-governance/package.json
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add custom hook for fetching agent metadata with image support
  apps/torus-allocator/src/hooks/use-agent-metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update agent metadata schema
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

chore: add multiformats on torus-validator
  apps/torus-validator/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: lint
  apps/torus-allocator/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: commiting lock
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix allocator build
  .github/workflows/torus-allocator.yml
  .github/workflows/torus-bridge.yml
  .github/workflows/torus-cache.yml
  .github/workflows/torus-governance.yml
  .github/workflows/torus-page.yml
  .github/workflows/torus-wallet.yml
  .github/workflows/torus-worker.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix?: trying to fix deploy
  apps/torus-cache/helmfile.yaml
  apps/torus-worker/helmfile.yaml
Due: torus-worker, torus-cache, check-torus-worker, check-torus-cache

increased helm timeout
  apps/torus-cache/helmfile.yaml
  apps/torus-worker/helmfile.yaml
Due: torus-worker, torus-cache, check-torus-worker, check-torus-cache

Revert "fix?: trying to fix deploy"
  apps/torus-cache/helmfile.yaml
  apps/torus-worker/helmfile.yaml
Due: torus-worker, torus-cache, check-torus-worker, check-torus-cache

changing folder name
  packages/subspace/src/agent_metadata/agent_metadata.ts
  packages/subspace/src/index.ts
  packages/subspace/src/metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: init staking page basics
  apps/torus-staking/eslint.config.js
  apps/torus-staking/next-env.d.ts
  apps/torus-staking/next.config.mjs
  apps/torus-staking/package.json
  apps/torus-staking/postcss.config.cjs
  apps/torus-staking/public/favicon.ico
  apps/torus-staking/public/logo.svg
  apps/torus-staking/src/app/layout.tsx
  apps/torus-staking/src/app/page.tsx
  apps/torus-staking/src/env.ts
  apps/torus-staking/src/styles/globals.css
  apps/torus-staking/tailwind.config.ts
  apps/torus-staking/tsconfig.json
  apps/torus-staking/turbo.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add wallet connection pannel
  apps/torus-staking/src/app/components/staking-header.tsx
  apps/torus-staking/src/app/layout.tsx
  apps/torus-staking/src/app/page.tsx
  apps/torus-staking/src/styles/globals.css
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: init hero section of the page
  apps/torus-staking/src/app/components/hero-section/ParticleSystem.tsx
  apps/torus-staking/src/app/components/hero-section/constants.ts
  apps/torus-staking/src/app/components/hero-section/index.tsx
  apps/torus-staking/src/app/components/staking-header.tsx
  apps/torus-staking/src/app/hooks/useDevicePixelRatio.ts
  apps/torus-staking/src/app/layout.tsx
  apps/torus-staking/src/app/page.tsx
  apps/torus-staking/src/styles/globals.css
  apps/torus-staking/tailwind.config.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: adding particle system to hero page
  apps/torus-staking/public/background.webp
  apps/torus-staking/src/app/components/hero-section/ParticleSystem.tsx
  apps/torus-staking/src/app/components/hero-section/constants.ts
  apps/torus-staking/src/app/components/hero-section/index.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

update blog link to new URL
  packages/ui/src/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: adding three
  apps/torus-staking/package.json
  apps/torus-staking/src/app/components/hero-section/ClientHeroSection.tsx
  apps/torus-staking/src/app/components/hero-section/ParticleSystem.tsx
  apps/torus-staking/src/app/components/hero-section/Scene.tsx
  apps/torus-staking/src/app/components/hero-section/index.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add animation
  apps/torus-staking/TODO.md
  apps/torus-staking/next.config.mjs
  apps/torus-staking/package.json
  apps/torus-staking/src/app/components/hero-section/ClientHeroSection.tsx
  apps/torus-staking/src/app/components/hero-section/ParticleSystem.tsx
  apps/torus-staking/src/app/components/hero-section/Scene.tsx
  apps/torus-staking/src/app/components/hero-section/constants.ts
  apps/torus-staking/src/app/components/hero-section/hooks/useAnimationConfig.ts
  apps/torus-staking/src/app/components/hero-section/index.tsx
  apps/torus-staking/src/app/components/hero-section/materials/ShaderMaterial.tsx
  apps/torus-staking/src/app/components/hero-section/shaders/fragment.glsl
  apps/torus-staking/src/app/components/hero-section/shaders/vertex.glsl
  apps/torus-staking/src/app/components/hero-section/types/animation.ts
  apps/torus-staking/src/app/hooks/useDevicePixelRatio.ts
  apps/torus-staking/src/shaders.d.t
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: correct explansion and contraction
  apps/torus-staking/src/app/components/hero-section/ClientHeroSection.tsx
  apps/torus-staking/src/app/components/hero-section/materials/ShaderMaterial.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: new hero section header
  apps/torus-staking/src/app/components/hero-section/ClientHeroSection.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: working staking section
  apps/torus-staking/next.config.mjs
  apps/torus-staking/package.json
  apps/torus-staking/src/app/components/hero-section/ClientHeroSection.tsx
  apps/torus-staking/src/app/components/hero-section/hooks/useAnimationConfig.ts
  apps/torus-staking/src/app/components/hero-section/materials/ShaderMaterial.tsx
  apps/torus-staking/src/app/components/staking-section/amount-buttons.tsx
  apps/torus-staking/src/app/components/staking-section/fee-label.tsx
  apps/torus-staking/src/app/components/staking-section/staking-form.tsx
  apps/torus-staking/src/app/components/staking-section/staking-header.tsx
  apps/torus-staking/src/app/components/staking-section/validators-list.tsx
  apps/torus-staking/src/app/components/staking-section/wallet-review.tsx
  apps/torus-staking/src/app/layout.tsx
  apps/torus-staking/src/app/page.tsx
  apps/torus-wallet/next.config.mjs
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
  apps/torus-wallet/src/app/components/wallet-balance.tsx
  apps/torus-wallet/src/app/layout.tsx
  packages/features/.gitignore
  packages/features/eslint.config.js
  packages/features/package.json
  packages/features/src/apr-display.tsx
  packages/features/src/context/wallet-provider.tsx
  packages/features/tsconfig.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add balance info to hero section
  apps/torus-staking/src/app/components/hero-section/BalanceDisplay.tsx
  apps/torus-staking/src/app/components/hero-section/ClientHeroSection.tsx
  apps/torus-staking/src/app/components/staking-section/staking-form.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: type inference of `env()` output ; record of zod schemas instead of object zod schema for env; don't fill process.env;
  apps/torus-wallet/src/app/components/wallet-header.tsx
  apps/torus-wallet/src/env.ts
  packages/env-validation/src/EnvScript.tsx
  packages/ui/src/components/layout.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update wallet env
  apps/torus-validator/src/trpc/server.ts
  apps/torus-wallet/package.json
  apps/torus-wallet/src/env.ts
Due: torus-validator, torus-wallet, check-torus-validator, check-torus-wallet

chore: pnpm-lock
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add env-validation to torus-page
  apps/torus-page/next.config.mjs
  apps/torus-page/package.json
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/env.ts
Due: torus-page, check-torus-page

feat: add env-validation to torus-validator
  apps/torus-validator/next.config.mjs
  apps/torus-validator/package.json
  apps/torus-validator/src/app/api/trpc/[trpc]/route.ts
  apps/torus-validator/src/app/components/allocator-header.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-validator/src/env.ts
  apps/torus-validator/src/trpc/react.tsx
Due: torus-validator, check-torus-validator

feat: add headScripts to ui layout
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: remove env validation on build of torus-wallet
  apps/torus-wallet/next.config.mjs
Due: torus-wallet, check-torus-wallet

feat: env-validation package
  packages/env-validation/eslint.config.js
  packages/env-validation/package.json
  packages/env-validation/src/EnvScript.tsx
  packages/env-validation/src/index.ts
  packages/env-validation/tsconfig.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: ?
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

chore: fix txt
  packages/env-validation/src/EnvScript.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: rm @t3-oss/env-nextjs
  apps/torus-wallet/package.json
Due: torus-wallet, check-torus-wallet
