Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

feat: add new SVG icons for balance and bridge components
  apps/torus-bridge/public/assets/icons/balance/torus-base.svg
  apps/torus-bridge/public/assets/icons/balance/torus-evm.svg
  apps/torus-bridge/public/assets/icons/balance/torus-native.svg
  apps/torus-bridge/public/assets/icons/balance/torus.svg
  apps/torus-bridge/public/assets/icons/bridge/torus-base-simple.svg
  apps/torus-bridge/public/assets/icons/bridge/torus-base.svg
  apps/torus-bridge/public/assets/icons/bridge/torus-evm.svg
  apps/torus-bridge/public/assets/icons/bridge/torus-native-simple.svg
  apps/torus-bridge/public/assets/icons/ui/logo.svg
  apps/torus-bridge/src/app/_components/select-action-dialog.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/simple-bridge/simple-bridge-form.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/consts/chains.ts
Due: torus-bridge, check-torus-bridge

refactor: format SVG icons for improved readability
  apps/torus-bridge/public/assets/icons/balance/torus.svg
  apps/torus-bridge/public/assets/icons/bridge/torus-base.svg
  apps/torus-bridge/public/assets/icons/bridge/torus-evm.svg
  apps/torus-bridge/public/assets/icons/ui/logo.svg
Due: torus-bridge, check-torus-bridge

feat: enhance Simple Bridge form with token formatting and contract reading
  apps/torus-bridge/src/app/_components/simple-bridge/simple-bridge-form.tsx
Due: torus-bridge, check-torus-bridge

feat: thicker links for allocator > root nodes relation
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/force-graph/force-graph-animation.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update allocator URL to point to the portal root-allocator in data.ts (#368)
  apps/torus-wallet/next-env.d.ts
  packages/ui/src/lib/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

quickfix: remove unecessary extra line
  apps/torus-wallet/next-env.d.ts
Due: torus-wallet, check-torus-wallet

refactor: remove ProgressStepper component from Simple Bridge
  apps/torus-bridge/src/app/_components/simple-bridge/index.tsx
  apps/torus-bridge/src/app/_components/simple-bridge/progress-stepper.tsx
Due: torus-bridge, check-torus-bridge

fix: update allocator URL on footer (#368)
  packages/ui/src/lib/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance Sidebar component in Torus Bridge
  apps/torus-bridge/src/app/_components/shared/sidebar-links.tsx
Due: torus-bridge, check-torus-bridge

refactor: remove TransferDetails component from Simple Bridge page
  apps/torus-bridge/src/app/simple/page.tsx
Due: torus-bridge, check-torus-bridge

feat: add STEP_2_SWITCHING state to Simple Bridge workflow
  apps/torus-bridge/src/app/_components/simple-bridge/simple-bridge-types.ts
Due: torus-bridge, check-torus-bridge

feat: enhance Simple Bridge form with transaction lifecycle dialog
  apps/torus-bridge/src/app/_components/simple-bridge/simple-bridge-form.tsx
Due: torus-bridge, check-torus-bridge

feat: implement TransactionLifecycleDialog for enhanced transfer feedback
  apps/torus-bridge/src/app/_components/simple-bridge/hooks/use-orchestrated-transfer.ts
  apps/torus-bridge/src/app/_components/simple-bridge/transaction-lifecycle-dialog.tsx
Due: torus-bridge, check-torus-bridge

wip: `torus-prophet-finder` basic app setup
  apps/torus-prophet-finder/eslint.config.js
  apps/torus-prophet-finder/helmfile.yaml
  apps/torus-prophet-finder/next-env.d.ts
  apps/torus-prophet-finder/next.config.mjs
  apps/torus-prophet-finder/package.json
  apps/torus-prophet-finder/postcss.config.mjs
  apps/torus-prophet-finder/public/favicon.ico
  apps/torus-prophet-finder/public/logo.svg
  apps/torus-prophet-finder/src/app/_components/prophet-finder-header.tsx
  apps/torus-prophet-finder/src/app/layout.tsx
  apps/torus-prophet-finder/src/app/page.tsx
  apps/torus-prophet-finder/src/env.ts
  apps/torus-prophet-finder/tailwind.config.ts
  apps/torus-prophet-finder/tsconfig.json
  apps/torus-prophet-finder/turbo.json
  apps/torus-prophet-finder/values.yaml
  packages/ui/src/components/header.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: adding prophet finder app
  apps/torus-prophet-finder/AGENTS.md
  apps/torus-prophet-finder/next.config.mjs
  apps/torus-prophet-finder/package.json
  apps/torus-prophet-finder/public/textures/grain.svg
  apps/torus-prophet-finder/src/app/_components/ProfileCard.tsx
  apps/torus-prophet-finder/src/app/_components/TickerCard.tsx
  apps/torus-prophet-finder/src/app/_components/cards/AddProphetForm.tsx
  apps/torus-prophet-finder/src/app/_components/cards/AddTickerForm.tsx
  apps/torus-prophet-finder/src/app/_components/cards/CardsGrid.tsx
  apps/torus-prophet-finder/src/app/_components/cards/CardsHeader.tsx
  apps/torus-prophet-finder/src/app/_components/cards/CardsSection.view.tsx
  apps/torus-prophet-finder/src/app/_components/cards/EmptyState.tsx
  apps/torus-prophet-finder/src/app/_components/cards/EntityModeToggle.tsx
  apps/torus-prophet-finder/src/app/_components/cards/SampleProphets.ts
  apps/torus-prophet-finder/src/app/_components/cards/SampleTickers.ts
  apps/torus-prophet-finder/src/app/_components/cards/SearchInput.tsx
  apps/torus-prophet-finder/src/app/_components/cards/StableHeight.tsx
  apps/torus-prophet-finder/src/app/_components/cards/TickersGrid.tsx
  apps/torus-prophet-finder/src/app/_components/cards/useProphets.ts
  apps/torus-prophet-finder/src/app/_components/cards/useTickers.ts
  apps/torus-prophet-finder/src/app/_components/effects/StarfieldBackground.tsx
  apps/torus-prophet-finder/src/app/_components/hero/ScrollIndicator.tsx
  apps/torus-prophet-finder/src/app/_components/hero/StatsRow.tsx
  apps/torus-prophet-finder/src/app/_components/hero/StormHero.view.tsx
  apps/torus-prophet-finder/src/app/_components/hero/StormQuad.view.tsx
  apps/torus-prophet-finder/src/app/_components/hero/StormShaders.ts
  apps/torus-prophet-finder/src/app/_components/tickers/FractureArt.tsx
  apps/torus-prophet-finder/src/app/globals.css
  apps/torus-prophet-finder/src/app/layout.tsx
  apps/torus-prophet-finder/src/app/page.tsx
  apps/torus-prophet-finder/src/lib/handles/normalize-handle.ts
  apps/torus-prophet-finder/src/lib/handles/title-from-handle.ts
  apps/torus-prophet-finder/src/lib/tickers/normalize-symbol.ts
  apps/torus-prophet-finder/src/types/prophet.ts
  apps/torus-prophet-finder/src/types/ticker.ts
  apps/torus-prophet-finder/tailwind.config.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: fonts
  apps/torus-prophet-finder/src/app/_components/ProfileCard.tsx
  apps/torus-prophet-finder/src/app/_components/TickerCard.tsx
  apps/torus-prophet-finder/src/app/_components/cards/CardsHeader.tsx
  apps/torus-prophet-finder/src/app/_components/hero/StatsRow.tsx
  apps/torus-prophet-finder/src/app/_components/hero/StormHero.view.tsx
  apps/torus-prophet-finder/src/app/globals.css
  apps/torus-prophet-finder/src/app/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: back start opacity
  apps/torus-prophet-finder/src/app/_components/effects/StarfieldBackground.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: fmt
  apps/torus-prophet-finder/AGENTS.md
  apps/torus-prophet-finder/next.config.mjs
  apps/torus-prophet-finder/src/app/_components/ProfileCard.tsx
  apps/torus-prophet-finder/src/app/_components/TickerCard.tsx
  apps/torus-prophet-finder/src/app/_components/cards/AddProphetForm.tsx
  apps/torus-prophet-finder/src/app/_components/cards/AddTickerForm.tsx
  apps/torus-prophet-finder/src/app/_components/cards/CardsGrid.tsx
  apps/torus-prophet-finder/src/app/_components/cards/CardsHeader.tsx
  apps/torus-prophet-finder/src/app/_components/cards/CardsSection.view.tsx
  apps/torus-prophet-finder/src/app/_components/cards/EmptyState.tsx
  apps/torus-prophet-finder/src/app/_components/cards/EntityModeToggle.tsx
  apps/torus-prophet-finder/src/app/_components/cards/SampleProphets.ts
  apps/torus-prophet-finder/src/app/_components/cards/SearchInput.tsx
  apps/torus-prophet-finder/src/app/_components/cards/StableHeight.tsx
  apps/torus-prophet-finder/src/app/_components/cards/TickersGrid.tsx
  apps/torus-prophet-finder/src/app/_components/cards/useProphets.ts
  apps/torus-prophet-finder/src/app/_components/cards/useTickers.ts
  apps/torus-prophet-finder/src/app/_components/effects/StarfieldBackground.tsx
  apps/torus-prophet-finder/src/app/_components/hero/ScrollIndicator.tsx
  apps/torus-prophet-finder/src/app/_components/hero/StatsRow.tsx
  apps/torus-prophet-finder/src/app/_components/hero/StormHero.view.tsx
  apps/torus-prophet-finder/src/app/_components/hero/StormQuad.view.tsx
  apps/torus-prophet-finder/src/app/_components/tickers/FractureArt.tsx
  apps/torus-prophet-finder/src/app/globals.css
  apps/torus-prophet-finder/src/app/layout.tsx
  apps/torus-prophet-finder/src/app/page.tsx
  apps/torus-prophet-finder/src/lib/handles/normalize-handle.ts
  apps/torus-prophet-finder/src/lib/handles/title-from-handle.ts
  apps/torus-prophet-finder/src/lib/tickers/normalize-symbol.ts
  apps/torus-prophet-finder/src/types/prophet.ts
  apps/torus-prophet-finder/src/types/ticker.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add lock
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

typecheck
  apps/torus-prophet-finder/src/app/_components/hero/StormQuad.view.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: header
  apps/torus-prophet-finder/src/app/_components/prophet-finder-header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: balance checks on profile addition
  apps/torus-prophet-finder/src/app/_components/cards/AddProphetForm.tsx
  apps/torus-prophet-finder/src/app/_components/cards/AddTickerForm.tsx
  apps/torus-prophet-finder/src/app/_components/cards/CardsSection.view.tsx
  apps/torus-prophet-finder/src/app/_components/prophet-finder-header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

validate + normalize additions
  apps/torus-prophet-finder/src/app/_components/cards/CardsSection.view.tsx
  apps/torus-prophet-finder/src/app/_components/cards/useProphets.ts
  apps/torus-prophet-finder/src/app/_components/cards/useTickers.ts
  apps/torus-prophet-finder/src/lib/handles/validate-handle.ts
  apps/torus-prophet-finder/src/lib/tickers/validate-symbol.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: better form validation
  apps/torus-prophet-finder/AGENTS.md
  apps/torus-prophet-finder/package.json
  apps/torus-prophet-finder/src/lib/handles/validate-handle.ts
  apps/torus-prophet-finder/src/lib/tickers/validate-symbol.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat(cards): add react-hook-form + zod validation and use shared UI Button
  apps/torus-prophet-finder/src/app/_components/cards/AddProphetForm.tsx
  apps/torus-prophet-finder/src/app/_components/cards/AddTickerForm.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refac: stats
  apps/torus-prophet-finder/src/app/_components/hero/StatsRow.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore(prophet-finder): rename component files to kebab-case and update imports per AGENTS.md
  apps/torus-prophet-finder/src/app/_components/cards/add-prophet-form.tsx
  apps/torus-prophet-finder/src/app/_components/cards/add-ticker-form.tsx
  apps/torus-prophet-finder/src/app/_components/cards/cards-grid.tsx
  apps/torus-prophet-finder/src/app/_components/cards/cards-header.tsx
  apps/torus-prophet-finder/src/app/_components/cards/cards-section.view.tsx
  apps/torus-prophet-finder/src/app/_components/cards/empty-state.tsx
  apps/torus-prophet-finder/src/app/_components/cards/entity-mode-toggle.tsx
  apps/torus-prophet-finder/src/app/_components/cards/sample-prophets.ts
  apps/torus-prophet-finder/src/app/_components/cards/sample-tickers.ts
  apps/torus-prophet-finder/src/app/_components/cards/search-input.tsx
  apps/torus-prophet-finder/src/app/_components/cards/stable-height.tsx
  apps/torus-prophet-finder/src/app/_components/cards/tickers-grid.tsx
  apps/torus-prophet-finder/src/app/_components/cards/use-prophets.ts
  apps/torus-prophet-finder/src/app/_components/cards/use-tickers.ts
  apps/torus-prophet-finder/src/app/_components/effects/starfield-background.tsx
  apps/torus-prophet-finder/src/app/_components/hero/scroll-indicator.tsx
  apps/torus-prophet-finder/src/app/_components/hero/stats-row.tsx
  apps/torus-prophet-finder/src/app/_components/hero/storm-hero.view.tsx
  apps/torus-prophet-finder/src/app/_components/hero/storm-quad.view.tsx
  apps/torus-prophet-finder/src/app/_components/hero/storm-shaders.ts
  apps/torus-prophet-finder/src/app/_components/profile-card.tsx
  apps/torus-prophet-finder/src/app/_components/ticker-card.tsx
  apps/torus-prophet-finder/src/app/_components/tickers/fracture-art.tsx
  apps/torus-prophet-finder/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix(prophet-finder): satisfy ESLint rules in validate-handle (no non-null assertion; simpler optional chaining)
  apps/torus-prophet-finder/src/app/_components/cards/add-prophet-form.tsx
  apps/torus-prophet-finder/src/app/_components/cards/add-ticker-form.tsx
  apps/torus-prophet-finder/src/lib/handles/validate-handle.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

linter
  apps/torus-prophet-finder/src/lib/handles/validate-handle.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat(cards): add God Rays background behind cards section (Three.js + postprocessing)
  apps/torus-prophet-finder/src/app/_components/cards/cards-rays-background.tsx
  apps/torus-prophet-finder/src/app/_components/cards/cards-section.view.tsx
  apps/torus-prophet-finder/src/app/_components/cards/effects/figure.ts
  apps/torus-prophet-finder/src/app/_components/cards/effects/light-source.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

wip 0.2
  apps/torus-prophet-finder/src/app/_components/cards/cards-rays-background.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix(cards): localize rays using invisible figure occluder
  apps/torus-prophet-finder/src/app/_components/cards/cards-rays-background.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: postion
  apps/torus-prophet-finder/src/app/_components/cards/cards-rays-background.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix postion
  apps/torus-prophet-finder/src/app/_components/cards/cards-rays-background.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

wip(cards): soften hero->cards top gradient; raise starfield layering
  apps/torus-prophet-finder/src/app/_components/cards/cards-section.view.tsx
  apps/torus-prophet-finder/src/app/_components/effects/starfield-background.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix(cards): mirror hero bottom shadow at top of cards section
  apps/torus-prophet-finder/src/app/_components/cards/cards-section.view.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix(cards): fill toggle buttons regardless of selection
  apps/torus-prophet-finder/src/app/_components/cards/entity-mode-toggle.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: tweak light source settings
  apps/torus-prophet-finder/src/app/_components/cards/cards-rays-background.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix(hero): force subtitle second sentence onto new line
  apps/torus-prophet-finder/src/app/_components/hero/storm-hero.view.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: sound integration
  apps/torus-prophet-finder/public/audio/background-audio.m4a
  apps/torus-prophet-finder/src/app/_components/hero/sound-toggle.tsx
  apps/torus-prophet-finder/src/app/_components/hero/storm-hero.view.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
