Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

feat: refactors metadata and environment handling
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/page.tsx
  apps/torus-wallet/src/app/staking/page.tsx
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

feat: make NEXT_PUBLIC_BASE_URL optional in env schema
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

feat: refactors SEO metadata handling
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/staking/page.tsx
  apps/torus-wallet/src/env.ts
  apps/torus-wallet/src/utils/seo.ts
  packages/ui/src/components/seo.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: simplifies base URL configuration
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/staking/page.tsx
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

docs: add Helm values configuration patterns documentation
  docs/HELM_VALUES.md
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: comment out Turbo build configuration in deployment workflow
  .github/workflows/app-deployment-template.yml
  apps/torus-wallet/src/app/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: comment out baseUrl in SEO metadata
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/staking/page.tsx
Due: torus-wallet, check-torus-wallet

chore: implement baseUrlFn for SEO metadata
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/staking/page.tsx
  packages/ui/src/components/seo.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: comment out metadata definitions across wallet pages
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/page.tsx
  apps/torus-wallet/src/app/staking/page.tsx
Due: torus-wallet, check-torus-wallet

chore: uncomment SEO metadata across wallet pages
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/page.tsx
  apps/torus-wallet/src/app/staking/page.tsx
Due: torus-wallet, check-torus-wallet

chore: update SEO metadata implementation to use baseUrl parameter
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/staking/page.tsx
  packages/ui/src/components/seo.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update metadata function to use dynamic generation
  apps/torus-wallet/src/app/layout.tsx
Due: torus-wallet, check-torus-wallet

feat: enhances SEO and configures Google Analytics
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/app/page.tsx
  apps/torus-page/src/env.ts
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/page.tsx
  apps/torus-wallet/src/app/staking/page.tsx
  packages/ui/src/components/seo.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: adds SEO metadata and Google Analytics
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/env.ts
Due: torus-bridge, check-torus-bridge

fix: removes Google Analytics integration in bridge.
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/env.ts
Due: torus-bridge, check-torus-bridge

feat: add permission form components with schema validation and example loading feature
  .gitignore
  apps/torus-portal/src/app/_components/permission-form.tsx
  apps/torus-portal/src/app/_components/permission-form/base-constraint-field.tsx
  apps/torus-portal/src/app/_components/permission-form/bool-expr-field.tsx
  apps/torus-portal/src/app/_components/permission-form/converters.ts
  apps/torus-portal/src/app/_components/permission-form/example-constraint-button.tsx
  apps/torus-portal/src/app/_components/permission-form/num-expr-field.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form.tsx
  apps/torus-portal/src/app/_components/permission-form/schemas.ts
  apps/torus-portal/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: torus portal permission initial config
  apps/torus-portal/eslint.config.js
  apps/torus-portal/helmfile.yaml
  apps/torus-portal/next-env.d.ts
  apps/torus-portal/next.config.mjs
  apps/torus-portal/package.json
  apps/torus-portal/postcss.config.mjs
  apps/torus-portal/public/favicon.ico
  apps/torus-portal/public/logo.svg
  apps/torus-portal/src/app/_components/permission-form.tsx
  apps/torus-portal/src/app/_components/portal-header.tsx
  apps/torus-portal/src/app/layout.tsx
  apps/torus-portal/src/app/page.tsx
  apps/torus-portal/src/env.ts
  apps/torus-portal/src/utils/dsl.ts
  apps/torus-portal/tailwind.config.ts
  apps/torus-portal/tsconfig.json
  apps/torus-portal/turbo.json
  apps/torus-portal/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: portal file system
  apps/torus-portal/src/app/(permission-form)/_components/permission-flow.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-converters.ts
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-example-constraint-button.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-base.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-boolean.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-input.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-nested.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-number.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-select.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-wrapper.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-schemas.ts
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-utils.ts
  apps/torus-portal/src/app/(permission-form)/_components/permission-form.tsx
  apps/torus-portal/src/app/(permission-form)/page.tsx
  apps/torus-portal/src/app/permission-graph/_components/permission-graph-container.tsx
  apps/torus-portal/src/app/permission-graph/_components/permission-graph-controls.tsx
  apps/torus-portal/src/app/permission-graph/_components/permission-graph-details.tsx
  apps/torus-portal/src/app/permission-graph/_components/permission-graph-utils.ts
  apps/torus-portal/src/app/permission-graph/_components/permission-graph.tsx
  apps/torus-portal/src/app/permission-graph/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update permission graph components to use custom data types, enhancing type safety and maintainability in Torus Portal
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-container.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-controls.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-utils.ts
  apps/torus-portal/src/app/_components/permission-graph/permission-graph.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance permission graph components to support loading state and improved data handling for better user experience in Torus Portal
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-container.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-controls.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-utils.ts
  apps/torus-portal/src/app/_components/permission-graph/permission-graph.tsx
  apps/torus-portal/src/app/permission-graph/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: simplify permission graph controls and enhance UI layout for better user experience in Torus Portal
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-container.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-controls.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-details.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-utils.ts
  apps/torus-portal/src/app/_components/permission-graph/permission-graph.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: clean up permission form structure by removing unused fields and improving component layout in the page view
  apps/torus-portal/src/app/_components/permission-form/base-constraint-field.tsx
  apps/torus-portal/src/app/_components/permission-form/converters.ts
  apps/torus-portal/src/app/_components/permission-form/num-expr-field.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form.tsx
  apps/torus-portal/src/app/_components/permission-form/schemas.ts
  apps/torus-portal/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: react flow with constraint creation container
  apps/torus-portal/src/app/(permission-form)/page.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-flow-visualizer.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-flow.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-example-constraint-button.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field-base.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field-boolean.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field-number.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field/permission-form-field-base.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field/permission-form-field-boolean.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field/permission-form-field-input.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field/permission-form-field-nested.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field/permission-form-field-number.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field/permission-form-field-select.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field/permission-form-field-wrapper.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form.tsx
  apps/torus-portal/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add shadcn carousel
  packages/ui/package.json
  packages/ui/src/components/carousel.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: introduce permission flow components and drag-and-drop functionality for enhanced user experience in Torus Portal
  apps/torus-portal/src/app/(permission-flow)/_components/index.css
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-container.tsx
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-dnd-context.tsx
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-sidebar.tsx
  apps/torus-portal/src/app/(permission-flow)/page.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-flow.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-converters.ts
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-example-constraint-button.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-base.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-boolean.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-input.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-nested.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-number.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-select.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-field/permission-form-field-wrapper.tsx
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-schemas.ts
  apps/torus-portal/src/app/(permission-form)/_components/permission-form-utils.ts
  apps/torus-portal/src/app/(permission-form)/_components/permission-form.tsx
  apps/torus-portal/src/app/(permission-form)/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add permission graph components and controls for interactive visualization and data manipulation in Torus Portal
  apps/torus-portal/package.json
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-container.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-controls.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-utils.ts
  apps/torus-portal/src/app/_components/permission-graph/permission-graph.tsx
  apps/torus-portal/src/app/permission-graph/page.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: refactor permission graph components to include detailed node information and streamline loading states in Torus Portal
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-container.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-details.tsx
  apps/torus-portal/src/app/_components/permission-graph/permission-graph.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement permission form utility components and schemas for structured data handling and dynamic field support
  apps/torus-portal/src/app/_components/permission-form/permission-form-converters.ts
  apps/torus-portal/src/app/_components/permission-form/permission-form-example-constraint-button.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field-base.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field-boolean.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-field-number.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-schemas.ts
  apps/torus-portal/src/app/_components/permission-form/permission-form-utils.ts
  apps/torus-portal/src/app/_components/permission-form/permission-form.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add permission API and graph components for enhanced permission management in Torus Portal
  apps/torus-portal/src/app/api/trpc/[trpc]/route.ts
  apps/torus-portal/src/app/layout.tsx
  apps/torus-portal/src/app/permission-graph/_components/permission-graph-container.tsx
  apps/torus-portal/src/app/permission-graph/_components/permission-graph-utils.ts
  apps/torus-portal/src/trpc/react.tsx
  packages/api/src/root.ts
  packages/api/src/router/permission/index.ts
  packages/api/src/router/permission/permission-details.ts
  packages/db/scriptexample.txt
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance permission form components by utilizing dynamic field paths and implementing controlled inputs for expressions
  apps/torus-portal/src/app/_components/permission-form/base-constraint-field.tsx
  apps/torus-portal/src/app/_components/permission-form/bool-expr-field.tsx
  apps/torus-portal/src/app/_components/permission-form/example-constraint-button.tsx
  apps/torus-portal/src/app/_components/permission-form/form-utils.ts
  apps/torus-portal/src/app/_components/permission-form/num-expr-field.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add permission and constraint schemas to enhance permission management and relationships in Torus Portal's database structure
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove obsolete CSS and update layout structure for permission flow components in Torus Portal
  apps/torus-portal/src/app/(permission-flow)/_components/index.css
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-container.tsx
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-custom-node.tsx
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-sidebar.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add permission flow visualizer and update form to enhance user experience and improve permission management in Torus Portal
  apps/torus-portal/package.json
  apps/torus-portal/src/app/_components/permission-form/permission-flow-visualizer.tsx
  apps/torus-portal/src/app/_components/permission-form/permission-form-schemas.ts
  apps/torus-portal/src/app/_components/permission-form/permission-form.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: restructure permission graph layout for improved accessibility and usability in Torus Portal
  apps/torus-portal/src/app/_components/permission-graph/permission-graph-container.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update schema imports to refine database structure and improve type safety in Torus Portal's schema definition
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add auto layout example
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/algorithms/d3-hierarchy.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/algorithms/dagre.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/algorithms/elk.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/algorithms/index.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/index.css
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/index.tsx
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/initialElements.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/useAutoLayout.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/utils.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/xy-theme.css
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-container.tsx
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-sidebar.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: replace initial nodes with a selector node and update permission flow handling in Torus Portal
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-initial-elements.ts
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-selector-node.tsx
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: clean up unused parts of layout example
  apps/torus-portal/package.json
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/algorithms/d3-hierarchy.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/algorithms/dagre.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/algorithms/elk.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/algorithms/index.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/index.tsx
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/initialElements.ts
  apps/torus-portal/src/app/(permission-flow)/_components/auto-layout-example/useAutoLayout.ts
  apps/torus-portal/src/app/(permission-flow)/page.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement NodeDetails and UtilityButtons for enhanced agent permissions display in Torus Portal
  apps/torus-portal/src/app/_components/portal-agent-image-item.tsx
  apps/torus-portal/src/app/_components/portal-agent-item.tsx
  apps/torus-portal/src/app/permission-graph/_components/node-details/_components/agent-card.tsx
  apps/torus-portal/src/app/permission-graph/_components/node-details/_components/node-details-card.tsx
  apps/torus-portal/src/app/permission-graph/_components/node-details/_components/utility-buttons-description.tsx
  apps/torus-portal/src/app/permission-graph/_components/node-details/index.tsx
  apps/torus-portal/src/app/permission-graph/_components/node-details/permission-graph-node-details.tsx
  apps/torus-portal/src/app/permission-graph/_components/permission-graph-container.tsx
  apps/torus-portal/src/app/permission-graph/_components/permission-graph-utils.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: rename stuff
  apps/torus-portal/package.json
  apps/torus-portal/src/app/(permission-flow)/_components/index.css
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-d3-algorithm.ts
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-initial-elements.ts
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-node-selector.tsx
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-types.ts
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow-utils.ts
  apps/torus-portal/src/app/(permission-flow)/_components/permission-flow.tsx
  apps/torus-portal/src/app/(permission-flow)/_components/use-auto-layout.ts
  apps/torus-portal/src/app/(permission-flow)/_components/xy-theme.css
  apps/torus-portal/src/app/(permission-flow)/page.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
