Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

feat: add useSignIn hook for user authentication
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

refactor: rename isCadreUser to isUserCadre for consistency and clarity
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

feat: add cadre candidates and cadre list queries to governance context
  apps/torus-governance/src/context/governance-provider.tsx
Due: torus-governance, check-torus-governance

refactor: remove unused router import and streamline candidate creation logic
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

refactor: integrate authentication state into governance context and update sign-in logic
  apps/torus-governance/hooks/use-sign-in.tsx
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
  apps/torus-governance/src/context/governance-provider.tsx
Due: torus-governance, check-torus-governance

feat: remove CadreMembersList and CadreRequestsList components
  apps/torus-governance/src/app/cadre/_components/cadre-members-list.tsx
  apps/torus-governance/src/app/cadre/_components/cadre-requests-list.tsx
  apps/torus-governance/src/app/cadre/_components/index.ts
  apps/torus-governance/src/app/cadre/page.tsx
Due: torus-governance, check-torus-governance

fix: env
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

refactor: clean up whitespace and improve code formatting in db.ts
  apps/torus-worker/src/db.ts
Due: torus-worker, check-torus-worker

refactor: enhance CuratorCandidatesList component with improved vote handling and status display
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/curator-not-authenticated.tsx
Due: torus-governance, check-torus-governance

feat: add delete functionality for cadre votes and update query input schema
  packages/api/src/router/cadre/cadre-vote.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update wording for Curator DAO prompts and improve accessibility messages
  apps/torus-governance/src/app/components/comments/create-comment.tsx
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
Due: torus-governance, check-torus-governance

refactor: adjust padding and animation styles in ExpandedViewContent component
  apps/torus-governance/src/app/components/expanded-view-content.tsx
Due: torus-governance, check-torus-governance

feat: consolidate sign-in logic by integrating selectedAccount from useTorus
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

feature: cadre members management
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add additional labels for apps
  apps/torus-allocator/values.yaml
  apps/torus-bridge/values.yaml
  apps/torus-cache/values.yaml
  apps/torus-governance/values.yaml
  apps/torus-page/values.yaml
  apps/torus-wallet/values.yaml
  apps/torus-worker/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add monitor job
  .github/workflows/app-deployment-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

increase time for logs
  .github/workflows/app-deployment-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refac: moving bar
  apps/torus-staking/src/app/components/apr-display/index.tsx
  apps/torus-staking/src/app/components/apr-display/running-apr-bar.tsx
  apps/torus-staking/src/app/components/hero-section/ClientHeroSection.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add tsimportsorter extension to VSCode configuration
  .vscode/extensions.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

disable worker and bridge preview
  .github/workflows/torus-bridge.yml
  .github/workflows/torus-worker.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

test new pr preview naming
  .github/workflows/pr-preview-template.yml
  .github/workflows/torus-allocator.yml
  .github/workflows/torus-cache.yml
  .github/workflows/torus-governance.yml
  .github/workflows/torus-page.yml
  .github/workflows/torus-wallet.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: polished hero section
  apps/torus-staking/src/app/components/apr-display/running-apr-bar.tsx
  apps/torus-staking/src/app/components/hero-section/ClientHeroSection.tsx
  apps/torus-staking/src/app/components/wallet-balance.tsx
  apps/torus-staking/src/styles/globals.css
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: validate TORUS_CURATOR_MNEMONIC and get from value; some restructuring of process-dao-applications
  apps/torus-worker/package.json
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/values.yaml
  packages/subspace/src/modules/governance.ts
  packages/utils/src/env.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance AgentItem component layout and improve accessibility; update delegated-list error message
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/delegated-list.tsx
  packages/ui/src/components/footer.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add checkSession mutation to validate JWT tokens
  packages/api/src/router/auth.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: clean up code formatting in cadre vote router
  packages/api/src/router/cadre/cadre-vote.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: reset authentication state on account change
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

feat: implement render list component with agent applications and proposals
  apps/torus-governance/src/app/components/render-list/index.tsx
  apps/torus-governance/src/app/components/render-list/list-agent-applications.tsx
  apps/torus-governance/src/app/components/render-list/list-container.tsx
  apps/torus-governance/src/app/components/render-list/list-proposals.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

refactor: clean up code formatting and improve readability across multiple files
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/api/src/router/auth.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: remove ListCards component and associated logic
  apps/torus-governance/src/app/components/list-cards.tsx
Due: torus-governance, check-torus-governance

feat: improve accessibility and streamline animations in various components
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/components/agent-application/voter-list.tsx
  apps/torus-governance/src/app/components/comments/view-comment.tsx
  apps/torus-governance/src/app/components/details-card.tsx
Due: torus-governance, check-torus-governance

feat: layout wip
  apps/torus-governance/src/app/cadre/_components/cadre-members-list.tsx
  apps/torus-governance/src/app/cadre/_components/cadre-requests-list.tsx
  apps/torus-governance/src/app/cadre/page.tsx
Due: torus-governance, check-torus-governance
