Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**

feat: auto network switching
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  packages/subspace/src/evm.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

refactor: simplify ConnectButton component and update button styles
  apps/torus-bridge/src/app/_components/buttons/connect-button.tsx
  apps/torus-bridge/src/app/page.tsx
  packages/ui/src/components/wallet-dropdown.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

add missing NEXT_PUBLIC_TORUS_RPC_HTTPS_URL on Dockerfile
  docker/Dockerfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: withdraw fn encoding
  packages/subspace/src/evm.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: implement TransferDetails component with status icons and properties; enhance global styles for toast notifications
  apps/torus-bridge/src/app/_components/transfer-details/_components/get-icon-by-transfer-status.tsx
  apps/torus-bridge/src/app/_components/transfer-details/_components/get-transfer-status-label.tsx
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-property.tsx
  apps/torus-bridge/src/app/_components/transfer-details/index.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/styles/globals.css
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: set NEXT_PUBLIC_WALLET_CONNECT_ID in Dockerfile
  docker/Dockerfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: cleanup unused components
  apps/torus-bridge/src/app/_components/app-layout.tsx
  apps/torus-bridge/src/app/_components/buttons/connect-aware-submit-button.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-review.tsx
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/_components/tokens/select-or-Input-token-ids.tsx
  apps/torus-bridge/src/app/_components/tokens/token-select-field.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/token-section.tsx
  apps/torus-bridge/src/hooks/use-token-transfer.ts
  packages/subspace/src/evm.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: implement dynamic chain values for Torus and Base environments in wallet balance component
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/config.ts
  apps/torus-bridge/src/consts/warp-route-whitelist.ts
  apps/torus-bridge/src/env.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: update IntroSection layout and enhance wallet connection prompt; refactor ButtonSection button variant and improve WalletDropdown display logic
  apps/torus-bridge/src/app/_components/shared/intro.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  packages/ui/src/components/wallet-dropdown.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: replaced to production warp routes
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/chains.yaml
  apps/torus-bridge/src/consts/warp-routes.ts
  apps/torus-bridge/src/consts/warp-routes.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: replace TOR -> TORUS
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  packages/ui/src/components/wallet-dropdown.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: update warp route on testnet
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/chains.yaml
  apps/torus-bridge/src/consts/warp-route-whitelist.ts
  apps/torus-bridge/src/consts/warp-routes.ts
  apps/torus-bridge/src/consts/warp-routes.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: remove residual `ethers` dependency
  apps/torus-bridge/package.json
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: make `warp-route.ts` consistent with `warp-routes.yaml`
  apps/torus-bridge/src/consts/warp-routes.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: display EVM and Base balances
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat/fix: step dialog, metamask wallet conection error
  apps/torus-bridge/src/app/_components/chains/chain-select-field.tsx
  apps/torus-bridge/src/app/_components/select-action-dialog.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/swap-chain-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/select-chain-section.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/utils/query-params.ts
  apps/torus-wallet/src/app/components/sidebar-links.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: 11:11 IS THE HEAD OF MY LITTLE PIPI
  apps/torus-bridge/src/app/_components/select-action-dialog.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-review.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  packages/subspace/src/evm.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: add `viem` as `subspace` dependency
  packages/subspace/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: warp routes
  apps/torus-bridge/src/config.ts
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/warp-routes.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: workers
  .vscode/settings.json
  README.md
  apps/torus-worker/package.json
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/db/type-transformations.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/weights.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/db/package.json
  packages/db/src/schema.ts
  packages/subspace/src/main.ts
  packages/subspace/src/modules/governance.ts
  packages/subspace/src/modules/subspace.ts
  packages/subspace/src/types/zod.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: adjust new useKeyStakedBy return
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/components/popover-info.tsx
  apps/torus-validator/src/app/components/sidebar-info.tsx
Due: torus-validator

chore: workers TODOs
  apps/torus-worker/src/index.ts
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: intro included on page
  apps/torus-validator/src/app/components/intro.tsx
  apps/torus-validator/src/app/page.tsx
Due: torus-validator

feat: adjust info containers
  apps/torus-validator/src/app/components/popover-info.tsx
  apps/torus-validator/src/app/components/sidebar-info.tsx
Due: torus-validator

feat: enhanced tutorial and link to setup a wallet
  apps/torus-validator/src/app/components/tutorial-dialog.tsx
  packages/ui/src/components/no-wallet-extension-display.tsx
  packages/ui/src/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

chore: fixing .dockerignore
  .dockerignore
  .gitignore
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

chore: adjust type gen recipe to auto dump metadata
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

refactor: changed computedWeights to numeric
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

WIP
  .vscode/settings.json
  apps/torus-worker/src/common/env.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  justfile
  scripts/dev-helper
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: AgentPage params on next 15
  apps/torus-validator/src/app/(expanded-pages)/agent/[slug]/page.tsx
Due: torus-validator

fix: wait for block
  apps/torus-worker/src/workers/process-dao-applications.ts
Due: torus-worker

fix: header and intro to get in front of the allocator menu
  apps/torus-wallet/src/app/components/intro.tsx
  packages/ui/src/components/header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix:
  apps/torus-worker/src/common/index.ts
Due: torus-worker

chore: run lint
  apps/torus-worker/src/weights.ts
  packages/db/src/schema.ts
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: small improvements
  apps/torus-validator/src/app/components/agent-info-card.tsx
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/layout.tsx
Due: torus-validator

feat: change helmfile from validator to allocator
  apps/torus-validator/helmfile.yaml
Due: torus-validator

fix: agent schema
  apps/torus-worker/src/db.ts
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

refactor: changed return
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

WIP
  apps/torus-worker/package.json
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/env.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/db/src/schema.ts
  packages/utils/package.json
  packages/utils/src/collections.ts
  pnpm-lock.yaml
  scripts/dev-helper
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

chore: add .git to .dockerignore +
  .dockerignore
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache
