Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

feat: consolidate sign-in logic by integrating selectedAccount from useTorus
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

refactor: adjust padding and animation styles in ExpandedViewContent component
  apps/torus-governance/src/app/components/expanded-view-content.tsx
Due: torus-governance, check-torus-governance

feat: add useSignIn hook for user authentication
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

refactor: clean up whitespace and improve code formatting in db.ts
  apps/torus-worker/src/db.ts
Due: torus-worker, check-torus-worker

refactor: enhance CuratorCandidatesList component with improved vote handling and status display
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/curator-not-authenticated.tsx
Due: torus-governance, check-torus-governance

feat: remove CadreMembersList and CadreRequestsList components
  apps/torus-governance/src/app/cadre/_components/cadre-members-list.tsx
  apps/torus-governance/src/app/cadre/_components/cadre-requests-list.tsx
  apps/torus-governance/src/app/cadre/_components/index.ts
  apps/torus-governance/src/app/cadre/page.tsx
Due: torus-governance, check-torus-governance

refactor: unhardcoding discordId
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
Due: torus-worker, check-torus-worker

fix: env
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

refactor: rename isCadreUser to isUserCadre for consistency and clarity
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

feat: add curator candidates list and authentication components
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/curator-not-authenticated.tsx
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
  packages/api/src/root.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update wording for Curator DAO prompts and improve accessibility messages
  apps/torus-governance/src/app/components/comments/create-comment.tsx
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
Due: torus-governance, check-torus-governance

feat: add checkSession mutation to validate JWT tokens
  packages/api/src/router/auth.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement render list component with agent applications and proposals
  apps/torus-governance/src/app/components/render-list/index.tsx
  apps/torus-governance/src/app/components/render-list/list-agent-applications.tsx
  apps/torus-governance/src/app/components/render-list/list-container.tsx
  apps/torus-governance/src/app/components/render-list/list-proposals.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

feat: layout wip
  apps/torus-governance/src/app/cadre/_components/cadre-members-list.tsx
  apps/torus-governance/src/app/cadre/_components/cadre-requests-list.tsx
  apps/torus-governance/src/app/cadre/page.tsx
Due: torus-governance, check-torus-governance

feat: add cadre candidates and cadre list queries to governance context
  apps/torus-governance/src/context/governance-provider.tsx
Due: torus-governance, check-torus-governance

feat: remove ListCards component and associated logic
  apps/torus-governance/src/app/components/list-cards.tsx
Due: torus-governance, check-torus-governance

set branches for migrations pipeline
  .github/workflows/migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feature: cadre members management
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: setting up migrations
  drizzle.config.ts
  packages/db/drizzle/0000_handy_arachne.sql
  packages/db/drizzle/0000_naive_anthem.sql
  packages/db/drizzle/dump.sql
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/drizzle/relations.ts
  packages/db/drizzle/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add migration pipeline
  .github/workflows/migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: application status checks
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/subspace/src/modules/governance.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update pinFileOnPinata function to return a structured response interface
  apps/torus-governance/src/app/api/files/route.ts
Due: torus-governance, check-torus-governance

feat: enhance modal component with dynamic view management
  apps/torus-governance/src/app/components/modal.tsx
Due: torus-governance, check-torus-governance

feat: add query functions for burn value and agents, and integrate them into governance context
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  packages/query-provider/src/hooks.ts
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add user balance check, notes and error for proposal submission
  apps/torus-governance/src/app/components/proposal/create-proposal.tsx
Due: torus-governance, check-torus-governance

feat: add user balance check and notification for DAO treasury proposal submission
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
Due: torus-governance, check-torus-governance

feat: disable search input and icon when governance is not initialized
  apps/torus-governance/src/app/components/filter-content.tsx
Due: torus-governance, check-torus-governance

feat: new register-agent wip
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

feat: enhance RegisterAgent component with URL parsing and improved previews
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

feat: refactor CreateAgentApplication component to improve IPFS handling and form submission logic
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
Due: torus-governance, check-torus-governance

feat: update pinFile function to return a structured PinFileOnPinataResponse type
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

fix: correct placeholder text format in CreateAgentApplication component
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
Due: torus-governance, check-torus-governance

feat: add validation for agent API URL and improve metadata handling in RegisterAgent component
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

fix: remove debug console log from smallFilename function
  packages/utils/src/files.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
