Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

feat: add loading component for agent page and improve UI with skeletons in the allocator app for better user experience
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/loading.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-allocator/src/app/(main-page)/allocated-agents/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement view selector component to switch between agent views and enhance layout in the allocator app's main page
  apps/torus-allocator/src/app/(main-page)/allocated-agents/page.tsx
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/app/_components/view-selector.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add environment variables to the helm setup
  apps/torus-governance/values.yaml
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

added missing variable
  apps/torus-governance/values.yaml
Due: torus-governance, check-torus-governance

Davi explained to me how it should work, basedo n what i Understood, here's the fixes
  apps/torus-governance/values.yaml
Due: torus-governance, check-torus-governance

added missing file
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

change from secret ref to mapping
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add search filter functionality to allocated agents page for improved agent retrieval and user experience
  apps/torus-allocator/src/app/(main-page)/allocated-agents/page.tsx
  apps/torus-allocator/src/app/_components/filter-content.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

disable bridge deploy pipeline
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

adjust values.yaml
  apps/torus-governance/values.yaml
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix inconsistency on names
  apps/torus-governance/values.yaml
Due: torus-governance, check-torus-governance

feat: enhance APRBar components with shared data group structure and skeleton entries
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-base.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-shared.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-entry.tsx
Due: torus-wallet, check-torus-wallet

refactor: remove unnecessary "use client" directive from AppBarLabelProps
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-shared.tsx
Due: torus-wallet, check-torus-wallet

refactor: remove ClientHeroSection and related shader files from animation components
  apps/torus-wallet/src/app/components/animation/client-hero-section.tsx
  apps/torus-wallet/src/app/components/animation/shader-material.tsx
  apps/torus-wallet/src/app/components/animation/shaders/fragment.glsl
  apps/torus-wallet/src/app/components/animation/shaders/vertex.glsl
  apps/torus-wallet/src/app/layout.tsx
Due: torus-wallet, check-torus-wallet

refactor: remove unused GLSL dependencies and shader file handling from configuration
  apps/torus-wallet/next.config.mjs
  apps/torus-wallet/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: optimize Clock component by using useMemo for options and adding tick dependency in useEffect
  packages/ui/src/components/clock.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: ensure APR value is displayed correctly by removing optional chaining
  apps/torus-wallet/src/app/components/apr-bar/apr-entry.tsx
Due: torus-wallet, check-torus-wallet

feat: update agent info card to utilize weightFactor in USD calculations for better accuracy in the allocator app
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/agent-info-card.tsx
  apps/torus-allocator/src/app/(main-page)/allocated-agents/page.tsx
  apps/torus-allocator/src/app/(main-page)/layout.tsx
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-header.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/index.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-actions.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-sheet-trigger.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/selected-agents-label.tsx
  apps/torus-allocator/src/app/_components/filter-content.tsx
  apps/torus-allocator/src/app/_components/view-selector.tsx
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
  apps/torus-allocator/src/stores/delegateAgentStore.ts
  packages/api/src/router/agent/agent.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: remove unused DelegateModuleWeight component and update agent item card props for consistent weight factor handling in allocator app
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-allocator/src/app/(main-page)/allocated-agents/page.tsx
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-footer.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-header.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/index.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-actions.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/index.tsx
  apps/torus-allocator/src/app/_components/delegate-module-weight.tsx
  apps/torus-allocator/src/stores/delegateAgentStore.ts
  packages/api/src/router/agent/user-agent-weight.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance loading component animations and update filter logic for better user experience in the allocator app
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/loading.tsx
  apps/torus-allocator/src/app/(main-page)/allocated-agents/page.tsx
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/app/_components/filter-content.tsx
  apps/torus-allocator/src/app/_components/pagination-nav.tsx
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: comment out registration block in AgentInfoCard for clarity and to streamline agent data presentation in the allocator app
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/agent-info-card.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: simplify messaging in allocated agents page, improve unsaved changes prompt, and enhance clarity in allocation components
  apps/torus-allocator/src/app/(main-page)/allocated-agents/page.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-agent-list.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/get-submit-status.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: Discord auth for curator dao applications(WEB 166) (#156)
  apps/torus-governance/hooks/use-discord-info.tsx
  apps/torus-governance/package.json
  apps/torus-governance/src/app/api/auth/[...nextauth]/route.ts
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/discord-auth-button.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/app/providers/auth-provider.tsx
  apps/torus-governance/src/env.ts
  apps/torus-governance/src/utils/auth-config.ts
  apps/torus-governance/values.yaml
  helm/values.yaml
  packages/api/src/root.ts
  packages/api/src/router/cadre/discord-info.ts
  packages/db/drizzle/0006_living_raider.sql
  packages/db/drizzle/0007_seed-discord.sql
  packages/db/drizzle/meta/0006_snapshot.json
  packages/db/drizzle/meta/0007_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/src/schema.ts
  packages/db/src/validation.ts
  packages/ui/src/components/icons.tsx
  pnpm-lock.yaml
  turbo.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

tava ocupado po
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

waaaa
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

waaaa (#160)
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

Hotfix the message from the already registered discord member
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

Hotfix the message from the already registered discord member (#161)
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

style: update sidebar-info layout with flexbox for improved responsiveness in DAO incentives section
  apps/torus-governance/src/app/components/sidebar-info.tsx
Due: torus-governance, check-torus-governance

feat: add agent deletion functionality with toast notifications and refetching in AllocationAgentList component
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-agent-list.tsx
  packages/api/src/router/agent/user-agent-weight.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: analytics on all web apps
  apps/torus-allocator/package.json
  apps/torus-allocator/src/app/layout.tsx
  apps/torus-governance/package.json
  apps/torus-governance/src/app/layout.tsx
  apps/torus-page/package.json
  apps/torus-page/src/app/layout.tsx
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/layout.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: analytics on all web apps (#163)
  apps/torus-allocator/package.json
  apps/torus-allocator/src/app/layout.tsx
  apps/torus-governance/package.json
  apps/torus-governance/src/app/layout.tsx
  apps/torus-page/package.json
  apps/torus-page/src/app/layout.tsx
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/layout.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: animation speed varying on display refresh rate
  apps/torus-page/src/app/_components/torus-animation.tsx
Due: torus-page, check-torus-page

Revert crappy PR Preview naming scheme
  .github/workflows/pr-preview-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

test
  apps/torus-governance/src/app/loader.tsx
Due: torus-governance, check-torus-governance

fix quote
  .github/workflows/pr-preview-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

I'm dumb
  .github/workflows/pr-preview-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

WIP i forgot which number
  apps/torus-governance/src/app/components/cadre/candidate-card.tsx
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/render-list/index.tsx
  apps/torus-governance/src/app/components/render-list/list-cadre-candidates.tsx
  packages/api/src/router/cadre/cadre-candidate.ts
  packages/ui/src/components/icons.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
