Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

refactor: improve feed page tabs structure for better usability and code clarity
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/feed/page.tsx
  packages/api/src/router/star/star.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add simple prediction grouping function for watch/star routers to enhance thread context handling
  packages/api/src/router/prediction/prediction.ts
  packages/api/src/router/star/star.ts
  packages/api/src/router/watch/watch.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: star predictions (#414)
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/feed/page.tsx
  apps/prediction-swarm/src/app/_components/user-profile/profile-feed.tsx
  apps/prediction-swarm/src/app/_components/user-profile/star-button.tsx
  packages/api/src/root.ts
  packages/api/src/router/prediction/prediction.ts
  packages/api/src/router/star/star.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore(verifier): skip duplicate predictions (#411)
  apps/torus-swarm-verifier/src/dedup-retroactive.ts
  apps/torus-swarm-verifier/src/verifier.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

rest server
  apps/prediction-swarm-api/eslint.config.js
  apps/prediction-swarm-api/package.json
  apps/prediction-swarm-api/src/context.ts
  apps/prediction-swarm-api/src/env.ts
  apps/prediction-swarm-api/src/index.ts
  apps/prediction-swarm-api/src/middleware/auth.ts
  apps/prediction-swarm-api/src/routes/predictions.ts
  apps/prediction-swarm-api/src/routes/tweets.ts
  apps/prediction-swarm-api/src/schemas/predictions.ts
  apps/prediction-swarm-api/src/schemas/tweets.ts
  apps/prediction-swarm-api/src/server.ts
  apps/prediction-swarm-api/src/utils/cursor.ts
  apps/prediction-swarm-api/src/utils/errors.ts
  apps/prediction-swarm-api/tsconfig.json
  package.json
  packages/api/src/services/permission-cache.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

removed test command
  apps/torus-swarm-services/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

format fix
  apps/prediction-swarm-api/package.json
  apps/prediction-swarm-api/src/context.ts
  apps/prediction-swarm-api/src/env.ts
  apps/prediction-swarm-api/src/routes/predictions.ts
  apps/prediction-swarm-api/src/routes/tweets.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

format
  packages/api/src/services/permission-cache.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add View More component to enhance content visibility on Torus page
  apps/torus-page/src/app/_components/view-more.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/app/page.tsx
Due: torus-page, check-torus-page

fix(torus-bridge): activate step 2 after step 1 completes and handle invalid txId
  apps/torus-bridge/src/app/fast/_components/fast-bridge-form.tsx
  apps/torus-bridge/src/app/fast/hooks/use-transaction-lifecycle-steps.ts
Due: torus-bridge, check-torus-bridge

fix(torus-bridge): fix step 2 baseline balance capture in base-to-native flow
  apps/torus-bridge/src/app/fast/hooks/fast-bridge-base-to-native-flow.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
Due: torus-bridge, check-torus-bridge

refactor(torus-bridge): remove unused baseBalance parameter from native-to-base step 2
  apps/torus-bridge/src/app/fast/hooks/fast-bridge-native-to-base-flow.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
Due: torus-bridge, check-torus-bridge

fix(torus-bridge): fix retry transfer from step 1 not working
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
Due: torus-bridge, check-torus-bridge

feat(torus-bridge): create transaction history at step 2 start
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
Due: torus-bridge, check-torus-bridge

fix(torus-bridge): prevent F5 recovery from re-triggering during active transfer
  apps/torus-bridge/src/app/fast/_components/fast-bridge-form.tsx
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
Due: torus-bridge, check-torus-bridge

fix(torus-bridge): show amount after gas reserve in EVM Recover dialog
  apps/torus-bridge/src/app/fast/_components/fast-bridge-quick-send-evm-dialog.tsx
Due: torus-bridge, check-torus-bridge

fix(torus-bridge): reserve gas for EVM to Native transfer
  apps/torus-bridge/src/app/fast/_components/fast-bridge-form.tsx
Due: torus-bridge, check-torus-bridge

feat(torus-bridge): include recovered transactions in Completed tab
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-history-dialog.tsx
Due: torus-bridge, check-torus-bridge

fix(torus-bridge): use green color for Recovered badge like Success
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-history-item.tsx
Due: torus-bridge, check-torus-bridge

fix(torus-bridge): create history entry when step 1 enters confirming
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
Due: torus-bridge, check-torus-bridge

chore(torus-bridge): remove debug console.logs
  apps/torus-bridge/src/app/fast/_components/fast-bridge-form.tsx
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
Due: torus-bridge, check-torus-bridge

limit on next tweets
  apps/prediction-swarm-api/src/schemas/tweets.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

increased maximum staleness
  apps/prediction-swarm-api/src/middleware/auth.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

better tweetId validation
  apps/prediction-swarm-api/src/schemas/predictions.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

signed errors
  apps/prediction-swarm-api/src/routes/predictions.ts
  apps/prediction-swarm-api/src/utils/errors.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

serving .md on root
  apps/prediction-swarm-api/API_DOCUMENTATION.md
  apps/prediction-swarm-api/src/server.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

format fix
  apps/prediction-swarm-api/API_DOCUMENTATION.md
  apps/prediction-swarm-api/src/routes/predictions.ts
  apps/prediction-swarm-api/src/server.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: prediction details sources
  apps/prediction-swarm/src/app/_components/user-profile/profile-feed.tsx
  packages/api/src/router/prediction/prediction.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix(torus-bridge): reset state when closing dialog and starting new transfer
  apps/torus-bridge/src/app/fast/_components/fast-bridge-form.tsx
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
Due: torus-bridge, check-torus-bridge

rendering docs
  apps/prediction-swarm-api/API_DOCUMENTATION.md
  apps/prediction-swarm-api/docs/swarm_documentation.md
  apps/prediction-swarm-api/package.json
  apps/prediction-swarm-api/src/server.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

hotfix: URL on swarm docs
  apps/prediction-swarm-api/docs/swarm_documentation.md
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: prettify when committing (#406)
  .github/renovate.json
  .github/workflows/main.yml
  .pre-commit-config.yaml
  .prettierignore
  CLAUDE.md
  README.md
  docs/DOCUMENTATION_STYLE.md
  docs/ESM_MODULE_RESOLUTION.md
  examples/example-client/src/index.ts
  flake.lock
  flake.nix
  justfile
  packages/env-validation/src/EnvScript.tsx
  packages/env-validation/tsconfig.json
  packages/torus-sdk-ts/src/__tests__/agent/test-client-auth.ts
  packages/torus-sdk-ts/src/__tests__/agent/test-client.ts
  packages/torus-sdk-ts/src/__tests__/agent/test-server-auth.ts
  packages/torus-sdk-ts/src/__tests__/agent/test-server.ts
  packages/torus-sdk-ts/src/__tests__/chain-tx/extrinsics-parsers.test.ts
  packages/torus-sdk-ts/src/__tests__/chain-tx/extrinsics.test.ts
  packages/torus-sdk-ts/src/__tests__/types/namespace/agent-name.test.ts
  packages/torus-sdk-ts/src/__tests__/types/namespace/validation.test.ts
  scripts/git-hooks/pre-commit
  scripts/git-hooks/pre-push
  tooling/typescript/package.json
  turbo.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

remove health probes from swarm-verifier on values.yaml
  apps/torus-swarm-verifier/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: handle undefined field values in form components
  apps/torus-governance/src/app/_components/agent-application/penalty-manager.tsx
  apps/torus-portal/src/app/(pages)/network-operations/manage-agent/_components/update-agent-form-fields.tsx
  apps/torus-portal/src/app/(pages)/signals/create-signal/_components/create-signal-fields/create-signal-markdown-field.tsx
  apps/torus-portal/src/app/(pages)/signals/create-signal/_components/create-signal-fields/create-signal-slider-field.tsx
  apps/torus-wallet/src/app/(transfers)/_components/send/send-form.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style(torus-wallet): apply prettier formatting to faucet components
  apps/torus-wallet/src/app/(transfers)/_components/faucet/faucet.tsx
  apps/torus-wallet/src/utils/faucet.ts
Due: torus-wallet, check-torus-wallet

fix(torus-wallet): resolve faucet resource leaks and error handling issues
  apps/torus-wallet/src/app/(transfers)/_components/faucet/faucet.tsx
  apps/torus-wallet/src/utils/faucet.ts
Due: torus-wallet, check-torus-wallet

fix(torus-wallet): resolve TypeScript 'possibly undefined' error in manager
  apps/torus-wallet/src/utils/faucet.ts
Due: torus-wallet, check-torus-wallet
