Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

feat: add footer component with social links and branding
  apps/torus-page/src/app/components/footer.tsx
  apps/torus-page/src/app/layout.tsx
  packages/ui/src/components/footer.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

[DON'T MERGE THIS COMMIT TO MAIN] change ingress controller
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: disable buttons when no account is selected and adjust layout for better spacing
  apps/torus-bridge/src/app/_components/buttons/connect-button.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/context/app-context-provider.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/validators-list.tsx
  packages/ui/src/components/clock.tsx
  packages/ui/src/components/footer.tsx
  packages/ui/src/components/header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: refactor Clock component to remove Suspense and load dynamically in Footer
  packages/ui/src/components/clock.tsx
  packages/ui/src/components/footer.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused IntroSection component and update wallet balance handling
  apps/torus-bridge/src/app/_components/shared/intro.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/page.tsx
  packages/ui/src/components/footer.tsx
  packages/ui/src/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update button text for clarity in wallet actions
  apps/torus-wallet/src/app/components/wallet-actions.tsx
Due: torus-wallet, check-torus-wallet

fix: fee display when wallet is not connected
  apps/torus-wallet/src/app/components/actions/bridge.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/fee-label.tsx
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
Due: torus-wallet, check-torus-wallet

feat: add footer component with clock and app links
  apps/torus-wallet/src/app/layout.tsx
  packages/ui/src/components/clock.tsx
  packages/ui/src/components/footer.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: polish bg color, input and texts in ui library
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: field and text field background color across apps
  apps/torus-bridge/src/app/_components/text-field.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  packages/ui/src/components/text-area.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "[DON'T MERGE THIS COMMIT TO MAIN] change ingress controller"
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: filter out proposals created by mistake
  apps/torus-governance/src/context/governance-provider.tsx
Due: torus-governance, check-torus-governance

feat: env-validation package
  packages/env-validation/eslint.config.js
  packages/env-validation/package.json
  packages/env-validation/src/EnvScript.tsx
  packages/env-validation/src/index.ts
  packages/env-validation/tsconfig.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add @torus-ts/env-validation package to torus-wallet
  apps/torus-wallet/next.config.mjs
  apps/torus-wallet/package.json
Due: torus-wallet, check-torus-wallet

fix: type inference of `env()` output ; record of zod schemas instead of object zod schema for env; don't fill process.env;
  apps/torus-wallet/src/app/components/wallet-header.tsx
  apps/torus-wallet/src/env.ts
  packages/env-validation/src/EnvScript.tsx
  packages/ui/src/components/layout.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add key to scripts on header
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: pnpm-lock
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: ?
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

fix: remove env validation on build of torus-wallet
  apps/torus-wallet/next.config.mjs
Due: torus-wallet, check-torus-wallet

feat: add parse per key on env()
  packages/env-validation/package.json
  packages/env-validation/src/EnvScript.tsx
  packages/env-validation/tsconfig.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add headScripts to ui layout
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update wallet env
  apps/torus-validator/src/trpc/server.ts
  apps/torus-wallet/package.json
  apps/torus-wallet/src/env.ts
Due: torus-validator, torus-wallet, check-torus-validator, check-torus-wallet

feat: use envScript for validation and runtime
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

chore: fix txt
  packages/env-validation/src/EnvScript.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: rm @t3-oss/env-nextjs
  apps/torus-wallet/package.json
Due: torus-wallet, check-torus-wallet

feat: add env-validation to torus-page
  apps/torus-page/next.config.mjs
  apps/torus-page/package.json
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/env.ts
Due: torus-page, check-torus-page

feat: add env-validation to torus-bridge
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/package.json
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/consts/config.ts
  apps/torus-bridge/src/consts/warp-route-whitelist.ts
  apps/torus-bridge/src/context/app-context-provider.tsx
  apps/torus-bridge/src/env.ts
Due: torus-bridge, check-torus-bridge

fix: use reflect to avoid inlining by next
  apps/torus-bridge/src/env.ts
  apps/torus-governance/src/env.ts
  apps/torus-page/src/env.ts
  apps/torus-validator/src/env.ts
  apps/torus-wallet/src/env.ts
Due: torus-page, torus-validator, torus-governance, torus-wallet, torus-bridge, check-torus-page, check-torus-validator, check-torus-governance, check-torus-wallet, check-torus-bridge

feat: add env-validation to torus-validator
  apps/torus-validator/next.config.mjs
  apps/torus-validator/package.json
  apps/torus-validator/src/app/api/trpc/[trpc]/route.ts
  apps/torus-validator/src/app/components/allocator-header.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-validator/src/env.ts
  apps/torus-validator/src/trpc/react.tsx
Due: torus-validator, check-torus-validator

feat: add env-validation to torus-governance
  apps/torus-governance/next.config.mjs
  apps/torus-governance/package.json
  apps/torus-governance/src/app/api/files/route.ts
  apps/torus-governance/src/app/api/trpc/[trpc]/route.ts
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-governance/src/env.ts
  apps/torus-governance/src/trpc/react.tsx
  apps/torus-governance/src/trpc/server.ts
Due: torus-governance, check-torus-governance

refactor: clean up unused imports and simplify RootLayout component
  apps/torus-validator/src/app/layout.tsx
Due: torus-validator, check-torus-validator

fix: checks
  apps/torus-bridge/src/consts/config.ts
  apps/torus-governance/src/trpc/react.tsx
  apps/torus-validator/src/trpc/react.tsx
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/src/schema.ts
  packages/subspace/src/modules/governance.ts
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
