Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

refactor: enhance error handling using try-catch utility in transaction and metadata processing functions throughout the codebase
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/utils/metadata.ts
  packages/torus-sdk-ts/src/rpc.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove debug console logs from ListWhitelistApplications component (#203)
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
Due: torus-governance, check-torus-governance

refactor: streamline error handling by implementing try-catch for signature verification and data signing in auth functions
  packages/api/src/auth/sign.ts
  packages/api/src/trpc.ts
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-sdk-ts/src/modules/governance.ts
  packages/ui/src/components/discord-widget.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: apply try-catch utility for error handling in various API interactions and data parsing across the codebase
  packages/query-provider/src/hooks.ts
  packages/torus-sdk-ts/src/address.ts
  packages/torus-sdk-ts/src/cached-queries.ts
  packages/torus-sdk-ts/src/evm.ts
  packages/torus-sdk-ts/src/index.ts
  packages/torus-sdk-ts/src/modules/governance.ts
  packages/torus-sdk-ts/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: integrate try-catch utility for error handling in auth-related functions across the codebase
  packages/api/src/auth/index.ts
  packages/api/src/auth/sign.ts
  packages/api/src/client.ts
  packages/api/src/router/auth.ts
  packages/api/src/trpc.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: implement try-catch utility for improved error handling in Discord widget and IPFS functions throughout the codebase
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/torus-provider.tsx
  packages/torus-sdk-ts/src/agent_metadata/agent_metadata.ts
  packages/torus-sdk-ts/src/modules/_common.ts
  packages/ui/src/components/discord-widget.tsx
  packages/utils/src/ipfs.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused DaoDashboardTabs component and refactor dashboard to include new pending DAO member applications card
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dao-dashboard-tabs.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-applications-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-member-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-whitelist-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-redirect-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
  apps/torus-governance/src/app/_components/dao-card/components/card-skeleton.tsx
Due: torus-governance, check-torus-governance

feat: enhance AgentIcon component with more styling options
  apps/torus-allocator/src/app/_components/agent-icon.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix regular job conditional
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add helmfile diff check
  .github/workflows/app-deployment-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add files check for regular deployments
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add deps check job
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix workflow comment title
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add files-check on pr jobs
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

install helm diff
  .github/workflows/app-deployment-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

test files-check on torus-page
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: rename "Edit Agent" to "Update Agent" throughout UI components
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/agent-info-card.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.shared.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-util.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-tabs.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix exit code
  .github/workflows/app-deployment-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

test
  apps/torus-page/values.yaml
Due: torus-page, check-torus-page

Update .github/workflows/app-deployment-template.yml
  .github/workflows/app-deployment-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add agent update form schema and UI components
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-util.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement DashboardPendingDaoMemberCard to display pending applications, enhancing the DAO dashboard's functionality and layout
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-member-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/card-header.tsx
Due: torus-governance, check-torus-governance

chore: remove unused update agent dialog components
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-tabs.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add UpdateAgentDialogButton component for agent updates
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-button.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: improve URL validation and form input placeholders
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add ARIA attributes and simplify agent icon sizing classes
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.shared.tsx
  apps/torus-allocator/src/app/_components/agent-icon.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve error handling by initializing URLs and notifying missing wallet details in transfer components
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
Due: torus-bridge, check-torus-bridge

refactor: enhance error handling across components using try-catch utility for improved stability and maintainability
  apps/torus-bridge/src/app/_components/chains/chain-metadata.ts
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/toast/use-toast-error.tsx
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/validate-form.ts
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/recipient-section.tsx
  apps/torus-bridge/src/config.ts
  apps/torus-bridge/src/context/cosmos-wallet-provider.tsx
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  apps/torus-bridge/src/context/solana-wallet-provider.tsx
  apps/torus-bridge/src/hooks/balance/use-balance.ts
  apps/torus-bridge/src/hooks/token/index.ts
  apps/torus-bridge/src/hooks/token/use-is-approve-required.ts
  apps/torus-bridge/src/hooks/use-balance-watcher.ts
  apps/torus-bridge/src/hooks/use-fee-quotes.ts
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
  apps/torus-bridge/src/hooks/use-token-transfer.ts
  apps/torus-bridge/src/utils/store.ts
  apps/torus-bridge/src/utils/transfer.ts
Due: torus-bridge, check-torus-bridge

refactor: restore torus-bridge job in workflow with conditions and dependencies for better deployment control
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: fix validateUrl and simplify URL validation schemas
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: add jobs for torus-bridge PR activation and deletion in workflow with conditions for better deployment management
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: add error handling for chain metadata and URL search params in torus-bridge utilities for improved reliability
  apps/torus-bridge/src/utils/chain.ts
  apps/torus-bridge/src/utils/query-params.ts
  apps/torus-bridge/src/utils/store.ts
Due: torus-bridge, check-torus-bridge

refactor: remove unused healthCheckPath parameter from torus-bridge job in workflow for cleaner configuration
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update wssApiEndpoint and cacheUrl for dev environment in torus-bridge helmfile and configure CORS proxy in next.config.mjs
  apps/torus-bridge/helmfile.yaml
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/values.yaml
Due: torus-bridge, check-torus-bridge

refactor: update CACHE_URL default port in next.config.mjs for local development in torus-bridge
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

refactor: simplify CACHE_URL definition in next.config.mjs for torus-bridge, removing unnecessary default value
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

refactor: maintain consistent formatting for NEXT_PUBLIC_WALLET_CONNECT_ID in values.yaml for torus-bridge
  apps/torus-bridge/values.yaml
Due: torus-bridge, check-torus-bridge

refactor: comment out CORS proxy rewrites in next.config.mjs for torus-bridge to simplify configuration and reduce complexity
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge
