Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

fix: add loading state to APRBar and refactor components
  apps/torus-wallet/src/app/components/amount-buttons.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-shared.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-bar.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-entry.tsx
  apps/torus-wallet/src/app/components/apr-bar/shimmer-effect.tsx
  apps/torus-wallet/src/hooks/useAPR.ts
Due: torus-wallet, check-torus-wallet

quickfix for the weekly the week display
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Rabbit suggestion to avoid NAN, instead, display 0
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: replace ShimmerEffect with inline animation in APRBar and remove skeleton components
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-base.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-bar/shimmer-effect.tsx
Due: torus-wallet, check-torus-wallet

adjust loading state for the usd price
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

even more visual enhancements
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Further enhancements
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve loading state handling and simplify fee label rendering in components
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-shared.tsx
  apps/torus-wallet/src/app/components/fee-label.tsx
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
Due: torus-wallet, check-torus-wallet

Quickfix display tokens per week (#165)
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-agent-list.tsx
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
  packages/api/src/router/agent/user-agent-weight.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "Quickfix display tokens per week (#165)"
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-agent-list.tsx
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
  packages/api/src/router/agent/user-agent-weight.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

quickfix for the torus price
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

remove logs
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

quickfix for the torus per week (#167)
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "quickfix for the torus per week (#167)"
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: simplify SidebarLinks component by extracting navigation logic and using MobileSelect for better maintainability
  apps/torus-wallet/shaders.d.ts
  apps/torus-wallet/src/app/components/sidebar-links.tsx
Due: torus-wallet, check-torus-wallet

refactor: replace SkeletonValue with AppBarSkeletonValue for improved loading state rendering
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-shared.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-bar.tsx
Due: torus-wallet, check-torus-wallet

fix: display torus weekly rewards to agents correctly
  apps/torus-allocator/src/app/(main-page)/allocated-agents/page.tsx
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: display torus weekly rewards to agents correctly (#168)
  apps/torus-allocator/src/app/(main-page)/allocated-agents/page.tsx
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: validators list with component breakdown
  apps/torus-wallet/src/app/components/validators-list.tsx
  apps/torus-wallet/src/consts.ts
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

chore: replace framer-motion with tailwind animations
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-base.tsx
  apps/torus-wallet/tailwind.config.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: add handling for undefined computedWeightedAgents in weekly USD calculation
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: adjust fade-up animation timing and distance.
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-base.tsx
  apps/torus-wallet/tailwind.config.ts
  pnpm-lock.yaml
  tooling/prettier/index.js
  tooling/prettier/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add key prop to NavButton in sidebar navigation
  apps/torus-wallet/src/app/components/sidebar-links.tsx
Due: torus-wallet, check-torus-wallet

feat: add image handling for Discord avatars in candidate card component and improve vote display logic
  apps/torus-governance/next.config.mjs
  apps/torus-governance/src/app/components/cadre/candidate-card.tsx
Due: torus-governance, check-torus-governance

refactor: remove three.js and related dependencies
  apps/torus-wallet/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: remove unused "install" package dependency
  apps/torus-wallet/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: use env var for allocator address instead of constant
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
Due: torus-wallet, check-torus-wallet

feat: refactor candidate card component into subcomponents for better readability and maintainability
  apps/torus-governance/src/app/components/cadre/candidate-card.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-content.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/computed-votes.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-infavor-against-text.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-vote-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/index.tsx
  apps/torus-governance/src/app/components/cadre/components/cadre-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/components/dao-members-candidates-filter.tsx
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/render-list/list-cadre-candidates.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

fix: standardize status strings in dao members candidates filter for consistency in UI display
  apps/torus-governance/src/app/components/cadre/components/dao-members-candidates-filter.tsx
  packages/api/src/router/cadre/cadre-candidate.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

main ad hoc additions
  packages/db/drizzle/0008_fix-cadre-notified-db.sql
  packages/db/drizzle/0009_fix-userAgentWeight-real.sql
  packages/db/drizzle/0010_fix-computedAgentWeight-unique-agentKey.sql
  packages/db/drizzle/meta/0008_snapshot.json
  packages/db/drizzle/meta/0009_snapshot.json
  packages/db/drizzle/meta/0010_snapshot.json
  packages/db/drizzle/relations.ts
  packages/db/drizzle/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

:wrench: chore: atlas config
  atlas.hcl
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement candidacy state handling in candidate card and refactor voting logic for improved vote management
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/computed-votes.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-candidacy-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-pending-vote-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/remove-dao-member.tsx
  apps/torus-governance/src/app/components/cadre/components/cadre-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/components/dao-members-candidates-filter.tsx
  apps/torus-governance/src/app/components/render-list/list-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

feat: add agent deletion functionality with toast notifications and refetching in AllocationAgentList component
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-agent-list.tsx
  packages/api/src/router/agent/user-agent-weight.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

WIP i forgot which number
  apps/torus-governance/src/app/components/cadre/candidate-card.tsx
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/render-list/index.tsx
  apps/torus-governance/src/app/components/render-list/list-cadre-candidates.tsx
  packages/api/src/router/cadre/cadre-candidate.ts
  packages/ui/src/components/icons.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
