Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

Update transfer-stake zod refinement
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
Due: torus-wallet, check-torus-wallet

chore: remove husky pre-commit script and update README link for Torus Docs
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update ESLint configuration to include simple-import-sort plugin and remove unused Prettier config
  .vscode/extensions.json
  packages/ui/.prettierrc
  pnpm-lock.yaml
  tooling/eslint/base.js
  tooling/eslint/package.json
  tooling/prettier/index.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update button links in ButtonsSection and ButtonsSectionMobile components for consistency
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/mobile/buttons-section-mobile.tsx
Due: torus-page, check-torus-page

fix: update validation path in TransferStakeAction to ensure correct error messaging
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
Due: torus-wallet, check-torus-wallet

feat: add functionality to remove agents with zero percentage from the delegate agent store
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: refactor ReportAgent component to use react-hook-form for improved form handling and validation
  apps/torus-allocator/src/app/components/report-agent.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: refactor ReportComment component to use react-hook-form for improved form handling and validation
  apps/torus-governance/src/app/components/comments/report-comment.tsx
Due: torus-governance, check-torus-governance

fix: refactor CreateCadreCandidates component to use react-hook-form for improved form handling and validation
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

fix: refactor UserProfile component to use react-hook-form for improved form handling and validation
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
Due: torus-governance, check-torus-governance

fix: refactor PenaltyManager component to use react-hook-form for improved form handling and validation
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
Due: torus-governance, check-torus-governance

fix: refactor CreateComment component to use react-hook-form for improved form handling and validation
  apps/torus-governance/src/app/components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

fix: refactor CreateProposal component to use react-hook-form for improved form handling and validation
  apps/torus-governance/src/app/components/proposal/create-proposal.tsx
Due: torus-governance, check-torus-governance

fix: refactor create-transfer-dao-treasury component to use react-hook-form for improved form handling and validation
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
Due: torus-governance, check-torus-governance

refactor: update register-agent component to use react-hook-form for improved form handling and validation
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

feat: implement torus animation component and update footer to remove className prop
  apps/torus-page/src/app/components/footer.tsx
  apps/torus-page/src/app/components/torus-animation.tsx
  apps/torus-page/src/app/page.tsx
Due: torus-page, check-torus-page

feature: react hook form on webapps (WEB-87) (WEB-122) (#118)
  apps/torus-allocator/src/app/components/report-agent.tsx
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
  apps/torus-governance/src/app/components/comments/report-comment.tsx
  apps/torus-governance/src/app/components/proposal/create-proposal.tsx
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/amount-buttons.tsx
  apps/torus-wallet/src/app/components/fee-label.tsx
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/components/validators-list.tsx
  apps/torus-wallet/src/app/components/wallet-review.tsx
  apps/torus-wallet/src/app/components/wallet-skeleton-loader.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/consts.ts
  apps/torus-wallet/src/utils/helpers.ts
  apps/torus-wallet/src/utils/validators.ts
  packages/ui/src/components/form.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: improve env var validation error message
  packages/env-validation/package.json
  packages/env-validation/src/EnvScript.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

docs: update README to clarify project structure and remove TODO for utils migration
  README.md
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: pass torusCacheUrl as a prop to AllocatorHeader
  apps/torus-allocator/src/app/components/allocator-header.tsx
  apps/torus-allocator/src/app/layout.tsx
  packages/env-validation/src/EnvScript.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

docs: update README to include torus-bridge service in project structure
  README.md
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

docs: add prerequisites section to README with required tools and versions
  README.md
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

docs: update README for improved project structure and usage instructions
  README.md
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: hyperlane bridge build (#130)
  .github/workflows/main.yml
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: change naming (#127)
  apps/torus-wallet/src/app/components/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-bar.tsx
Due: torus-wallet, check-torus-wallet

feat: branded BigNumber
  .vscode/launch.json
  packages/subspace/src/main.ts
  packages/utils/package.json
  packages/utils/src/bignumber.ts
  packages/utils/src/main.ts
  packages/utils/src/subspace.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add emission health factor badge and penalty label to ListAgents component
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

fix: update PenaltyLabel styling and format in ListAgents component
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

fix: correct penalty length display in PenaltyLabel component
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

feat: import sort
  apps/torus-governance/src/app/components/proposal/create-proposal.tsx
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance
