Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

Reapply "feat: add environment variable validation utility"
  packages/utils/package.json
  packages/utils/src/env.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: too much stuff
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(pages)/proposal/[id]/_components/proposal-expanded-view.tsx
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/components/agent-application/voter-list.tsx
  apps/torus-governance/src/app/components/card-view-data.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
  apps/torus-governance/src/app/components/comments/view-comment.tsx
  apps/torus-governance/src/app/components/filter-content.tsx
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/popover-info.tsx
  apps/torus-governance/src/app/components/proposal/create-proposal.tsx
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
  apps/torus-governance/src/app/page.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-governance/src/utils/index.tsx
  apps/torus-validator/src/app/components/delegated-list.tsx
  packages/db/src/schema.ts
  packages/query-provider/src/hooks.ts
  packages/torus-provider/src/torus-provider.tsx
  packages/utils/src/index.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: scrollbar
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: texts
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
Due: torus-governance, check-torus-governance

fix: pipelines
  packages/db/src/schema.ts
  packages/query-provider/src/hooks.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: voter list and list cards
  apps/torus-governance/src/app/components/agent-application/voter-list.tsx
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/components/proposal/voter-list.tsx
Due: torus-governance, check-torus-governance

feat: penalize agents
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/src/schema.ts
  packages/subspace/src/modules/governance.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

wip
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  packages/db/src/index.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: generated types
  packages/subspace/src/interfaces/augment-api-consts.ts
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-events.ts
  packages/subspace/src/interfaces/augment-api-query.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/registry.ts
  packages/subspace/src/interfaces/types-lookup.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add footer component with clock and app links
  apps/torus-wallet/src/app/layout.tsx
  packages/ui/src/components/clock.tsx
  packages/ui/src/components/footer.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

[INFRA-496] rename torus_allocator_db_url -> torus_webapps_db_url
  apps/torus-governance/values.yaml
  apps/torus-validator/values.yaml
  apps/torus-worker/values.yaml
Due: torus-validator, torus-worker, torus-governance, check-torus-validator, check-torus-worker, check-torus-governance

feat: wrap children in Container component across multiple layouts and remove unused IntroSection
  apps/torus-bridge/src/context/app-context-provider.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-wallet/public/favicon.ico
  apps/torus-wallet/src/app/components/intro.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/page.tsx
  packages/ui/src/components/container.tsx
  packages/ui/src/components/header.tsx
  packages/ui/src/components/layout.tsx
  packages/ui/src/components/wallet-dropdown.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: reorganize button sections in desktop and mobile components
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/mobile/buttons-section-mobile.tsx
Due: torus-page, check-torus-page

feat: enhance HoverHeader with dynamic SVG rendering and state management
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/desktop/lines-svg.tsx
  apps/torus-page/src/app/components/hover-header/index.tsx
Due: torus-page, check-torus-page

fix: adjust button animation timing and SVG line positioning
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/desktop/lines-svg.tsx
Due: torus-page, check-torus-page

fix: folding back and remove components that appeared from oblivion
  apps/torus-page/src/app/components/hover-header/_components/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/desktop/lines-svg.tsx
  apps/torus-page/src/app/components/hover-header/_components/lines-svg.tsx
  apps/torus-page/src/app/components/hover-header/index.tsx
Due: torus-page, check-torus-page

fix: disable buttons when no account is selected and adjust layout for better spacing
  apps/torus-bridge/src/app/_components/buttons/connect-button.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/context/app-context-provider.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/validators-list.tsx
  packages/ui/src/components/clock.tsx
  packages/ui/src/components/footer.tsx
  packages/ui/src/components/header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused IntroSection component and update wallet balance handling
  apps/torus-bridge/src/app/_components/shared/intro.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/page.tsx
  packages/ui/src/components/footer.tsx
  packages/ui/src/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update layout spacing and enhance scrollbar styling; add proposal cost display
  apps/torus-governance/src/app/(pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
  apps/torus-governance/src/app/components/proposal/create-proposal.tsx
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/app/components/proposal/proposal-vote-card.tsx
  apps/torus-governance/src/app/components/vote-data.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/app/page.tsx
  apps/torus-governance/src/styles/globals.css
Due: torus-governance, check-torus-governance

fix: refactor Clock component to remove Suspense and load dynamically in Footer
  packages/ui/src/components/clock.tsx
  packages/ui/src/components/footer.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: fee display when wallet is not connected
  apps/torus-wallet/src/app/components/actions/bridge.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/fee-label.tsx
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
Due: torus-wallet, check-torus-wallet

fix: update button text for clarity in wallet actions
  apps/torus-wallet/src/app/components/wallet-actions.tsx
Due: torus-wallet, check-torus-wallet

[DON'T MERGE THIS COMMIT TO MAIN] change ingress controller
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add footer component with social links and branding
  apps/torus-page/src/app/components/footer.tsx
  apps/torus-page/src/app/layout.tsx
  packages/ui/src/components/footer.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
