Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

chore: pnpm-lock
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add env-validation to torus-governance
  apps/torus-governance/next.config.mjs
  apps/torus-governance/package.json
  apps/torus-governance/src/app/api/files/route.ts
  apps/torus-governance/src/app/api/trpc/[trpc]/route.ts
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-governance/src/env.ts
  apps/torus-governance/src/trpc/react.tsx
  apps/torus-governance/src/trpc/server.ts
Due: torus-governance, check-torus-governance

feat: add key to scripts on header
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "[DON'T MERGE THIS COMMIT TO MAIN] change ingress controller"
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: remove env validation on build of torus-wallet
  apps/torus-wallet/next.config.mjs
Due: torus-wallet, check-torus-wallet

fix: type inference of `env()` output ; record of zod schemas instead of object zod schema for env; don't fill process.env;
  apps/torus-wallet/src/app/components/wallet-header.tsx
  apps/torus-wallet/src/env.ts
  packages/env-validation/src/EnvScript.tsx
  packages/ui/src/components/layout.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: use envScript for validation and runtime
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

chore: add @torus-ts/env-validation package to torus-wallet
  apps/torus-wallet/next.config.mjs
  apps/torus-wallet/package.json
Due: torus-wallet, check-torus-wallet

refactor: clean up unused imports and simplify RootLayout component
  apps/torus-validator/src/app/layout.tsx
Due: torus-validator, check-torus-validator

chore: ?
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

feat: add parse per key on env()
  packages/env-validation/package.json
  packages/env-validation/src/EnvScript.tsx
  packages/env-validation/tsconfig.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: rm @t3-oss/env-nextjs
  apps/torus-wallet/package.json
Due: torus-wallet, check-torus-wallet

feat: add env-validation to torus-bridge
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/package.json
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/consts/config.ts
  apps/torus-bridge/src/consts/warp-route-whitelist.ts
  apps/torus-bridge/src/context/app-context-provider.tsx
  apps/torus-bridge/src/env.ts
Due: torus-bridge, check-torus-bridge

feat: add env-validation to torus-page
  apps/torus-page/next.config.mjs
  apps/torus-page/package.json
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/env.ts
Due: torus-page, check-torus-page

chore: fix txt
  packages/env-validation/src/EnvScript.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add headScripts to ui layout
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add env-validation to torus-validator
  apps/torus-validator/next.config.mjs
  apps/torus-validator/package.json
  apps/torus-validator/src/app/api/trpc/[trpc]/route.ts
  apps/torus-validator/src/app/components/allocator-header.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-validator/src/env.ts
  apps/torus-validator/src/trpc/react.tsx
Due: torus-validator, check-torus-validator

feat: adding network switch check
  apps/torus-validator/src/stores/delegateAgentStore.ts
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/apr-display.tsx
  apps/torus-wallet/src/app/components/fee-label.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
  apps/torus-wallet/src/utils/types.ts
  apps/torus-worker/src/weights.ts
  packages/query-provider/src/hooks.ts
  packages/subspace/src/modules/subspace.ts
  packages/utils/src/index.ts
  packages/utils/src/ipfs.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: adding apr calculation
  apps/torus-wallet/src/app/components/apr-display.tsx
  packages/query-provider/src/hooks.ts
  packages/subspace/src/modules/governance.ts
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: remove whitespace
  apps/torus-validator/src/stores/delegateAgentStore.ts
  packages/utils/src/index.ts
  packages/utils/src/ipfs.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: fmt
  apps/torus-bridge/src/consts/config.ts
  apps/torus-governance/src/trpc/react.tsx
  apps/torus-validator/src/stores/delegateAgentStore.ts
  apps/torus-validator/src/trpc/react.tsx
  packages/subspace/src/modules/governance.ts
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add useSignIn hook for user authentication
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

feat: layout wip
  apps/torus-governance/src/app/cadre/_components/cadre-members-list.tsx
  apps/torus-governance/src/app/cadre/_components/cadre-requests-list.tsx
  apps/torus-governance/src/app/cadre/page.tsx
Due: torus-governance, check-torus-governance

feat: add checkSession mutation to validate JWT tokens
  packages/api/src/router/auth.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add cadre candidates and cadre list queries to governance context
  apps/torus-governance/src/context/governance-provider.tsx
Due: torus-governance, check-torus-governance

feat: implement render list component with agent applications and proposals
  apps/torus-governance/src/app/components/render-list/index.tsx
  apps/torus-governance/src/app/components/render-list/list-agent-applications.tsx
  apps/torus-governance/src/app/components/render-list/list-container.tsx
  apps/torus-governance/src/app/components/render-list/list-proposals.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

feat: add curator candidates list and authentication components
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/curator-not-authenticated.tsx
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
  packages/api/src/root.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: remove CadreMembersList and CadreRequestsList components
  apps/torus-governance/src/app/cadre/_components/cadre-members-list.tsx
  apps/torus-governance/src/app/cadre/_components/cadre-requests-list.tsx
  apps/torus-governance/src/app/cadre/_components/index.ts
  apps/torus-governance/src/app/cadre/page.tsx
Due: torus-governance, check-torus-governance

feat: remove ListCards component and associated logic
  apps/torus-governance/src/app/components/list-cards.tsx
Due: torus-governance, check-torus-governance

refactor: rename isCadreUser to isUserCadre for consistency and clarity
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

fix: env
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

feature: cadre members management
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update modal text for clarity in agent application process
  apps/torus-governance/src/app/components/modal.tsx
Due: torus-governance, check-torus-governance

refactor: unhardcoding discordId
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
Due: torus-worker, check-torus-worker

add github workflow for apps
  .github/workflows/app-deployment-template.yml
  .github/workflows/torus-bridge.yml
  .github/workflows/torus-cache.yml
  .github/workflows/torus-governance.yml
  .github/workflows/torus-page.yml
  .github/workflows/torus-validator.yml
  .github/workflows/torus-wallet.yml
  .github/workflows/torus-worker.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

remove drone ci config
  .drone.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add dry-run build
  .github/workflows/dry-run-build-template.yml
  .github/workflows/torus-bridge.yml
  .github/workflows/torus-cache.yml
  .github/workflows/torus-governance.yml
  .github/workflows/torus-page.yml
  .github/workflows/torus-validator.yml
  .github/workflows/torus-wallet.yml
  .github/workflows/torus-worker.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix conditional
  .github/workflows/torus-bridge.yml
  .github/workflows/torus-cache.yml
  .github/workflows/torus-governance.yml
  .github/workflows/torus-page.yml
  .github/workflows/torus-validator.yml
  .github/workflows/torus-wallet.yml
  .github/workflows/torus-worker.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add typed parse
  packages/utils/package.json
  packages/utils/src/typing.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update wallet env
  apps/torus-validator/src/trpc/server.ts
  apps/torus-wallet/package.json
  apps/torus-wallet/src/env.ts
Due: torus-validator, torus-wallet, check-torus-validator, check-torus-wallet
