Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-governance, torus-cache

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

fix: query playground
  apps/torus-governance/src/context/governance-provider.tsx
  packages/subspace/src/main.ts
Due: torus-governance, torus-cache

chore: rename get_metadata.sh get-metadata.sh +
  justfile
  scripts/get-metadata.sh
Due: torus-governance, torus-cache

chore: update mainnet and testnet node urls on get-metadata.sh
  scripts/get-metadata.sh
Due: torus-governance, torus-cache

feat: enhance error and event handling for agent weight control and registration
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-events.ts
  packages/subspace/src/interfaces/augment-api-query.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/registry.ts
  packages/subspace/src/interfaces/types-lookup.ts
Due: torus-governance, torus-cache

chore: renaming commune -> torus variables
  .env.example
  .vscode/settings.json
  README.md
  apps/torus-cache/helmfile.yaml
  apps/torus-page/src/env.ts
  apps/torus-worker/src/env.ts
  apps/torus-worker/values.yaml
  turbo.json
Due: torus-governance, torus-cache

feat: v0 `torus-page`
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-page/package.json
  apps/torus-page/src/app/components/amount-buttons.tsx
  apps/torus-page/src/app/components/copy-button.tsx
  apps/torus-page/src/app/components/fee-label.tsx
  apps/torus-page/src/app/components/header/_components/header-desktop.tsx
  apps/torus-page/src/app/components/header/_components/header-mobile.tsx
  apps/torus-page/src/app/components/header/index.tsx
  apps/torus-page/src/app/components/unstake.tsx
  apps/torus-page/src/app/components/validators-list.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/context/page-provider.tsx
  apps/torus-page/src/utils/sections-mock.tsx
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/db/creating-items-in-database.md
  packages/subspace/src/main.ts
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
  packages/ui/src/components/layout.tsx
  pnpm-lock.yaml
Due: torus-governance, torus-cache

refactor: update governance references and improve component styling
  apps/torus-governance/src/app/components/card-view-data.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/types-lookup.ts
  packages/subspace/src/main.ts
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-governance, torus-cache

feat: polish governance front end and v0 methods
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
  apps/torus-governance/src/app/components/comments/view-comment.tsx
  apps/torus-governance/src/app/components/details-card.tsx
  apps/torus-governance/src/app/components/proposal/proposal-vote-card.tsx
  apps/torus-governance/src/app/components/proposal/vote-power-settings.tsx
  apps/torus-governance/src/app/components/proposal/voter-list.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
  apps/torus-governance/src/app/layout.tsx
  packages/subspace/src/main.ts
  packages/torus-provider/src/torus-provider.tsx
  packages/ui/src/components/header.tsx
Due: torus-governance, torus-cache

fix: removing hardcoded dockerfile env vars + renaming vars +
  .env.example
  apps/torus-cache/helmfile.yaml
  apps/torus-cache/src/env.ts
  apps/torus-cache/src/server.ts
  apps/torus-governance/helmfile.yaml
  apps/torus-governance/src/app/api/trpc/[trpc]/route.ts
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-governance/src/env.ts
  apps/torus-governance/src/trpc/server.ts
  apps/torus-page/helmfile.yaml
  apps/torus-validator/helmfile.yaml
  apps/torus-validator/src/app/components/allocator-header.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-validator/src/env.ts
  apps/torus-wallet/helmfile.yaml
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  apps/torus-wallet/src/env.ts
  apps/torus-worker/src/env.ts
  apps/torus-worker/src/index.ts
  docker-compose.yml
  docker/Dockerfile
  helm/values.yaml
  turbo.json
Due: torus-governance, torus-cache

chore: readding `NEXT_PUBLIC_TORUS_RPC_URL` and `NEXT_PUBLIC_TORUS_CACHE_URL` to docker file
  docker/Dockerfile
Due: torus-governance, torus-cache

fix: readd `NEXT_PUBLIC_` prefix to `TORUS_RPC_URL` and `TORUS_CACHE_URL` to server them as client-side / build-time variables
  .env.example
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-governance/src/env.ts
  apps/torus-validator/src/app/components/allocator-header.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-validator/src/env.ts
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  apps/torus-wallet/src/env.ts
  apps/torus-worker/src/env.ts
  apps/torus-worker/src/index.ts
  docker-compose.yml
  docker/Dockerfile
  helm/values.yaml
  turbo.json
Due: torus-governance, torus-cache

feat: governance methods adjustments and front end cleanup
  apps/torus-governance/public/favicon.ico
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  packages/subspace/src/main.ts
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-governance, torus-cache

fix: adjust layout structure and improve styling in intro section; update decimal precision in utility functions
  apps/torus-wallet/src/app/components/intro.tsx
  apps/torus-wallet/src/app/layout.tsx
  packages/subspace/src/main.ts
  packages/utils/src/subspace.ts
Due: torus-governance, torus-cache

fix: cache `createDb` on `createTRPCContext`
  packages/api/src/trpc.ts
Due: torus-governance, torus-cache

chore: renaming app testnet domains
  apps/torus-governance/helmfile.yaml
  apps/torus-page/helmfile.yaml
  apps/torus-validator/helmfile.yaml
  apps/torus-wallet/helmfile.yaml
Due: torus-governance

fix: don't instantiate `db` variable on package top-level
  .env.example
  TODO.md
  apps/torus-worker/src/db/index.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/api/src/trpc.ts
  packages/db/src/client.ts
Due: torus-governance, torus-cache

fix: torus-worker env URLs
  apps/torus-worker/helmfile.yaml
Due: none

torus: torusx lol
  .drone.yml
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  packages/db/creating-items-in-database.md
Due: torus-governance, torus-cache

feat: add bridgeWithdraw function to handle withdrawal transactions
  apps/torus-page/src/app/components/bridge.tsx
  apps/torus-page/src/context/page-provider.tsx
  packages/subspace/src/main.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-governance, torus-cache

refactor: remove unused Separator import from bridge component
  apps/torus-page/src/app/components/bridge.tsx
Due: none

chore: re-trigger build
  apps/torus-page/src/app/components/bridge.tsx
Due: none

fix: simplify disabled condition for bridge component
  apps/torus-page/src/app/components/bridge.tsx
Due: none

change pipeline k8s auth script
  .drone.yml
Due: torus-governance, torus-cache

add clean-stale-releases pipeline
  .drone.yml
Due: torus-governance, torus-cache

rename torus_validator_db_url to torus_allocator_db_url
  apps/torus-governance/values.yaml
  apps/torus-validator/values.yaml
Due: torus-governance

use api.testnet.torus.network
  .env.example
  apps/torus-cache/helmfile.yaml
  apps/torus-governance/helmfile.yaml
  apps/torus-page/helmfile.yaml
  apps/torus-validator/helmfile.yaml
  apps/torus-wallet/helmfile.yaml
  apps/torus-worker/helmfile.yaml
  docker/Dockerfile
  packages/subspace/src/main.ts
  scripts/get-metadata.sh
Due: torus-governance, torus-cache

feat: add notification for closed bridge and total bridged amount
  apps/torus-page/src/app/layout.tsx
Due: none

fix: remove duplicate imports in main.ts
  packages/subspace/src/main.ts
Due: torus-governance, torus-cache

chore: .prettierignore for gen'd types + regen types from testnet
  .prettierignore
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/types-lookup.ts
Due: torus-governance, torus-cache

feat: validators wip
  apps/torus-validator/src/app/(expanded-pages)/agent/[...slug]/page.tsx
  apps/torus-validator/src/app/(expanded-pages)/module/[...slug]/page.tsx
  apps/torus-validator/src/app/components/agent-datagrid.tsx
  apps/torus-validator/src/app/components/agent-item.tsx
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/components/expanded-view-content.tsx
  apps/torus-validator/src/app/components/report-agent.tsx
  apps/torus-validator/src/app/components/sidebar-links.tsx
  apps/torus-validator/src/app/page.tsx
  packages/toast-provider/src/globals.css
  packages/ui/src/components/copy-button.tsx
  packages/ui/src/components/header.tsx
  packages/ui/src/components/layout.tsx
  packages/ui/src/components/wallet-dropdown.tsx
Due: torus-governance, torus-cache

feat: validators wip
  apps/torus-validator/src/app/components/agent-content-list.tsx
  apps/torus-validator/src/app/components/agent-item.tsx
  apps/torus-validator/src/app/components/all-or-weighted.tsx
  apps/torus-validator/src/app/components/delegate-module-weight.tsx
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/components/filter-content.tsx
  apps/torus-validator/src/app/components/ideas-content.tsx
  apps/torus-validator/src/app/components/sidebar-links.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-validator/src/app/page.tsx
  packages/ui/src/components/footer.tsx
  packages/ui/src/components/header.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/wallet-dropdown.tsx
Due: torus-governance, torus-cache

feature: allocator-app
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/app/page.tsx
  apps/torus-validator/src/app/(expanded-pages)/agent/[...slug]/page.tsx
  apps/torus-validator/src/app/(pages)/layout.tsx
  apps/torus-validator/src/app/(pages)/loader.tsx
  apps/torus-validator/src/app/(pages)/modules/page.tsx
  apps/torus-validator/src/app/(pages)/weighted-modules/page.tsx
  apps/torus-validator/src/app/components/agent-card.tsx
  apps/torus-validator/src/app/components/agent-content-list.tsx
  apps/torus-validator/src/app/components/agent-datagrid.tsx
  apps/torus-validator/src/app/components/agent-info-card.tsx
  apps/torus-validator/src/app/components/agent-item.tsx
  apps/torus-validator/src/app/components/agents-tab-view.tsx
  apps/torus-validator/src/app/components/allocated-card.tsx
  apps/torus-validator/src/app/components/charts/_common.ts
  apps/torus-validator/src/app/components/charts/agent-bar-chart.tsx
  apps/torus-validator/src/app/components/copy-square-button.tsx
  apps/torus-validator/src/app/components/delegate-module-weight.tsx
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/components/delegated-scroll.tsx
  apps/torus-validator/src/app/components/filter-content.tsx
  apps/torus-validator/src/app/components/popover-info.tsx
  apps/torus-validator/src/app/components/report-agent.tsx
  apps/torus-validator/src/app/components/sidebar-info.tsx
  apps/torus-validator/src/app/components/sidebar-links.tsx
  apps/torus-validator/src/app/components/stats-card.tsx
  apps/torus-validator/src/app/components/view-controls.tsx
  apps/torus-validator/src/app/page.tsx
  apps/torus-validator/src/stores/delegateAgentStore.ts
  apps/torus-wallet/src/app/components/wallet-header.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/page.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  packages/api/src/router/agent/computed-agent-weight.ts
  packages/api/src/router/agent/user-agent-weight.ts
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/header.tsx
  packages/ui/src/components/wallet-dropdown.tsx
Due: torus-governance, torus-cache

fix: pipelines
  apps/torus-validator/src/app/components/agent-content-list.tsx
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
Due: none

feat: allocator tutorial page
  apps/torus-validator/public/arrow-down-icon.svg
  apps/torus-validator/public/arrow-link-icon.svg
  apps/torus-validator/public/bg-pattern.svg
  apps/torus-validator/public/discord-icon.svg
  apps/torus-validator/public/docs-icon.svg
  apps/torus-validator/public/favicon.ico
  apps/torus-validator/public/github-icon.svg
  apps/torus-validator/public/logo.svg
  apps/torus-validator/public/send-icon.svg
  apps/torus-validator/public/stake-icon.svg
  apps/torus-validator/public/telegram-icon.svg
  apps/torus-validator/public/unstake-icon.svg
  apps/torus-validator/public/wallet-icon.svg
  apps/torus-validator/public/x-icon.svg
  apps/torus-validator/src/app/components/allocator-header.tsx
  apps/torus-validator/src/app/components/tutorial-dialog.tsx
  apps/torus-validator/src/app/layout.tsx
  packages/subspace/src/main.ts
Due: torus-governance, torus-cache

refactor: remove tutorial page component
  apps/torus-validator/src/app/(expanded-pages)/tutorial/page.tsx
Due: none

fix: schemas on stake related queries
  packages/subspace/src/main.ts
  packages/subspace/src/modules/subspace.ts
  packages/subspace/src/types/zod.ts
  packages/toast-provider/src/globals.css
Due: torus-governance, torus-cache

chore: regen types from testnet
  packages/subspace/src/interfaces/augment-api-consts.ts
  packages/subspace/src/interfaces/augment-api-query.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/registry.ts
  packages/subspace/src/interfaces/types-lookup.ts
Due: torus-governance, torus-cache

[WEB-49] Deploy production environment
  apps/torus-governance/helmfile.yaml
  apps/torus-validator/helmfile.yaml
  apps/torus-wallet/helmfile.yaml
  docker/Dockerfile
Due: torus-governance, torus-cache

Path conditions:
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torusx-page/**, apps/torus-worker/**, apps/sample-app/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torusx-page/**, apps/torus-worker/**, apps/sample-app/**, apps/torus-governance/**, apps/torus-wallet/**
