Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

feat: enhance WalletTransactionReview component with review prop and improve layout
  apps/torus-bridge/src/app/_components/shared/wallet-review.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/recipient-section.tsx
Due: torus-bridge, check-torus-bridge

feat: transfer details component test
  apps/torus-bridge/src/app/_components/transfer-token/_components/side-bar.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-details.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/utils/chain.ts
  apps/torus-bridge/src/utils/transfer.ts
Due: torus-bridge, check-torus-bridge

feat: refactor TransfersDetailsModal to use AlertDialog for improved UI; update transfer status icon handling
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-details.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/utils/transfer.ts
Due: torus-bridge, check-torus-bridge

fix: update chainId and domainId to 21001 for torustestnet in chains.ts and chains.yaml
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/chains.yaml
Due: torus-bridge, check-torus-bridge

feat: something
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/consts/chains.ts
Due: torus-bridge, check-torus-bridge

feat: rename app to "Torus Base Bridge" and refactor layout to use AppContextProvider for improved context management
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/context/app-context-provider.tsx
Due: torus-bridge, check-torus-bridge

add missing NEXT_PUBLIC_TORUS_RPC_HTTPS_URL on Dockerfile
  docker/Dockerfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: add `viem` as `subspace` dependency
  packages/subspace/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: UI refactor
  apps/torus-bridge/src/app/_components/shared/intro.tsx
  apps/torus-bridge/src/app/_components/shared/sidebar-links.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/select-chain-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/index.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/context/warp-context-init-gate-provider.tsx
  apps/torus-wallet/src/app/page.tsx
Due: torus-wallet, torus-bridge, check-torus-wallet, check-torus-bridge

fix: warp routes
  apps/torus-bridge/src/config.ts
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/warp-routes.ts
Due: torus-bridge, check-torus-bridge

feat: add @wagmi/core dependency version 2.16.3
  packages/subspace/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

kelvin is using drugs
  .vscode/settings.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: change no-unused-vars rule from error to warn
  tooling/eslint/base.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: remove unused @chakra-ui/react dependency from package.json
  apps/torus-bridge/package.json
Due: torus-bridge, check-torus-bridge

fix: withdraw fn encoding
  packages/subspace/src/evm.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused components and update imports for consistency
  apps/torus-bridge/src/app/_components/banners/form-warning-banner.tsx
  apps/torus-bridge/src/app/_components/banners/warning-banner.tsx
  apps/torus-bridge/src/app/_components/chains/chain-connection-warning.tsx
  apps/torus-bridge/src/app/_components/chains/chain-select-field.tsx
  apps/torus-bridge/src/app/_components/chains/chain-select-modal.tsx
  apps/torus-bridge/src/app/_components/chains/chain-wallet-warning.tsx
  apps/torus-bridge/src/app/_components/shared/intro.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-review.tsx
  apps/torus-bridge/src/app/_components/text-field.tsx
  apps/torus-bridge/src/app/_components/toast/igp-details-toast.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/warning-banner.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  apps/torus-bridge/src/app/_components/transfers-details-modal.tsx
  apps/torus-bridge/src/app/_components/warp-core-config.ts
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/context/solana-wallet-provider.tsx
  apps/torus-bridge/src/context/wallet-provider.tsx
  apps/torus-bridge/src/context/warp-context-init-gate-provider.tsx
  apps/torus-bridge/src/styles/globals.css
  apps/torus-bridge/src/utils/chain.ts
  apps/torus-bridge/src/utils/date.ts
  apps/torus-bridge/src/utils/links.ts
  apps/torus-bridge/src/utils/store.ts
  apps/torus-bridge/src/utils/transfer.ts
Due: torus-bridge, check-torus-bridge

fix: solana context
  apps/torus-bridge/package.json
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/context/cosmos-wallet-provider.tsx
  apps/torus-bridge/src/context/solana-wallet-provider.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: simplify ChainSelectField and TextField components, enhance transaction status handling in TransferEVM
  apps/torus-bridge/src/app/_components/chains/chain-select-field.tsx
  apps/torus-bridge/src/app/_components/text-field.tsx
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/select-chain-section.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/utils/chain.ts
Due: torus-bridge, check-torus-bridge

feat: implement Torus EVM withdraw
  .vscode/settings.json
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  packages/subspace/src/evm.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update wallet balance labels to use dynamic network name and improve display logic
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
Due: torus-bridge, check-torus-bridge

fix: flip bridge tabs
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/chains.yaml
Due: torus-bridge, check-torus-bridge

chore: add native dependency to build `usb` module for Solana wallet for hyperlane
  .vscode/settings.json
  flake.lock
  flake.nix
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: disable no-inferrable-types rule in ESLint configuration
  tooling/eslint/base.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement TransferDetails component with status icons and properties; enhance global styles for toast notifications
  apps/torus-bridge/src/app/_components/transfer-details/_components/get-icon-by-transfer-status.tsx
  apps/torus-bridge/src/app/_components/transfer-details/_components/get-transfer-status-label.tsx
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-property.tsx
  apps/torus-bridge/src/app/_components/transfer-details/index.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/styles/globals.css
Due: torus-bridge, check-torus-bridge

feat: implement chain selection and toggle functionality in TransferEVM component
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
Due: torus-bridge, check-torus-bridge

fix: evm to SS58 address conversion
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  packages/subspace/src/evm.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add missing NEXT_PUBLIC_TORUS_RPC_HTTPS_URL on global values.yaml
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add ethers dependency to torus-bridge
  apps/torus-bridge/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: small adjustments on chain definitions
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/chains.yaml
Due: torus-bridge, check-torus-bridge

feat/fix: step dialog, metamask wallet conection error
  apps/torus-bridge/src/app/_components/chains/chain-select-field.tsx
  apps/torus-bridge/src/app/_components/select-action-dialog.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/swap-chain-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/select-chain-section.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/utils/query-params.ts
  apps/torus-wallet/src/app/components/sidebar-links.tsx
Due: torus-wallet, torus-bridge, check-torus-wallet, check-torus-bridge

FIX SHIT
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
Due: torus-bridge, check-torus-bridge

feat: enhance TransferEVM component layout with new CardHeader and CardFooter; improve action selection and transaction review display
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
Due: torus-bridge, check-torus-bridge

fix: remove residual `ethers` dependency
  apps/torus-bridge/package.json
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: frozen lockfile
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: make `warp-route.ts` consistent with `warp-routes.yaml`
  apps/torus-bridge/src/consts/warp-routes.ts
Due: torus-bridge, check-torus-bridge

feat: add evm to SS58 address conversion
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  packages/subspace/src/evm.ts
  packages/subspace/src/index.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: adjust z-index for intro section backdrop
  apps/torus-bridge/src/app/_components/shared/intro.tsx
Due: torus-bridge, check-torus-bridge

fix next_public_rpc_https_url
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: change configs
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/chains.yaml
  apps/torus-bridge/src/consts/warp-route-whitelist.ts
  apps/torus-bridge/src/consts/warp-routes.ts
  apps/torus-bridge/src/consts/warp-routes.yaml
Due: torus-bridge, check-torus-bridge

feat: enhance transfer dialog layout, improve transaction status handling, and add form reset functionality
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
