Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

feat: 11:11 IS THE HEAD OF MY LITTLE PIPI
  apps/torus-bridge/src/app/_components/select-action-dialog.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-review.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  packages/subspace/src/evm.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: clean up SelectActionDialog and update label in WalletTransactionReview
  apps/torus-bridge/src/app/_components/select-action-dialog.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-review.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/swap-chain-button.tsx
Due: torus-bridge, check-torus-bridge

feat: display EVM and Base balances
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
Due: torus-bridge, check-torus-bridge

feat: update IntroSection layout and enhance wallet connection prompt; refactor ButtonSection button variant and improve WalletDropdown display logic
  apps/torus-bridge/src/app/_components/shared/intro.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  packages/ui/src/components/wallet-dropdown.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: replaced to production warp routes
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/chains.yaml
  apps/torus-bridge/src/consts/warp-routes.ts
  apps/torus-bridge/src/consts/warp-routes.yaml
Due: torus-bridge, check-torus-bridge

feat: cleanup unused components
  apps/torus-bridge/src/app/_components/app-layout.tsx
  apps/torus-bridge/src/app/_components/buttons/connect-aware-submit-button.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-review.tsx
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/_components/tokens/select-or-Input-token-ids.tsx
  apps/torus-bridge/src/app/_components/tokens/token-select-field.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/token-section.tsx
  apps/torus-bridge/src/hooks/use-token-transfer.ts
  packages/subspace/src/evm.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add torus-bridge deploy files
  .drone.yml
  apps/torus-bridge/helmfile.yaml
  apps/torus-bridge/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

[REVERT BEFORE MERGE] Point stuff to testnet and build bridge on this branch
  .drone.yml
  docker/Dockerfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Add chain_env env var
  apps/torus-bridge/helmfile.yaml
  apps/torus-bridge/values.yaml
  docker/Dockerfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update href paths for Torus EVM and Base transfer actions
  apps/torus-bridge/src/app/_components/select-action-dialog.tsx
Due: torus-bridge, check-torus-bridge

fix: update wallet review layout and change token symbol from TORUS to BASE
  apps/torus-bridge/src/app/_components/shared/wallet-review.tsx
  apps/torus-bridge/src/consts/warp-routes.yaml
Due: torus-bridge, check-torus-bridge

fix: change token symbol from BASE to TORUS in warp-routes.yaml
  apps/torus-bridge/src/consts/warp-routes.yaml
Due: torus-bridge, check-torus-bridge

fix: update sidebar link to indicate Base Bridge is coming soon
  apps/torus-wallet/src/app/components/sidebar-links.tsx
Due: torus-wallet, check-torus-wallet

chore: changed to torus evm naming
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/warp-routes.ts
Due: torus-bridge, check-torus-bridge

feat: changed logo
  apps/torus-bridge/public/logo.svg
Due: torus-bridge, check-torus-bridge

fix: enable link for Base Bridge in sidebar
  apps/torus-wallet/src/app/components/sidebar-links.tsx
Due: torus-wallet, check-torus-wallet

fix: max button
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
Due: torus-bridge, check-torus-bridge

fix: uncomment and update Base wallet contract address
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
Due: torus-bridge, check-torus-bridge

fix: max button withdraw
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
Due: torus-bridge, check-torus-bridge

feat: enhance transaction feedback with detailed messages and block explorer links
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
Due: torus-bridge, check-torus-bridge

chore: update faviocn
  apps/torus-bridge/public/favicon.ico
  apps/torus-governance/public/favicon.ico
  apps/torus-page/public/favicon.ico
  apps/torus-validator/public/favicon.ico
Due: torus-page, torus-validator, torus-governance, torus-bridge, check-torus-page, check-torus-validator, check-torus-governance, check-torus-bridge

feat: new guide and page container margin top adjust
  apps/torus-bridge/src/app/_components/guide-dialog.tsx
  apps/torus-bridge/src/app/_components/select-action-dialog.tsx
  apps/torus-bridge/src/app/page.tsx
Due: torus-bridge, check-torus-bridge

fix: links color on guide dialog
  apps/torus-bridge/src/app/_components/guide-dialog.tsx
Due: torus-bridge, check-torus-bridge

feat: add help icon to guide dialog and adjust layout for better spacing
  apps/torus-bridge/src/app/_components/guide-dialog.tsx
  apps/torus-bridge/src/app/page.tsx
Due: torus-bridge, check-torus-bridge

feat: nuke installed wallets from evm
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
Due: torus-bridge, check-torus-bridge

fix: swap between chains
  apps/torus-bridge/src/app/_components/chains/chain-select-field.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/select-chain-section.tsx
  apps/torus-bridge/src/hooks/token/index.ts
Due: torus-bridge, check-torus-bridge

Make primary action button more obvious with brighter shade, use darker shade for secondary buttons
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

Change wording: agent -> agent/module
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

Change wording: DAO Cadre -> Curator DAO
  apps/torus-governance/src/app/cadre/page.tsx
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
  apps/torus-governance/src/app/components/comments/view-comment.tsx
Due: torus-governance, check-torus-governance

Only show Create Comment element when user is DAO member
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
Due: torus-governance, check-torus-governance

Fix: Add scrollbar to application page when it's overflowing
  apps/torus-governance/src/app/(pages)/agent-application/[id]/page.tsx
Due: torus-governance, check-torus-governance

Use lighter bg col for Apply btn, move it to right (search field on left), use more descriptive label
  apps/torus-governance/src/app/components/modal.tsx
Due: torus-governance, check-torus-governance

Use full opacity bg color classes
  apps/torus-governance/src/app/components/card-view-data.tsx
  apps/torus-governance/src/app/components/filter-content.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
Due: torus-governance, check-torus-governance

Add helpful tooltips to icon btns for sorting, voring, report comment
  apps/torus-governance/src/app/components/comments/view-comment.tsx
Due: torus-governance, check-torus-governance

Fix: Make Submit btn label in Report Comment dialog visible against bg
  apps/torus-governance/src/app/components/comments/report-comment.tsx
Due: torus-governance, check-torus-governance

Add note about agent application fee before user submits application
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
Due: torus-governance, check-torus-governance

Add size-optimized greek statue bg image
  apps/torus-governance/public/greek-statue.png
  apps/torus-governance/src/styles/globals.css
Due: torus-governance, check-torus-governance

fix: adjust z-index and border styles for better UI consistency
  apps/torus-bridge/src/app/_components/shared/intro.tsx
  apps/torus-wallet/src/app/components/wallet-balance.tsx
  packages/ui/src/components/input.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Add bg to application page, so that global bg image is covered
  apps/torus-governance/src/app/(pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/list-cards.tsx
Due: torus-governance, check-torus-governance

Show DAO apply button on the left under the call to action text, and only when user isn't already DAO member
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
Due: torus-governance, check-torus-governance

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
