Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

chore: generate types from chain on feat/stream-emission-edit
  packages/torus-sdk-ts/src/interfaces/augment-api-errors.ts
  packages/torus-sdk-ts/src/interfaces/augment-api-tx.ts
  packages/torus-sdk-ts/src/interfaces/lookup.ts
  packages/torus-sdk-ts/src/interfaces/types-lookup.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: convert targets to BTreeMap in grantEmissionPermission
  packages/torus-sdk-ts/src/modules/permission0.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: regen types from testnet
  packages/torus-sdk-ts/src/interfaces/augment-api-consts.ts
  packages/torus-sdk-ts/src/interfaces/augment-api-errors.ts
  packages/torus-sdk-ts/src/interfaces/augment-api-events.ts
  packages/torus-sdk-ts/src/interfaces/augment-api-query.ts
  packages/torus-sdk-ts/src/interfaces/augment-api-tx.ts
  packages/torus-sdk-ts/src/interfaces/lookup.ts
  packages/torus-sdk-ts/src/interfaces/registry.ts
  packages/torus-sdk-ts/src/interfaces/types-lookup.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: adjust storages that had OptionQuery dropped
  packages/torus-sdk-ts/src/modules/permission0.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: refactor Discord auth handling for NextAuth, introducing lazy initialization and updating auth config export method
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/api/auth/[...nextauth]/route.ts
  apps/torus-governance/src/utils/auth-config.ts
Due: torus-governance, check-torus-governance

feat: Add contact information to agent registration form (WEB-136) (#251)
  apps/torus-governance/hooks/use-discord-auth.tsx
  apps/torus-governance/hooks/use-discord-info.tsx
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/discord-auth-button.tsx
  apps/torus-governance/src/app/_components/shape-network-modal.tsx
Due: torus-governance, check-torus-governance

fix: fix the wallet name size and swap balance icons for better clarity in wallet balance component (#246)
  apps/torus-wallet/src/app/_components/wallet-balance.tsx
  packages/ui/src/components/wallet-dropdown/wallet-label.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: simplify ESLint rules in main.ts by disabling all checks for cleaner code maintenance
  packages/torus-sdk-ts/src/main.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: integrate DiscordAuthButton for improved user experience in agent application component with sign-out feedback handling
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/api/auth/[...nextauth]/route.ts
Due: torus-governance, check-torus-governance

feat: add smallWalletName import to wallet-label component for enhanced functionality in wallet dropdown
  packages/ui/src/components/wallet-dropdown/wallet-label.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: remove unused signOut function from CreateAgentApplication for cleaner code and improved readability in Discord auth integration
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
Due: torus-governance, check-torus-governance

feat: enhances agent application metadata retrieval
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  packages/api/src/router/agent/agent.ts
  packages/torus-sdk-ts/src/modules/governance.ts
  packages/ui/src/components/seo.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: removes unused OG image generation code
  apps/torus-allocator/src/app/api/og-image/[agentKey]/route.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: adds SEO metadata and improves linting rules
  apps/torus-allocator/src/app/layout.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/metadata.ts
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/page.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/app/page.tsx
  packages/ui/src/components/seo.tsx
  tooling/eslint/nextjs.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Fix: ENV Validation in build time for DISCORD Apps (WEB-204) (#254)
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/api/auth/[...nextauth]/route.ts
  apps/torus-governance/src/utils/auth-config.ts
  packages/torus-sdk-ts/src/main.ts
  packages/ui/src/components/wallet-dropdown/wallet-label.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add create signaling page and API integration with corresponding navigation tab (#258)
  apps/torus-portal/src/app/_components/portal-navigation-tabs.tsx
  apps/torus-portal/src/app/create-signal/page.tsx
  packages/api/src/root.ts
  packages/api/src/router/permission/signal.ts
  packages/db/src/schema.ts
  packages/db/src/validation.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: handles missing public key gracefully
  apps/torus-bridge/src/app/_components/transfer-token/_components/validate-form.ts
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
Due: torus-bridge, check-torus-bridge

fix: handles potential errors fetching public key
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
Due: torus-bridge, check-torus-bridge

fix: improves error handling in transfer form
  apps/torus-bridge/src/app/_components/transfer-token/_components/validate-form.ts
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
Due: torus-bridge, check-torus-bridge

fix: exposes `fetchMaxAmount` and loading state
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
Due: torus-bridge, check-torus-bridge

feat: add demand signal creation form with validation and API integration (#258)
  apps/torus-portal/package.json
  apps/torus-portal/src/app/create-signal/page.tsx
  packages/api/src/router/permission/signal.ts
  packages/db/src/validation.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: simplifies sender public key handling
  apps/torus-bridge/src/app/_components/transfer-token/_components/validate-form.ts
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
Due: torus-bridge, check-torus-bridge

feat: implement demand signals in force graph
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-constants.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-utils.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/use-graph-data.ts
  apps/torus-portal/src/app/(permission-graph)/_components/node-color-legend.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/node-details/_components/signal-details.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/node-details/index.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/permission-graph-container.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/permission-graph-types.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update force graph animation to handle dynamic link particles and ensure smooth rendering throughout
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-animation.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-utils.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance force graph visuals with additional lighting and star effects; update colors for improved clarity and aesthetics
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-canvas.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-constants.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: normalize both forms styles
  apps/torus-portal/src/app/(permission-graph)/_components/node-details/_components/signal-details.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/node-details/index.tsx
  apps/torus-portal/src/app/create-permission/_components/grant-emission-permission-form-content.tsx
  apps/torus-portal/src/app/create-signal/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance create-permission page layout with a background image and improved responsiveness for better user experience
  apps/torus-portal/src/app/create-permission/page.tsx
  apps/torus-portal/src/app/create-signal/_components/create-signal-form.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: field validation for signaling
  apps/torus-portal/src/app/create-signal/_components/create-signal-form.tsx
  packages/db/src/validation.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: code rabbit fixes
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/use-graph-data.ts
  apps/torus-portal/src/app/_components/portal-navigation-tabs.tsx
  apps/torus-portal/src/app/create-permission/page.tsx
  apps/torus-portal/src/app/create-signal/_components/create-signal-form.tsx
  apps/torus-portal/src/app/create-signal/page.tsx
  packages/db/src/validation.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: signals on the agent itself
  apps/torus-portal/src/app/(permission-graph)/_components/node-details/_components/node-details-card.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/node-details/_components/node-details.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/node-details/_components/signals-accordion.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: zod schema typo
  packages/db/src/validation.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: tabs list grid on portal navigation
  apps/torus-portal/src/app/_components/portal-navigation-tabs.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add atlas hash verification
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

test pr based checks
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add schema drift check
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
