Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

feat: add agent edit functionality with image upload support
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-tabs.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement pending whitelist and DAO applications card in DAO dashboard, improve layout and loading states
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dao-dashboard-tabs.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-applications-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-whitelist-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-redirect-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
Due: torus-governance, check-torus-governance

refactor: enhance error handling with tryAsync in send component for amount change and submission processes
  apps/torus-wallet/src/app/(transfers)/_components/send/send.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-fee-handler.ts
  packages/ui/src/components/copy-button.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: hydration error on wallet asci animation
  apps/torus-page/src/app/page.tsx
  apps/torus-wallet/src/app/_components/torus-animation.tsx
  apps/torus-wallet/src/app/_components/wallet-balance.tsx
Due: torus-page, torus-wallet, check-torus-page, check-torus-wallet

fix: comment section on whitelist application
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

fix: enhance comment submission feedback and cache invalidation in create-comment component
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

refactor: implement tryAsync for better error handling in stake, transferStake, unstake components and helper functions
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/utils/helpers.ts
Due: torus-wallet, check-torus-wallet

refactor: replace useMutationHandler with createMutationHandler for consistency in agent application and comment components
  apps/torus-governance/hooks/use-mutation-handler.ts
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-activity-label.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-status-label.tsx
  apps/torus-governance/src/app/_components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/_components/comments/report-comment.tsx
  apps/torus-governance/src/app/_components/comments/view-comment.tsx
Due: torus-governance, check-torus-governance

refactor: improve error handling with Promise.resolve().then in review transaction dialog for better async flow management
  apps/torus-wallet/src/app/_components/review-transaction-dialog.tsx
Due: torus-wallet, check-torus-wallet

refactor: streamline success and error handling in review transaction dialog for cleaner code execution flow
  apps/torus-wallet/src/app/_components/review-transaction-dialog.tsx
Due: torus-wallet, check-torus-wallet

refactor: enhance logger to include caller info in debug, warn, and error messages for improved traceability
  packages/utils/src/logger.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: trycatch wrapper function across codebase (WEB-174) - Wallet (#202)
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-activity-label.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-status-label.tsx
  apps/torus-governance/src/app/_components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/_components/comments/report-comment.tsx
  apps/torus-governance/src/app/_components/comments/view-comment.tsx
  apps/torus-wallet/src/app/(transfers)/_components/receive/receive-address-display.tsx
  apps/torus-wallet/src/app/(transfers)/_components/send/send-fee-handler.ts
  apps/torus-wallet/src/app/(transfers)/_components/send/send.tsx
  apps/torus-wallet/src/app/_components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  apps/torus-wallet/src/hooks/useAPR.ts
  apps/torus-wallet/src/utils/helpers.ts
  packages/torus-provider/src/torus-provider.tsx
  packages/ui/src/components/copy-button.tsx
  packages/ui/src/hooks/use-toast.ts
  packages/utils/package.json
  packages/utils/src/logger.ts
  packages/utils/src/mutation-handler.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add useAgentApplications hook to manage agent application state and filtering in dashboard components
  apps/torus-governance/hooks/use-agent-applications.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-info-cards.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-applications-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
Due: torus-governance, check-torus-governance

refactor: remove debug console logs from ListWhitelistApplications component
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
Due: torus-governance, check-torus-governance

refactor: remove debug console logs from ListWhitelistApplications component (#203)
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
Due: torus-governance, check-torus-governance

feat: add AgentIcon and UnsavedChangesDialog components
  apps/torus-allocator/src/app/_components/agent-icon.tsx
  apps/torus-allocator/src/app/_components/unsaved-changes-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: integrate try-catch utility for error handling in auth-related functions across the codebase
  packages/api/src/auth/index.ts
  packages/api/src/auth/sign.ts
  packages/api/src/client.ts
  packages/api/src/router/auth.ts
  packages/api/src/trpc.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: apply try-catch utility for error handling in various API interactions and data parsing across the codebase
  packages/query-provider/src/hooks.ts
  packages/torus-sdk-ts/src/address.ts
  packages/torus-sdk-ts/src/cached-queries.ts
  packages/torus-sdk-ts/src/evm.ts
  packages/torus-sdk-ts/src/index.ts
  packages/torus-sdk-ts/src/modules/governance.ts
  packages/torus-sdk-ts/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: resolved isOwner condition in edit-agent-button component
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog-util.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-tabs.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: resolved image rendering and null checks in agent components
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog-util.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-preview.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/index.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: refactor agent preview components for better maintainability
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-preview.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: simplify agent editor code and improve error handling
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog-util.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance error handling using try-catch utility in transaction and metadata processing functions throughout the codebase
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/utils/metadata.ts
  packages/torus-sdk-ts/src/rpc.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: refactor upload metadata and agent edit transaction flow
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog-util.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: unify variant handling for AgentApplicationCard and DaoCard across dashboard and whitelist applications components
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-applications-card.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/agent-application-card.tsx
  apps/torus-governance/src/app/_components/dao-card/index.tsx
Due: torus-governance, check-torus-governance

feat: implement pending whitelist and DAO applications card in DAO dashboard, improve layout and loading states
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-applications-card.tsx
Due: torus-governance, check-torus-governance

refactor: simplify ListWhitelistApplications by removing unused variables from useGovernance() call
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
Due: torus-governance, check-torus-governance

refactor: implement try-catch utility for improved error handling in Discord widget and IPFS functions throughout the codebase
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/torus-provider.tsx
  packages/torus-sdk-ts/src/agent_metadata/agent_metadata.ts
  packages/torus-sdk-ts/src/modules/_common.ts
  packages/ui/src/components/discord-widget.tsx
  packages/utils/src/ipfs.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: streamline DashboardPendingDaoApplicationsCard by integrating useAgentApplications and reducing complexity
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-applications-card.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
Due: torus-governance, check-torus-governance

refactor: streamline error handling by implementing try-catch for signature verification and data signing in auth functions
  packages/api/src/auth/sign.ts
  packages/api/src/trpc.ts
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-sdk-ts/src/modules/governance.ts
  packages/ui/src/components/discord-widget.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add DashboardAgentHealthCard to DAO dashboard, enhancing layout by rearranging application cards for better visibility
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-agent-health-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-applications-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-redirect-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard.tsx
  apps/torus-governance/src/app/_components/dao-card/index.tsx
Due: torus-governance, check-torus-governance
