Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

feat: integrate logging for file upload and enhance form behavior in CreateAgentApplication component
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
Due: torus-governance, check-torus-governance

feat: enhance voting functionality in AgentApplicationVoteTypeCard and refactor penalty manager for better UX and error handling
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/_components/agent-application/penalty-manager.tsx
Due: torus-governance, check-torus-governance

fix: re-enable torus-bridge deployment in CI/CD workflow
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: comment out torus-bridge deployment in main workflow
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: torus dao animation (WEB-184) (#186)
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused agentApplicationRouter and simplify root router setup in api module
  packages/api/src/root.ts
  packages/api/src/router/agent/agent-application.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: add null check for auth in useSignIn and streamline localStorage error handling for session management
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

fix: streamline toast notifications by replacing detailed messages with concise success/error alerts in voter-list and register-agent components
  apps/torus-governance/src/app/_components/agent-application/voter-list.tsx
  apps/torus-governance/src/app/_components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

feat: enhance error handling with tryAsync utility across various components and API routes in torus-governance
  apps/torus-governance/hooks/use-discord-info.tsx
  apps/torus-governance/hooks/use-sign-in.tsx
  apps/torus-governance/hooks/use-vote-manager.tsx
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
  apps/torus-governance/src/app/_components/comments/report-comment.tsx
  apps/torus-governance/src/app/_components/comments/view-comment.tsx
  apps/torus-governance/src/app/_components/discord-auth-button.tsx
  apps/torus-governance/src/app/_components/proposal/create-proposal.tsx
  apps/torus-governance/src/app/_components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-vote-card.tsx
  apps/torus-governance/src/app/_components/proposal/register-agent.tsx
  apps/torus-governance/src/app/_components/proposal/voter-list.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info.tsx
  apps/torus-governance/src/app/api/files/route.ts
  apps/torus-governance/src/app/api/trpc/[trpc]/route.ts
Due: torus-governance, check-torus-governance

fix: update package.json and pnpm-lock.yaml to use "catalog:" specifier for react-three dependencies to streamline version management
  apps/torus-governance/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update package.json and pnpm-lock.yaml
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: refactor error handling with tryAsync across various components and APIs for improved resilience and user feedback
  apps/torus-governance/hooks/use-discord-info.tsx
  apps/torus-governance/hooks/use-sign-in.tsx
  apps/torus-governance/hooks/use-vote-manager.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-vote-bars.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/_components/proposal-expanded-view.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/_components/agent-application/voter-list.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/handle-pending-vote-state.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/remove-dao-member.tsx
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
  apps/torus-governance/src/app/_components/comments/report-comment.tsx
  apps/torus-governance/src/app/_components/comments/view-comment.tsx
  apps/torus-governance/src/app/_components/discord-auth-button.tsx
  apps/torus-governance/src/app/_components/governance-status-not-open.tsx
  apps/torus-governance/src/app/_components/proposal/create-proposal.tsx
  apps/torus-governance/src/app/_components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-vote-card.tsx
  apps/torus-governance/src/app/_components/proposal/register-agent.tsx
  apps/torus-governance/src/app/_components/proposal/voter-list.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info.tsx
  apps/torus-governance/src/app/api/files/route.ts
  apps/torus-governance/src/app/api/trpc/[trpc]/route.ts
  packages/ui/src/components/slider.tsx
  packages/ui/src/hooks/use-toast.ts
  packages/utils/package.json
  packages/utils/src/error-helpers/client-operations.ts
  packages/utils/src/error-helpers/server-operations.ts
  packages/utils/src/error-visualizer/async.ts
  packages/utils/src/error-visualizer/sync.ts
  packages/utils/src/main.ts
  packages/utils/src/try-catch.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: fix agent metadata hook with client-side preview support
  apps/torus-allocator/src/hooks/use-agent-metadata.ts
  packages/torus-sdk-ts/src/agent_metadata/agent_metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add agent edit functionality UI components
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-form.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update edit agent UI with dialog-based workflow
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/agent-info-card.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-button.shared.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-tabs.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement custom file uploader and mutation handler for improved file management and error handling across components
  apps/torus-governance/hooks/use-file-uploader.tsx
  apps/torus-governance/hooks/use-mutation-handler.ts
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/_components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/_components/agent-application/voter-list.tsx
  apps/torus-governance/src/app/_components/comments/report-comment.tsx
  apps/torus-governance/src/app/_components/comments/view-comment.tsx
  apps/torus-governance/src/app/_components/proposal/create-proposal.tsx
  apps/torus-governance/src/app/_components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/app/_components/proposal/voter-list.tsx
  apps/torus-governance/src/app/_components/shape-network-modal.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/hooks/use-toast.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: add window.__PREVIEW_METADATA__ type declaration
  apps/torus-allocator/src/hooks/use-agent-metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add query card component for building and executing blockchain queries in the query builder app
  apps/torus-query-builder/src/app/_components/query-card.tsx
  apps/torus-query-builder/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement query builder header component to enhance user interface for selecting wallets and displaying balances
  apps/torus-query-builder/src/app/_components/query-builder-header.tsx
  apps/torus-query-builder/src/app/_components/query-card.tsx
  apps/torus-query-builder/src/app/layout.tsx
  apps/torus-query-builder/src/app/page.tsx
  packages/ui/src/components/label.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: fix agent edit form with nested socials schema
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-tabs.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-content.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refacotor: improve agent UI components for better maintainability
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-tabs.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: improve agent edit preview
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-tabs.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add updateAgent function and type
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add DAO dashboard components, including tabs and info cards
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dao-dashboard-tabs.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-agent-health-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-info-cards.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-applications-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-whitelist-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
Due: torus-governance, check-torus-governance

chore: increase character limits for comments and names in create-comment component
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

feat: Whitelist Applications expanded view improvements (WEB-186) (#189)
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-vote-bars.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
  apps/torus-governance/src/app/_components/comments/view-comment.tsx
  apps/torus-governance/src/app/_components/details-card.tsx
  apps/torus-worker/src/workers/notify-dao-applications.ts
  helm/values.yaml
  packages/ui/src/components/toggle.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: trycatch wrapper function across codebase (WEB-174) - Worker + Cache (#185)
  .vscode/settings.json
  apps/torus-cache/package.json
  apps/torus-cache/src/client_example.ts
  apps/torus-cache/src/data.ts
  apps/torus-cache/src/index.ts
  apps/torus-cache/src/server.ts
  apps/torus-cache/src/utils.ts
  apps/torus-worker/package.json
  apps/torus-worker/src/__tests__/error-handling.test.ts
  apps/torus-worker/src/__tests__/workers.test.ts
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/error-playground/errorSimulator.ts
  apps/torus-worker/src/error-playground/workerErrorPlayground.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/torus-sdk-ts/src/metadata.ts
  packages/utils/package.json
  packages/utils/src/__tests__/try-catch-typing.test.ts
  packages/utils/src/__tests__/try-catch.async.test.ts
  packages/utils/src/__tests__/try-catch.sync.test.ts
  packages/utils/src/async-result.ts
  packages/utils/src/error-helpers/client-operations.ts
  packages/utils/src/error-helpers/server-operations.ts
  packages/utils/src/error-helpers/visualizer/async.ts
  packages/utils/src/error-helpers/visualizer/sync.ts
  packages/utils/src/ipfs.ts
  packages/utils/src/logger.ts
  packages/utils/src/main.ts
  packages/utils/src/result.ts
  packages/utils/src/try-catch.ts
  packages/utils/src/typing.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix tRCP context typing of authenticatedProcedure (web-167) (#187)
  packages/api/src/router/agent/agent-application-vote.ts
  packages/api/src/router/agent/agent-report.ts
  packages/api/src/router/agent/user-agent-weight.ts
  packages/api/src/router/cadre/cadre-candidate.ts
  packages/api/src/router/cadre/cadre-vote.ts
  packages/api/src/router/comment/comment-interaction.ts
  packages/api/src/router/comment/comment-report.ts
  packages/api/src/router/comment/comment.ts
  packages/api/src/router/penalty/penalty.ts
  packages/api/src/trpc.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: Torus SDK publishing (WEB-178) (#192)
  apps/torus-allocator/package.json
  apps/torus-governance/package.json
  apps/torus-page/package.json
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/(transfers)/_components/receive/receive-address-display.tsx
  apps/torus-wallet/src/app/(transfers)/_components/receive/receive.tsx
  apps/torus-wallet/src/app/(transfers)/_components/send/send-fee-handler.ts
  apps/torus-wallet/src/app/(transfers)/_components/send/send-form-schema.ts
  apps/torus-wallet/src/app/(transfers)/_components/send/send-form.tsx
  apps/torus-wallet/src/app/(transfers)/_components/send/send.tsx
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/_components/sidebar-links.tsx
  apps/torus-wallet/src/app/_components/torus-animation.tsx
  apps/torus-wallet/src/app/_components/wallet-balance.tsx
  apps/torus-wallet/src/app/page.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update to next 15.3 and enable turbopack builds (#193)
  apps/torus-allocator/package.json
  apps/torus-governance/package.json
  apps/torus-page/package.json
  apps/torus-wallet/package.json
  package.json
  packages/env-validation/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: wallet try catch logic with try-async helper function
  apps/torus-wallet/src/app/(transfers)/_components/send/send-fee-handler.ts
  apps/torus-wallet/src/app/_components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  apps/torus-wallet/src/utils/helpers.ts
  packages/torus-provider/src/torus-provider.tsx
  packages/ui/src/hooks/use-toast.ts
  packages/utils/package.json
  packages/utils/src/mutation-handler.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: utilize tryAsync and trySync for improved error handling in copy and APR calculations
  apps/torus-wallet/src/app/(transfers)/_components/receive/receive-address-display.tsx
  apps/torus-wallet/src/app/(transfers)/_components/send/send-fee-handler.ts
  apps/torus-wallet/src/hooks/useAPR.ts
Due: torus-wallet, check-torus-wallet

refactor: update transaction status messages to uniform 'Awaiting Signature' across send and staking components
  apps/torus-wallet/src/app/(transfers)/_components/send/send.tsx
  apps/torus-wallet/src/app/_components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
Due: torus-wallet, check-torus-wallet

feat: add agent editing functionality with IPFS metadata support
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-dialog/edit-agent-dialog-util.ts
  apps/torus-allocator/src/app/api/files/route.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add PINATA_JWT environment variable and update updateAgent call
  apps/torus-allocator/src/env.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
