Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

refactor: simplify tutorial dialog state management and improve user experience
  apps/torus-allocator/src/app/components/tutorial-dialog.tsx
  apps/torus-allocator/src/app/components/user-weight-info.tsx
  apps/torus-allocator/src/stores/tutorialStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

wip checkpoint
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: simplify TutorialDialog usage and enhance AgentItem component logic
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-allocator/src/app/components/tutorial-dialog.tsx
  apps/torus-allocator/src/app/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: add percentage change tracking and improve pagination component
  apps/torus-allocator/src/app/components/agent-content-list.tsx
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-allocator/src/app/components/pagination-controls.tsx
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update percentage handling and improve UI components for agent allocation
  apps/torus-allocator/src/app/components/agent-info-card.tsx
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance percentage update logic and improve slider component styling
  apps/torus-allocator/src/stores/delegateAgentStore.ts
  packages/ui/src/components/slider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve type safety for children prop and clean up percentage calculation logic
  apps/torus-allocator/src/app/(main-page)/layout.tsx
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update icon component names for consistency and improve type safety in various components
  apps/torus-allocator/src/app/components/agent-info-card.tsx
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/report-agent.tsx
  apps/torus-allocator/src/app/layout.tsx
  apps/torus-page/src/app/components/footer.tsx
  apps/torus-page/src/app/components/hover-header/index.tsx
  packages/ui/src/components/allocator-agent-item.tsx
  packages/ui/src/components/footer.tsx
  packages/ui/src/components/header.tsx
  packages/ui/src/components/icons.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: adjust percentage calculation for agents to ensure total equals 100
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement tutorial dialog and store for user guidance
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-allocator/src/app/components/tutorial-dialog.tsx
  apps/torus-allocator/src/app/components/user-weight-info.tsx
  apps/torus-allocator/src/app/layout.tsx
  apps/torus-allocator/src/stores/allocationMenuStore.ts
  apps/torus-allocator/src/stores/tutorialStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: disable slider when wallet is not connected
  apps/torus-allocator/src/app/components/agent-item.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: remove commented-out code for clarity in sendTransaction function
  packages/torus-provider/src/_components/send-transaction.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: validate slider value and remove unused state in delegate agent store
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: streamline agent management and improve UI feedback for percentage allocation
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-allocator/src/app/components/popover-info.tsx
  apps/torus-allocator/src/app/components/user-weight-info.tsx
  apps/torus-allocator/src/stores/delegateAgentStore.ts
  packages/ui/src/components/slider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: slider
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add percentage slider for agent allocation and update state management
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement automatic removal of agents with zero allocation percentage
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add loading skeletons for agent content and improve layout
  apps/torus-allocator/src/app/components/agent-content-list.tsx
  apps/torus-allocator/src/app/components/agent-item-skeleton.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: rename DelegatedList to AllocationMenu and integrate Slider component
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-allocator/src/app/layout.tsx
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/slider.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: streamline agent addition logic and enhance percentage update handling
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/stores/delegateAgentStore.ts
  packages/torus-provider/src/_components/send-transaction.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: Refactor Allocation UX (WEB-97) (#117)
  apps/torus-allocator/src/app/(main-page)/layout.tsx
  apps/torus-allocator/src/app/components/agent-content-list.tsx
  apps/torus-allocator/src/app/components/agent-info-card.tsx
  apps/torus-allocator/src/app/components/agent-item-skeleton.tsx
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-allocator/src/app/components/pagination-controls.tsx
  apps/torus-allocator/src/app/components/popover-info.tsx
  apps/torus-allocator/src/app/components/report-agent.tsx
  apps/torus-allocator/src/app/components/tutorial-dialog.tsx
  apps/torus-allocator/src/app/components/user-weight-info.tsx
  apps/torus-allocator/src/app/layout.tsx
  apps/torus-allocator/src/stores/allocationMenuStore.ts
  apps/torus-allocator/src/stores/delegateAgentStore.ts
  apps/torus-allocator/src/stores/tutorialStore.ts
  apps/torus-page/src/app/components/footer.tsx
  apps/torus-page/src/app/components/hover-header/index.tsx
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/ui/package.json
  packages/ui/src/components/allocator-agent-item.tsx
  packages/ui/src/components/footer.tsx
  packages/ui/src/components/header.tsx
  packages/ui/src/components/icons.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/slider.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add emission health factor badge and penalty label to ListAgents component
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

fix: hyperlane bridge build
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update PenaltyLabel styling and format in ListAgents component
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

fix: update webpack configuration to include webpack parameter instead of importing
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

fix: correct penalty length display in PenaltyLabel component
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

refactor: clean up sidebar and tutorial dialog components; update linter ignore rules
  apps/torus-allocator/src/app/components/sidebar-links.tsx
  apps/torus-allocator/src/app/components/tutorial-dialog.tsx
  biome.json
  packages/subspace/package.json
  packages/subspace/readme.md
  tooling/typescript/base.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: improve env var validation error message
  packages/env-validation/package.json
  packages/env-validation/src/EnvScript.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: pass torusCacheUrl as a prop to AllocatorHeader
  apps/torus-allocator/src/app/components/allocator-header.tsx
  apps/torus-allocator/src/app/layout.tsx
  packages/env-validation/src/EnvScript.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

dry-run build for bridge and worker even if there's a PR
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

docs: update README for improved project structure and usage instructions
  README.md
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

docs: update README to clarify project structure and remove TODO for utils migration
  README.md
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: remove comment
  apps/torus-wallet/src/app/components/actions/send.tsx
Due: torus-wallet, check-torus-wallet

refactor: stake
  apps/torus-wallet/src/app/components/actions/stake.tsx
Due: torus-wallet, check-torus-wallet

refactor: simplify form handling by using getValues and trigger methods
  apps/torus-wallet/src/app/components/actions/send.tsx
Due: torus-wallet, check-torus-wallet

fix: replace hardcoded allocator address with constant for better maintainability
  apps/torus-wallet/src/app/components/validators-list.tsx
Due: torus-wallet, check-torus-wallet

fix: update form validation mode to 'onTouched' for improved user experience
  apps/torus-wallet/src/app/components/actions/send.tsx
Due: torus-wallet, check-torus-wallet

refactor: unstake
  apps/torus-wallet/src/app/components/actions/unstake.tsx
Due: torus-wallet, check-torus-wallet

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
