Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

Revert "[TMP] Disable torus-bridge build"
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: sane slider
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: removing console log
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

WEB-155 - fix allocator slider (#135)
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: remove wrong allocator button
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
Due: torus-wallet, check-torus-wallet

add drizzle check
  .github/workflows/migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: adjust layout for action and guide dialogs on home page for better responsiveness
  apps/torus-bridge/src/app/page.tsx
Due: torus-bridge, check-torus-bridge

[TEMP] point dev bridge to mainnet
  apps/torus-bridge/helmfile.yaml
Due: torus-bridge, check-torus-bridge

fix: validate POSTGRES_URL environment variable using zod
  packages/db/drizzle.config.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update PostgreSQL connection details to use port 1337
  .env.example
  docker-compose.yml
  packages/db/start-database.sh
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update example environment variables for cache URL and mnemonics
  .env.example
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add ls command to list app names from package.json files
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: remove TODO.md file as tasks have been completed
  TODO.md
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: replace ls command with turbo ls
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

dev schema
  packages/db/drizzle/0000_handy_arachne.sql
  packages/db/drizzle/0000_tricky_maximus.sql
  packages/db/drizzle/0001_rich_daredevil.sql
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/0001_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/drizzle/relations.ts
  packages/db/drizzle/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

dev schema
  packages/db/drizzle/0000_tricky_maximus.sql
  packages/db/drizzle/dump.sql
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/drizzle/relations.ts
  packages/db/drizzle/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

disable dry-run builds on PR commits
  .github/workflows/dry-run-build-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

new migration schema
  packages/db/drizzle/0001_rich_daredevil.sql
  packages/db/drizzle/meta/0001_snapshot.json
  packages/db/drizzle/meta/_journal.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: migrations
  drizzle.config.ts
  packages/db/drizzle/0000_naive_anthem.sql
  packages/db/drizzle/0000_tricky_maximus.sql
  packages/db/drizzle/0001_curious_retro_girl.sql
  packages/db/drizzle/0001_rich_daredevil.sql
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/0001_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/drizzle/relations.ts
  packages/db/drizzle/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: (web-151) refactor torus page
  apps/torus-page/src/app/components/hover-header/_components/custom-button.tsx
  apps/torus-page/src/app/components/hover-header/_components/data.ts
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/desktop/lines-svg.tsx
  apps/torus-page/src/app/components/hover-header/_components/mobile/buttons-section-mobile.tsx
  apps/torus-page/src/app/components/hover-header/_components/mobile/lines-svg-mobile.tsx
  apps/torus-page/src/app/components/hover-header/index.tsx
  packages/ui/package.json
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update external links in hover header to use variables for blog and discord
  apps/torus-page/src/app/components/hover-header/_components/data.ts
Due: torus-page, check-torus-page

fix: eslint rule on page component
  apps/torus-page/src/app/components/hover-header/_components/mobile/buttons-section-mobile.tsx
Due: torus-page, check-torus-page

feat: (web-151) refactor torus page (#138)
  apps/torus-page/src/app/components/hover-header/_components/custom-button.tsx
  apps/torus-page/src/app/components/hover-header/_components/data.ts
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/desktop/lines-svg.tsx
  apps/torus-page/src/app/components/hover-header/_components/mobile/buttons-section-mobile.tsx
  apps/torus-page/src/app/components/hover-header/_components/mobile/lines-svg-mobile.tsx
  apps/torus-page/src/app/components/hover-header/index.tsx
  packages/ui/package.json
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance TorusProvider to include account balances
  packages/torus-provider/src/torus-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: split component WalletDropdown into single responsibilities
  packages/ui/src/components/wallet-actions.tsx
  packages/ui/src/components/wallet-dropdown.tsx
  packages/ui/src/components/wallet-info.tsx
  packages/ui/src/components/wallet-label.tsx
  packages/ui/src/components/wallet-select.tsx
  packages/ui/src/components/wallet-switch.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

[TEMP] point dev bridge to mainnet apis
  apps/torus-bridge/helmfile.yaml
Due: torus-bridge, check-torus-bridge

feat: update WalletDropdown import paths and add new wallet components
  apps/torus-allocator/src/app/components/allocator-header.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-wallet/src/app/components/wallet-header.tsx
  packages/ui/src/components/wallet-dropdown/wallet-actions.tsx
  packages/ui/src/components/wallet-dropdown/wallet-dropdown.tsx
  packages/ui/src/components/wallet-dropdown/wallet-info.tsx
  packages/ui/src/components/wallet-dropdown/wallet-label.tsx
  packages/ui/src/components/wallet-dropdown/wallet-select.tsx
  packages/ui/src/components/wallet-dropdown/wallet-switch.tsx
  packages/ui/src/components/wallet-info.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: set default balance to 0 and improve balance handling in WalletInfo component
  packages/ui/src/components/wallet-dropdown/wallet-info.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update TransferEVM component to handle modes and balance fetching more robustly
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
Due: torus-bridge, check-torus-bridge

refactor: simplify balance calculation and improve rendering in WalletBalance component
  apps/torus-wallet/src/app/components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

feat: add copy functionality to DropdownMenuRadioItem for better user experience
  packages/ui/src/components/dropdown-menu.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: streamline wallet selection logic in WalletDropdown component
  packages/ui/src/components/wallet-dropdown/wallet-dropdown.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: replace Wallet icon with Scale icon in WalletInfo component
  packages/ui/src/components/wallet-dropdown/wallet-info.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance WalletSwitch component with copy visibility and address truncation
  packages/ui/src/components/wallet-dropdown/wallet-switch.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve balance calculation and loading state handling in WalletBalance component
  apps/torus-wallet/src/app/components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

refactor: improve wallet selection handling and total balance calculation in WalletDropdown component
  packages/ui/src/components/wallet-dropdown/wallet-dropdown.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: handle balance calculation error more gracefully in TorusProvider
  packages/torus-provider/src/torus-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: handle optional wallet account names more safely in wallet components
  packages/ui/src/components/wallet-dropdown/wallet-info.tsx
  packages/ui/src/components/wallet-dropdown/wallet-label.tsx
  packages/ui/src/components/wallet-dropdown/wallet-select.tsx
  packages/ui/src/components/wallet-dropdown/wallet-switch.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: provide default name for unnamed wallet accounts in wallet dropdown components
  packages/ui/src/components/wallet-dropdown/wallet-info.tsx
  packages/ui/src/components/wallet-dropdown/wallet-select.tsx
  packages/ui/src/components/wallet-dropdown/wallet-switch.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
