Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

feat: add CreateCadreCandidates component and enhance layout in DaoPortalPage for better candidate management
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/handle-pending-vote-state.tsx
Due: torus-governance, check-torus-governance

fix: proposal fetching and db consistency
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  atlas.hcl
  atlas/migrations/20250331002414.sql
  atlas/migrations/20250331002504.sql
  atlas/migrations/20250331020820.sql
  atlas/migrations/20250331021309.sql
  atlas/migrations/20250331021726.sql
  atlas/migrations/atlas.sum
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement go-style error handling with tryAsync and trySync functions for async/sync operations
  packages/utils/package.json
  packages/utils/src/__tests__/gogotry.async.test.ts
  packages/utils/src/__tests__/gogotry.sync.test.ts
  packages/utils/src/gogotry/async-operations.ts
  packages/utils/src/gogotry/sync-operations.ts
  packages/utils/src/gogotry/testsuit/async.ts
  packages/utils/src/gogotry/testsuit/sync.ts
  packages/utils/src/main.ts
  packages/utils/src/try-catch.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: improve accessibility and layout in CreateCadreCandidates and HandleRemoveDaoMember components
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/remove-dao-member.tsx
Due: torus-governance, check-torus-governance

fix: proposal fetching and db consistency (#177)
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  atlas.hcl
  atlas/migrations/20250331002414.sql
  atlas/migrations/20250331002504.sql
  atlas/migrations/20250331020820.sql
  atlas/migrations/20250331021309.sql
  atlas/migrations/20250331021726.sql
  atlas/migrations/atlas.sum
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: refactor error handling to use new async/sync operations and update test suite paths for improved structure
  packages/utils/src/__tests__/gogotry.async.test.ts
  packages/utils/src/__tests__/gogotry.sync.test.ts
  packages/utils/src/error_handler/gogotry/async-operations.ts
  packages/utils/src/error_handler/gogotry/sync-operations.ts
  packages/utils/src/error_handler/gogotry/testsuit/async.ts
  packages/utils/src/error_handler/gogotry/testsuit/sync.ts
  packages/utils/src/error_handler/toast/client-operations.ts
  packages/utils/src/error_handler/toast/server-operations.ts
  packages/utils/src/main.ts
  packages/utils/src/try-catch.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add filtering capabilities to agents and proposals, including type, status, and search enhancements in filtering components
  apps/torus-governance/src/app/(pages)/agents/page.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/_components/view-selector.tsx
  apps/torus-governance/src/app/(pages)/page.tsx
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/_components/filter-content.tsx
  apps/torus-governance/src/app/_components/render-list/list-agent-applications.tsx
  apps/torus-governance/src/app/_components/render-list/list-agents.tsx
  apps/torus-governance/src/app/_components/render-list/list-proposals.tsx
  packages/ui/package.json
  packages/ui/src/components/radio-group.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update button styles for vote rejection and improve wording in remove DAO member component (#178)
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/handle-pending-vote-state.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/remove-dao-member.tsx
Due: torus-governance, check-torus-governance

fix: update button text for remove DAO member and clean up unused label in candidate card component
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/remove-dao-member.tsx
Due: torus-governance, check-torus-governance

fix: update button text in HandleRemoveDaoMember component for clarity on removing DAO votes
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/remove-dao-member.tsx
Due: torus-governance, check-torus-governance

refactor: remove unused deps and add hasMaskDecimal param
  apps/torus-wallet/package.json
  apps/torus-wallet/src/utils/helpers.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve transaction review dialog UI and functionality
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/components/wallet-balance.tsx
  apps/torus-wallet/src/app/transfers/_components/send.tsx
  apps/torus-wallet/src/app/transfers/layout.tsx
Due: torus-wallet, check-torus-wallet

fix: update blog link in data.ts to point to the correct Torus blog URL
  packages/ui/src/lib/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance error handling across workers and queries with tryAsyncLoggingRaw for better traceability and resilience
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/utils/package.json
  packages/utils/src/__tests__/gogotry.async.test.ts
  packages/utils/src/__tests__/gogotry.sync.test.ts
  packages/utils/src/error-handler/async-operations.ts
  packages/utils/src/error-handler/client-operations.ts
  packages/utils/src/error-handler/server-operations.ts
  packages/utils/src/error-handler/sync-operations.ts
  packages/utils/src/error-handler/testsuit/async.ts
  packages/utils/src/error-handler/testsuit/sync.ts
  packages/utils/src/error_handler/toast/client-operations.ts
  packages/utils/src/main.ts
  packages/utils/src/try-catch.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add comprehensive tests and error simulation playground for worker error handling scenarios and traceability enhancements
  apps/torus-worker/src/__tests__/error-handling.test.ts
  apps/torus-worker/src/__tests__/workers.test.ts
  apps/torus-worker/src/error-playground/errorSimulator.ts
  apps/torus-worker/src/error-playground/workerErrorPlayground.ts
Due: torus-worker, check-torus-worker

fix: refactor empty and error states in agent applications and proposals list components for improved user experience
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/_components/render-list/list-agent-applications.tsx
  apps/torus-governance/src/app/_components/render-list/list-agents.tsx
  apps/torus-governance/src/app/_components/render-list/list-proposals.tsx
Due: torus-governance, check-torus-governance

fix: standardize application status values to uppercase for consistency across the agent application and proposal functionalities
  apps/torus-worker/src/common/index.ts
Due: torus-worker, check-torus-worker

fix: standardize application status values to camelCase for consistency across application and proposal handling functions
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
Due: torus-worker, check-torus-worker

feat: add Vote Percentage Bar component to agent applications for better visibility of voting status
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-percentage-bar.tsx
  apps/torus-governance/src/app/_components/card-view-data.tsx
  apps/torus-governance/src/app/_components/render-list/list-agent-applications.tsx
Due: torus-governance, check-torus-governance

chore: refactor sidebar navigation and improve wallet header UI
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/app/components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

refactor: adjust wallet header and layout spacing
  apps/torus-wallet/src/app/components/wallet-balance.tsx
  apps/torus-wallet/src/app/layout.tsx
Due: torus-wallet, check-torus-wallet

chore: refactor APR calculation with improved modularity and error handling
  apps/torus-wallet/src/hooks/useAPR.ts
Due: torus-wallet, check-torus-wallet

wip: add type tests for error handlers with documented TODOs
  .vscode/settings.json
  apps/torus-worker/package.json
  packages/utils/src/__tests__/gogotry.async.test.ts
  packages/utils/src/error-handler/__tests__/client-operations-typing.test.ts
  packages/utils/src/error-handler/__tests__/error-handler-typing.test.ts
  packages/utils/src/error-handler/__tests__/server-operations-typing.test.ts
  packages/utils/src/error-handler/client-operations.ts
  packages/utils/src/error-handler/server-operations.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: redesign Receive component with improved UI and visual hierarchy
  apps/torus-wallet/src/app/transfers/_components/receive.tsx
  apps/torus-wallet/src/app/transfers/layout.tsx
Due: torus-wallet, check-torus-wallet

fix: update against votes background color to stone-900 for better visibility
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-percentage-bar.tsx
Due: torus-governance, check-torus-governance

refactor: add USD price to staking transaction review dialogs
  apps/torus-wallet/src/app/staking/_components/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake.tsx
Due: torus-wallet, check-torus-wallet

refactor: improve staking component for improved code organization
  apps/torus-wallet/src/app/staking/_components/stake.tsx
  apps/torus-wallet/src/app/transfers/_components/receive.tsx
Due: torus-wallet, check-torus-wallet

feat: enhance AgentApplicationVotePercentageBar with whitelistStatus prop for better vote display based on application state
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-percentage-bar.tsx
  apps/torus-governance/src/app/_components/card-view-data.tsx
  apps/torus-governance/src/app/_components/render-list/list-agent-applications.tsx
Due: torus-governance, check-torus-governance

refactor: remove unused Vote Percentage Bar from AgentApplicationExpandedView for cleaner component structure and improved performance
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-percentage-bar.tsx
  apps/torus-governance/src/app/_components/card-view-data.tsx
  packages/torus-provider/src/_components/send-transaction.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add Vote Percentage Bar component to agent applications (#180)
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-percentage-bar.tsx
  apps/torus-governance/src/app/_components/card-view-data.tsx
  apps/torus-governance/src/app/_components/render-list/list-agent-applications.tsx
  packages/torus-provider/src/_components/send-transaction.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: refactor staking calculator into smaller components
  apps/torus-wallet/src/app/staking/_components/staking-calculator.tsx
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator-amount-input.tsx
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator-forecast-periods.tsx
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator-growth-chart.tsx
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator-growth-tooltip.tsx
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator-header.tsx
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator-summary-footer.tsx
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator-utils.ts
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator.tsx
  apps/torus-wallet/src/app/staking/layout.tsx
Due: torus-wallet, check-torus-wallet

refactor: refactor stake component into smaller modules
  apps/torus-wallet/src/app/staking/_components/stake.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/stake/stake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/stake/stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  packages/ui/src/hooks/use-toast.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve unstake component into modular architecture
  apps/torus-wallet/src/app/staking/_components/stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/app/staking/layout.tsx
Due: torus-wallet, check-torus-wallet

refactor: improve transfer-stake component into modular structure
  apps/torus-wallet/src/app/staking/_components/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake.tsx
  apps/torus-wallet/src/app/staking/layout.tsx
Due: torus-wallet, check-torus-wallet

refactor: remove unnecessary transfer-stake intermediary file
  apps/torus-wallet/src/app/staking/_components/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/layout.tsx
Due: torus-wallet, check-torus-wallet

refactor: use explicit RefObject import instead of React namespace
  apps/torus-wallet/src/app/staking/_components/stake/stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/stake/stake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form-schema.ts
Due: torus-wallet, check-torus-wallet

refactor: fix URL creation for "torus" subdomain
  packages/ui/src/lib/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor(utils): add Result implementation with monad-like map/match interfaces
  .vscode/settings.json
  packages/torus-sdk-ts/src/metadata.ts
  packages/utils/package.json
  packages/utils/src/__tests__/gogotry.async.test.ts
  packages/utils/src/__tests__/gogotry.sync.test.ts
  packages/utils/src/__tests__/try-catch-typing.test.ts
  packages/utils/src/error-handler/async-operations.ts
  packages/utils/src/error-handler/sync-operations.ts
  packages/utils/src/error-helpers/__tests__/client-operations-typing.test.ts
  packages/utils/src/error-helpers/__tests__/server-operations-typing.test.ts
  packages/utils/src/error-helpers/client-operations.ts
  packages/utils/src/error-helpers/server-operations.ts
  packages/utils/src/error-helpers/testsuit/async.ts
  packages/utils/src/error-helpers/testsuit/sync.ts
  packages/utils/src/ipfs.ts
  packages/utils/src/main.ts
  packages/utils/src/result.ts
  packages/utils/src/try-catch.ts
  packages/utils/src/typing.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
