Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-governance, torus-cache

Path conditions:
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torusx-page/**, apps/torus-worker/**, apps/sample-app/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torusx-page/**, apps/torus-worker/**, apps/sample-app/**, apps/torus-governance/**, apps/torus-wallet/**

fix pipeline conditional running
  .drone.yml
Due: torus-governance, torus-cache

fix: update bridge closed message to remove total bridged amount
  apps/torus-page/src/app/layout.tsx
Due: none

Revert pointing Dockerfile to mainnet by default
  docker/Dockerfile
Due: torus-governance, torus-cache

add prepare-dockerfile pipeline step
  .drone.yml
  scripts/sed_dockerfile.sh
Due: torus-governance, torus-cache

fix app name on prepare-dockerfile step
  .drone.yml
Due: torus-governance, torus-cache

Add dry-run docker checks
  .drone.yml
Due: torus-governance, torus-cache

fix: layout component changes that were breaking the torus page
  apps/torus-governance/src/app/layout.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-wallet/src/app/layout.tsx
  packages/ui/src/components/layout.tsx
Due: torus-governance, torus-cache

fix: weight power
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/components/popover-info.tsx
  apps/torus-validator/src/app/components/sidebar-info.tsx
Due: none

feat: allocator changes
  apps/torus-validator/src/app/components/agent-info-card.tsx
  apps/torus-validator/src/app/components/allocator-header.tsx
Due: none

feat: add logo and favicon
  apps/torus-governance/public/logo.svg
  apps/torus-validator/public/favicon.ico
  apps/torus-wallet/public/favicon.ico
  apps/torus-wallet/public/logo.svg
Due: torus-governance

feat: governance changes
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(pages)/proposal/[id]/_components/proposal-expanded-view.tsx
  apps/torus-governance/src/app/(pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/card-view-data.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
  apps/torus-governance/src/app/components/comments/view-comment.tsx
  apps/torus-governance/src/app/components/details-card.tsx
  apps/torus-governance/src/app/components/proposal/proposal-vote-card.tsx
  apps/torus-governance/src/app/components/proposal/vote-power-settings.tsx
  apps/torus-governance/src/app/components/proposal/voter-list.tsx
  apps/torus-governance/src/app/components/vote-data.tsx
  apps/torus-governance/src/app/components/vote-percentage-bar.tsx
  apps/torus-governance/src/context/governance-provider.tsx
Due: torus-governance

feat: packages changes
  packages/api/src/router/comment/comment-interaction.ts
  packages/api/src/router/comment/comment.ts
  packages/db/src/schema.ts
  packages/query-provider/src/hooks.ts
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
  packages/ui/src/components/wallet-dropdown.tsx
  packages/utils/src/ipfs.ts
Due: torus-governance, torus-cache

feat: governance updates to torus v0
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
  apps/torus-governance/src/app/page.tsx
  packages/ui/src/components/header.tsx
Due: torus-governance, torus-cache

fix: wallet transactions states when switching wallets
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
Due: none

feat: include tutorial on allocator
  apps/torus-validator/src/app/(expanded-pages)/tutorial/page.tsx
  apps/torus-validator/src/app/components/allocator-header.tsx
  apps/torus-validator/src/app/components/tutorial-dialog.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
Due: none

chore: delete unused svgs
  apps/torus-validator/public/arrow-down-icon.svg
  apps/torus-validator/public/arrow-link-icon.svg
  apps/torus-validator/public/bg-pattern.svg
  apps/torus-validator/public/discord-icon.svg
  apps/torus-validator/public/docs-icon.svg
  apps/torus-validator/public/github-icon.svg
  apps/torus-validator/public/send-icon.svg
  apps/torus-validator/public/stake-icon.svg
  apps/torus-validator/public/telegram-icon.svg
  apps/torus-validator/public/unstake-icon.svg
  apps/torus-validator/public/wallet-icon.svg
  apps/torus-validator/public/x-icon.svg
  apps/torus-wallet/public/bg-pattern.svg
  apps/torus-wallet/public/discord-icon.svg
  apps/torus-wallet/public/docs-icon.svg
  apps/torus-wallet/public/github-icon.svg
  apps/torus-wallet/public/logo-green.svg
  apps/torus-wallet/public/receive-icon.svg
  apps/torus-wallet/public/send-icon.svg
  apps/torus-wallet/public/stake-icon.svg
  apps/torus-wallet/public/telegram-icon.svg
  apps/torus-wallet/public/transfer-icon.svg
  apps/torus-wallet/public/unstake-icon.svg
  apps/torus-wallet/public/wallet-icon.svg
  apps/torus-wallet/public/x-icon.svg
Due: none

fix: submit on propose changes governance
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/proposal/create-proposal.tsx
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance

feat: wallet changes
  apps/torus-wallet/src/app/components/wallet-header.tsx
Due: none

feat: god have mercy on me pt.3
  apps/torus-validator/src/app/page.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
Due: none

feat: god have mercy on me
  apps/torus-governance/helmfile.yaml
  apps/torus-validator/src/app/components/agent-content-list.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/intro.tsx
  apps/torus-wallet/src/app/components/wallet-balance.tsx
  apps/torus-wallet/src/app/page.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-governance, torus-cache

chore: clean up unused imports and variables across components for checks
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-wallet/src/app/components/actions/bridge.tsx
  packages/api/src/router/comment/comment-interaction.ts
  packages/torus-provider/src/_types/index.ts
Due: torus-governance, torus-cache

fix docker dry-run tags
  .drone.yml
Due: torus-governance, torus-cache

feat: add suspense for lazy loading of agent and ideas content
  apps/torus-validator/src/app/page.tsx
Due: none

feat: god have mercy on me pt.2
  apps/torus-wallet/src/app/components/actions/unstake.tsx
Due: none

feat: we made it
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-governance, torus-cache
