Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-governance, torus-cache

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

fix: refactor blog button to use Button asChild for improved semantics
  apps/torus-page/src/app/components/hover-header.tsx
Due: none

fix: blog button
  apps/torus-page/src/app/components/hover-header.tsx
Due: none

fix: update WebSocket and cache provider URLs in Dockerfile
  docker/Dockerfile
Due: torus-governance, torus-cache

fix: wallet selection on bridge
  apps/torus-page/src/app/components/bridge.tsx
  packages/ui/src/components/no-wallet-extension-display.tsx
Due: torus-governance, torus-cache

fix: comment out Torus heading for layout adjustments
  apps/torus-page/src/app/page.tsx
Due: none

feat: decrease refetch interval on useBridgeBalances
  packages/query-provider/src/hooks.ts
Due: torus-governance, torus-cache

feat: add ed's Justfile commands & fix `db-push`
  justfile
  turbo.json
Due: torus-governance, torus-cache

feat: add soft delete checks in various api routes
  justfile
  packages/api/src/router/agent/agent-application-vote.ts
  packages/api/src/router/agent/agent-report.ts
  packages/api/src/router/agent/agent.ts
  packages/api/src/router/agent/computed-agent-weight.ts
  packages/api/src/router/agent/user-agent-weight.ts
  packages/api/src/router/cadre/cadre-candidate.ts
  packages/api/src/router/cadre/cadre-vote.ts
  packages/api/src/router/cadre/cadre.ts
  packages/api/src/router/comment/comment-interaction.ts
  packages/api/src/router/comment/comment-report.ts
Due: torus-governance, torus-cache

feat: add link to CLI documentation in bridge component
  apps/torus-page/src/app/components/bridge.tsx
Due: none

chore: update dependencies in pnpm-lock.yaml to latest versions
  pnpm-lock.yaml
Due: torus-governance, torus-cache

feat: make information hover card more clear
  apps/torus-page/src/app/components/bridge.tsx
Due: none

[TEMP] Disable front URLs for production
  apps/torus-governance/helmfile.yaml
  apps/torus-page/helmfile.yaml
  apps/torus-validator/helmfile.yaml
  apps/torus-wallet/helmfile.yaml
Due: torus-governance

re-enable torus-page ingress
  apps/torus-page/helmfile.yaml
Due: none

chore: remove Git LFS file on /data/
  .gitignore
  data/metadata/local.json
Due: torus-governance, torus-cache

feat: new transaction methods handler with toast
  packages/toast-provider/src/globals.css
  packages/toast-provider/src/toast-provider.tsx
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/_components/toast-content-handler.tsx
  packages/ui/src/components/transaction-status.tsx
Due: torus-governance, torus-cache

feat: add ed's Justfile commands & fix `db-push`
  justfile
Due: torus-governance, torus-cache

[TEMP] Disable front URLs for production
  apps/torus-page/helmfile.yaml
Due: none

feat: add soft delete checks in various api routes
  justfile
Due: torus-governance, torus-cache

fix: lint and format pipeline errors
  packages/toast-provider/src/globals.css
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/torus-provider.tsx
Due: torus-governance, torus-cache

feat: improvements on the new toast content handler
  packages/torus-provider/src/_components/toast-content-handler.tsx
Due: torus-governance, torus-cache

feat: relative wsendpoint on toast content handler
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/_components/toast-content-handler.tsx
  packages/torus-provider/src/torus-provider.tsx
Due: torus-governance, torus-cache

disable dao notifier release
  apps/torus-worker/helmfile.yaml
Due: none

feat: small improvements
  apps/torus-page/src/app/components/bridge.tsx
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/_components/toast-content-handler.tsx
Due: torus-governance, torus-cache

feat: calculate boundary box and center camera for torus object using `@react-three/drei`
  apps/torus-page/src/app/components/torus.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/app/page.tsx
Due: none

remove lfs from .gitattributes
  .gitattributes
Due: torus-governance, torus-cache

chore: improve type generation just recipes
  justfile
  packages/subspace/justfile
Due: torus-governance, torus-cache

chore: regen augmented types for V0
  apps/torus-governance/src/app/components/agent-application/agent-application-status-label.tsx
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/card-view-data.tsx
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/components/proposal/proposal-type-label.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  apps/torus-governance/src/app/components/proposal/voter-list.tsx
  apps/torus-governance/src/app/dao/[id]/_components/dao-expanded-view.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-governance/src/utils/index.tsx
  apps/torus-page/src/app/components/bridge.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/context/page-provider.tsx
  flake.nix
  packages/query-provider/src/hooks.ts
  packages/subspace/src/interfaces/augment-api-consts.ts
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-events.ts
  packages/subspace/src/interfaces/augment-api-query.ts
  packages/subspace/src/interfaces/augment-api-runtime.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/registry.ts
  packages/subspace/src/interfaces/types-lookup.ts
  packages/subspace/src/metadata.ts
  packages/subspace/src/modules/bridge.ts
  packages/subspace/src/modules/governance.ts
  packages/subspace/src/modules/subspace.ts
  packages/subspace/src/types/zod.ts
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-governance, torus-cache

feat: v0 governance update
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/dao/[id]/_components/dao-expanded-view.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-governance/src/utils/index.tsx
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db/index.ts
  packages/query-provider/src/hooks.ts
  packages/subspace/src/modules/governance.ts
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-governance, torus-cache

refactor: rename DAO components to Agent Application components and update related paths
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(pages)/proposal/[id]/_components/proposal-expanded-view.tsx
  apps/torus-governance/src/app/(pages)/proposal/[id]/loader.tsx
  apps/torus-governance/src/app/(pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
Due: torus-governance

Path conditions:
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torusx-page/**, apps/torus-worker/**, apps/sample-app/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torusx-page/**, apps/torus-worker/**, apps/sample-app/**, apps/torus-governance/**, apps/torus-wallet/**
