Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

refactor: clean up code and reintroduce URL_SCHEMA in ipfs.ts
  packages/utils/src/index.ts
  packages/utils/src/ipfs.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: integrate shadcn-dropzone for file uploads in RegisterAgent component
  apps/torus-governance/package.json
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add sparkles effect to animation component and adjust background intensity
  apps/torus-allocator/public/img1_.jpg
  apps/torus-allocator/public/img2_.jpg
  apps/torus-allocator/public/img3_.jpg
  apps/torus-allocator/public/img4_.jpg
  apps/torus-allocator/public/img5_.jpg
  apps/torus-allocator/public/img6_.jpg
  apps/torus-allocator/public/img7_.jpg
  apps/torus-allocator/public/img8_.jpg
  apps/torus-allocator/src/app/components/agent-banner/_components/animation.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update animation component styles and enhance agent item layout
  apps/torus-allocator/src/app/components/agent-banner/_components/animation.tsx
  apps/torus-allocator/src/app/components/agent-banner/index.tsx
  apps/torus-allocator/src/app/components/agent-item.tsx
  packages/ui/src/components/button.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

changing folder name
  packages/subspace/src/agent_metadata/agent_metadata.ts
  packages/subspace/src/index.ts
  packages/subspace/src/metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance agent page with metadata fetching and blob image support; add social links and improve error handling
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-allocator/src/app/components/blob-image.tsx
  packages/subspace/src/metadata.ts
  packages/subspace/src/metadata/agent_metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused copy-specs recipe from justfile
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update button color based on delegation status in DelegateModuleWeight component
  apps/torus-allocator/src/app/components/delegate-module-weight.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add NEXT_PUBLIC_TORUS_CHAIN_ENV env var to specify general chain related environment
  .env.example
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/consts/warp-route-whitelist.ts
  apps/torus-bridge/src/env.ts
  apps/torus-bridge/values.yaml
  apps/torus-governance/src/env.ts
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/env.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: lint
  apps/torus-allocator/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: clean up unused imports and simplify RootLayout component
  apps/torus-validator/src/app/layout.tsx
Due: torus-validator, check-torus-validator

Revert "fix?: trying to fix deploy"
  apps/torus-cache/helmfile.yaml
  apps/torus-worker/helmfile.yaml
Due: torus-worker, torus-cache, check-torus-worker, check-torus-cache

fix: commiting lock
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: allocator agent metadata fetching on agent list
  apps/torus-allocator/package.json
  apps/torus-allocator/src/app/components/agent-content-list.tsx
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/hooks/use-agent-metadata.ts
  packages/utils/src/ipfs.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance layout and styling in agent pages; add Container component, adjust grid structure, and improve responsiveness
  apps/torus-validator/public/img1_.jpg
  apps/torus-validator/public/img2_.jpg
  apps/torus-validator/public/img3_.jpg
  apps/torus-validator/public/img4_.jpg
  apps/torus-validator/public/img5_.jpg
  apps/torus-validator/public/img6_.jpg
  apps/torus-validator/public/img7_.jpg
  apps/torus-validator/public/img8_.jpg
  apps/torus-validator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-validator/src/app/components/agent-banner/_components/animation.tsx
  apps/torus-validator/src/app/components/agent-content-list.tsx
  apps/torus-validator/src/app/components/agent-item.tsx
  apps/torus-validator/src/app/page.tsx
Due: torus-validator, check-torus-validator

refactor: remove unused torusPage prop from Layout component
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused router import and streamline candidate creation logic
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

feat: add cadre candidates and cadre list queries to governance context
  apps/torus-governance/src/context/governance-provider.tsx
Due: torus-governance, check-torus-governance

feat: update wording for Curator DAO prompts and improve accessibility messages
  apps/torus-governance/src/app/components/comments/create-comment.tsx
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
Due: torus-governance, check-torus-governance

feat: add delete functionality for cadre votes and update query input schema
  packages/api/src/router/cadre/cadre-vote.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: improve accessibility and streamline animations in various components
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/components/agent-application/voter-list.tsx
  apps/torus-governance/src/app/components/comments/view-comment.tsx
  apps/torus-governance/src/app/components/details-card.tsx
Due: torus-governance, check-torus-governance

refactor: adjust padding and animation styles in ExpandedViewContent component
  apps/torus-governance/src/app/components/expanded-view-content.tsx
Due: torus-governance, check-torus-governance

feat: remove CadreMembersList and CadreRequestsList components
  apps/torus-governance/src/app/cadre/_components/cadre-members-list.tsx
  apps/torus-governance/src/app/cadre/_components/cadre-requests-list.tsx
  apps/torus-governance/src/app/cadre/_components/index.ts
  apps/torus-governance/src/app/cadre/page.tsx
Due: torus-governance, check-torus-governance

refactor: clean up code formatting in cadre vote router
  packages/api/src/router/cadre/cadre-vote.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: rename isCadreUser to isUserCadre for consistency and clarity
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

feat: consolidate sign-in logic by integrating selectedAccount from useTorus
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

feat: reset authentication state on account change
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

feat: remove ListCards component and associated logic
  apps/torus-governance/src/app/components/list-cards.tsx
Due: torus-governance, check-torus-governance

refactor: unhardcoding discordId
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
Due: torus-worker, check-torus-worker

refactor: clean up code formatting and improve readability across multiple files
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/api/src/router/auth.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feature: cadre members management
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: clean up whitespace and improve code formatting in db.ts
  apps/torus-worker/src/db.ts
Due: torus-worker, check-torus-worker

feat: implement render list component with agent applications and proposals
  apps/torus-governance/src/app/components/render-list/index.tsx
  apps/torus-governance/src/app/components/render-list/list-agent-applications.tsx
  apps/torus-governance/src/app/components/render-list/list-container.tsx
  apps/torus-governance/src/app/components/render-list/list-proposals.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

refactor: integrate authentication state into governance context and update sign-in logic
  apps/torus-governance/hooks/use-sign-in.tsx
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
  apps/torus-governance/src/context/governance-provider.tsx
Due: torus-governance, check-torus-governance

feat: add curator candidates list and authentication components
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/curator-not-authenticated.tsx
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
  packages/api/src/root.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance CuratorCandidatesList component with improved vote handling and status display
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/curator-not-authenticated.tsx
Due: torus-governance, check-torus-governance

feat: layout wip
  apps/torus-governance/src/app/cadre/_components/cadre-members-list.tsx
  apps/torus-governance/src/app/cadre/_components/cadre-requests-list.tsx
  apps/torus-governance/src/app/cadre/page.tsx
Due: torus-governance, check-torus-governance

feat: add useSignIn hook for user authentication
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

fix: env
  apps/torus-governance/hooks/use-sign-in.tsx
Due: torus-governance, check-torus-governance

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
