Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

refactor: adjust ScrollArea heights and structure in pending DAO member and whitelist cards for improved layout and responsiveness
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-member-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-whitelist-card.tsx
Due: torus-governance, check-torus-governance

feat: add useAgentHealth hook and integrate into agents listing and dashboard cards for improved agent health management and display
  apps/torus-governance/hooks/use-agent-health.ts
  apps/torus-governance/src/app/(pages)/agents/_components/list-agents.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-agent-health-card.tsx
Due: torus-governance, check-torus-governance

Revert refactor on apps pipeline
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert changes on helm files for torus-bridge
  apps/torus-bridge/helmfile.yaml
  apps/torus-bridge/values.yaml
Due: torus-bridge, check-torus-bridge

re-enable torus-bridge regular pipeline
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Add DAO whitelist functionality and integrate with existing upsert operations in the torus-worker
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  packages/api/src/router/agent/dao-whitelist.ts
  packages/db/src/schema.ts
  packages/db/src/validation.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

remove /api/stake-out from bridge
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Refactor whitelist application logic to separate upsert for DAO whitelist and adjust related functions in torus-worker
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/drizzle/0009_giant_chameleon.sql
  packages/db/drizzle/meta/0008_snapshot.json
  packages/db/drizzle/meta/0009_snapshot.json
  packages/db/drizzle/meta/_journal.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: use useCallback for handleTabChange in wallet-actions to optimize performance and avoid unnecessary re-renders
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
  apps/torus-bridge/src/app/_components/toast/use-toast-error.tsx
  apps/torus-bridge/src/app/_components/transfer-details/index.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/hooks/use-balance-watcher.ts
Due: torus-bridge, check-torus-bridge

refactor: consolidate and restyle agent update button component
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.shared.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-util.ts
  apps/torus-allocator/src/app/_components/unsaved-changes-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add new agent health listing and dashboard page for improved agent management and display in DAO applications
  apps/torus-governance/src/app/(pages)/dao-dashboard/agent-health/_components/list-agents.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/agent-health/page.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dao-applications/_components/view-selector.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dao-applications/page.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-agent-health-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-info-cards.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-member-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/page-container.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info-desktop.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-nav.tsx
Due: torus-governance, check-torus-governance

refactor: remove unused ViewSelector component for cleaner codebase and improved performance in DAO applications dashboard
  apps/torus-governance/src/app/(pages)/dao-dashboard/dao-applications/_components/view-selector.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/page.tsx
  apps/torus-governance/src/app/_components/dao-card/index.tsx
Due: torus-governance, check-torus-governance

feat: implement dashboard components for agent health and applications overview, enhancing user experience on DAO dashboard page
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/agent-health-tab/_components/agent-health-list.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/agent-health-tab/agent-health-tab.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dao-applications-tab.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-agent-health-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-info-cards.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-pending-dao-member-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-pending-whitelist-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-redirect-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/dashboard/dashboard-pending-dao-member-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/_components/scroll-fade-effect.tsx
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

fix: update ScrollArea max height settings for better responsive design in DAO dashboard components
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-agent-health-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-pending-dao-member-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-pending-whitelist-card.tsx
Due: torus-governance, check-torus-governance

feat: add useTabWithQueryParam hook and integrate it into DaoDashboardPage for improved tab navigation with query parameters
  apps/torus-governance/src/app/(pages)/dao-dashboard/_hooks/use-tab-with-query-param.ts
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
Due: torus-governance, check-torus-governance

refactor: improve update Agent button component with improved styling
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: enhance agent health hook with caching settings for improved performance in DaoDashboard components
  apps/torus-governance/hooks/use-agent-health.ts
  apps/torus-governance/hooks/use-tab-with-query-param.ts
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-agent-health-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_hooks/use-tab-with-query-param.ts
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
Due: torus-governance, check-torus-governance

fix: streamline use-agent-health hook by removing redundant cacheTime settings for better performance and consistency
  apps/torus-governance/hooks/use-agent-health.ts
Due: torus-governance, check-torus-governance

feat: dao dashboard page
  apps/torus-governance/hooks/use-agent-applications.tsx
  apps/torus-governance/hooks/use-agent-health.ts
  apps/torus-governance/hooks/use-tab-with-query-param.ts
  apps/torus-governance/src/app/(pages)/agents/page.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/agent-health-tab/_components/agent-health-list.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/agent-health-tab/agent-health-tab.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dao-applications-tab.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-agent-health-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-info-cards.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-pending-dao-member-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-pending-whitelist-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-redirect-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/_components/view-selector.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/agent-application-card.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/page.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/_components/dao-card/components/card-skeleton.tsx
  apps/torus-governance/src/app/_components/dao-card/index.tsx
  apps/torus-governance/src/app/_components/page-container.tsx
  apps/torus-governance/src/app/_components/scroll-fade-effect.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info-desktop.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-nav.tsx
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

fix: adjust ScrollArea height for dashboard agent health card for better responsiveness
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-agent-health-card.tsx
Due: torus-governance, check-torus-governance

fix: update comparison operator for consistency in application voting logic
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
Due: torus-governance, check-torus-governance

fix: update ScrollArea max height for proposals and whitelist applications for improved layout consistency
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/_components/dao-card/index.tsx
Due: torus-governance, check-torus-governance

feat: permission app initial repo config
  apps/torus-portal/eslint.config.js
  apps/torus-portal/helmfile.yaml
  apps/torus-portal/next-env.d.ts
  apps/torus-portal/next.config.mjs
  apps/torus-portal/package.json
  apps/torus-portal/postcss.config.mjs
  apps/torus-portal/public/favicon.ico
  apps/torus-portal/public/logo.svg
  apps/torus-portal/src/app/_components/portal-header.tsx
  apps/torus-portal/src/app/layout.tsx
  apps/torus-portal/src/app/page.tsx
  apps/torus-portal/src/env.ts
  apps/torus-portal/tailwind.config.ts
  apps/torus-portal/tsconfig.json
  apps/torus-portal/turbo.json
  apps/torus-portal/values.yaml
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

:construction: wip: needs cleaning and CLI
  packages/torus-sdk-ts/src/chain-diff.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: improve agent update dialog UX and refactor components
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-util.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: nake social media fields optional in agent metadata schema
  packages/torus-sdk-ts/src/agent_metadata/agent_metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: format code for consistency and enhance readability in useAgentApplications and useTabWithQueryParam hooks
  apps/torus-governance/hooks/use-agent-applications.tsx
  apps/torus-governance/hooks/use-tab-with-query-param.ts
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dao-applications-tab.tsx
Due: torus-governance, check-torus-governance

feat: dao dashboard page (WEB-188) (#209)
  apps/torus-governance/hooks/use-agent-applications.tsx
  apps/torus-governance/hooks/use-agent-health.ts
  apps/torus-governance/hooks/use-tab-with-query-param.ts
  apps/torus-governance/src/app/(pages)/agents/page.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/agent-health-tab/_components/agent-health-list.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/agent-health-tab/agent-health-tab.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dao-applications-tab.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-agent-health-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-info-cards.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-pending-dao-member-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-pending-whitelist-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-redirect-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/_components/view-selector.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/agent-application-card.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/page.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/_components/dao-card/components/card-skeleton.tsx
  apps/torus-governance/src/app/_components/dao-card/index.tsx
  apps/torus-governance/src/app/_components/page-container.tsx
  apps/torus-governance/src/app/_components/scroll-fade-effect.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info-desktop.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-nav.tsx
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

wip: dsl
  apps/torus-portal/src/dsl/index.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add UpdateAgentForm type to improve code maintainability
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-util.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: fix import type for react-hook-form
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: remove unused useForm type imports
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: remove unused UpdateAgentFormData import
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: basic permission form structure
  .gitignore
  apps/torus-portal/src/app/_components/permission-form.tsx
  apps/torus-portal/src/app/page.tsx
  apps/torus-portal/src/utils/dsl.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update next.config and TransferEVM component for improved client-side rendering, mode handling, and webpack optimizations
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
Due: torus-bridge, check-torus-bridge

fix: update next.config to use env function for NEXT_PUBLIC_TORUS_CACHE_URL in API stake-out destination path
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

refactor: remove unused proxy rewrites in next.config to simplify API configurations and improve maintainability
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

fix: enhance client-side rendering in wallet providers with mounted state checks for SSR compatibility and improved API handling
  apps/torus-bridge/src/consts/warp-route-whitelist.ts
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  apps/torus-bridge/src/context/solana-wallet-provider.tsx
Due: torus-bridge, check-torus-bridge

refactor: simplify connector initialization in evm-wallet-provider for cleaner code and improved readability
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
Due: torus-bridge, check-torus-bridge
