Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

fix: standardize status strings in dao members candidates filter for consistency in UI display
  apps/torus-governance/src/app/components/cadre/components/dao-members-candidates-filter.tsx
  packages/api/src/router/cadre/cadre-candidate.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement candidacy state handling in candidate card and refactor voting logic for improved vote management
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/computed-votes.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-candidacy-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-pending-vote-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/remove-dao-member.tsx
  apps/torus-governance/src/app/components/cadre/components/cadre-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/components/dao-members-candidates-filter.tsx
  apps/torus-governance/src/app/components/render-list/list-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

WIP i forgot which number
  apps/torus-governance/src/app/components/cadre/candidate-card.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-candidacy-state.tsx
  packages/api/src/router/cadre/cadre-candidate.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add image handling for Discord avatars in candidate card component and improve vote display logic
  apps/torus-governance/src/app/components/cadre/candidate-card.tsx
Due: torus-governance, check-torus-governance

feat: refactor candidate card component into subcomponents for better readability and maintainability
  apps/torus-governance/src/app/components/cadre/candidate-card.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-vote-state.tsx
Due: torus-governance, check-torus-governance

fix: standardize status strings in dao members candidates filter for consistency in UI display
  packages/api/src/router/cadre/cadre-candidate.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement candidacy state handling in candidate card and refactor voting logic for improved vote management
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-vote-state.tsx
Due: torus-governance, check-torus-governance

WIP i forgot which number
  apps/torus-governance/src/app/components/cadre/candidate-card.tsx
  packages/api/src/router/cadre/cadre-candidate.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update button text to improve clarity and handle pending vote states in candidate management components
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-candidacy-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-pending-vote-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-vote-label.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/remove-dao-member.tsx
  apps/torus-governance/src/app/components/cadre/components/cadre-candidates-list.tsx
  apps/torus-governance/src/app/components/render-list/list-cadre-candidates.tsx
  packages/ui/src/components/icons.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add candidate card components and refine cadre candidates list functionality
  apps/torus-governance/next.config.mjs
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-content.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/computed-votes.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-candidacy-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-pending-vote-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-vote-label.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/remove-dao-member.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/index.tsx
  apps/torus-governance/src/app/components/cadre/components/cadre-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/components/dao-members-candidates-filter.tsx
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/render-list/index.tsx
  apps/torus-governance/src/app/components/render-list/list-cadre-candidates.tsx
  packages/api/src/router/cadre/cadre-candidate.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement useComputedCandidateVotes hook and refactor candidate card components for better vote handling
  apps/torus-governance/hooks/use-computed-candidate-votes.ts
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-candidacy-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-pending-vote-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-vote-label.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/remove-dao-member.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

fix: update candidate card components to use JSX syntax for improved readability and consistency
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-candidacy-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-pending-vote-state.tsx
Due: torus-governance, check-torus-governance

feat: Add discord user information to Dao Cadre (WEB-168) (#170)
  apps/torus-governance/hooks/use-computed-candidate-votes.ts
  apps/torus-governance/next.config.mjs
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-content.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/card-header.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-candidacy-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-pending-vote-state.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/handle-vote-label.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/components/remove-dao-member.tsx
  apps/torus-governance/src/app/components/cadre/candidate-card/index.tsx
  apps/torus-governance/src/app/components/cadre/components/cadre-candidates-list.tsx
  apps/torus-governance/src/app/components/cadre/components/dao-members-candidates-filter.tsx
  apps/torus-governance/src/app/components/cadre/curator-candidates-list.tsx
  apps/torus-governance/src/app/components/render-list/index.tsx
  apps/torus-governance/src/app/components/render-list/list-cadre-candidates.tsx
  apps/torus-governance/src/app/page.tsx
  packages/api/src/router/cadre/cadre-candidate.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove staleTime from useWeeklyUsdCalculation options for improved configuration clarity
  apps/torus-allocator/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: add USD conversion to send transaction form
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/amount-buttons.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-bar.tsx
  apps/torus-wallet/src/app/components/fee-label.tsx
  apps/torus-wallet/src/utils/helpers.ts
Due: torus-wallet, check-torus-wallet

chore: bump react to 19 ($WEB-26)
  apps/torus-allocator/package.json
  apps/torus-bridge/package.json
  apps/torus-governance/package.json
  apps/torus-page/package.json
  apps/torus-wallet/package.json
  packages/env-validation/package.json
  packages/query-provider/package.json
  packages/torus-provider/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

re-enable bridge pipeline
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "re-enable bridge pipeline"
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement transfers layout with send and receive tabs
  apps/torus-wallet/src/app/(transfers)/layout.tsx
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/(transfers)/receive/page.tsx
  apps/torus-wallet/src/app/(transfers)/send/page.tsx
Due: torus-wallet, check-torus-wallet

chore: rever wallet changes for rebase compatibility
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
  apps/torus-wallet/src/app/components/wallet-review.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/page.tsx
  apps/torus-wallet/src/app/staking/page.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
Due: torus-wallet, check-torus-wallet

Revert "chore: rever wallet changes for rebase compatibility"
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
  apps/torus-wallet/src/app/components/wallet-review.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/page.tsx
  apps/torus-wallet/src/app/staking/page.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
Due: torus-wallet, check-torus-wallet

fix: update ReviewTransactionDialogProps to allow null formRef type
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
Due: torus-wallet, check-torus-wallet

refactor: clean up formatting and improve readability in SendAction component
  apps/torus-wallet/src/app/components/actions/send.tsx
Due: torus-wallet, check-torus-wallet

fix: remove optional chaining from formRef in ReviewTransactionDialog
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
Due: torus-wallet, check-torus-wallet

refactor: fix type narrowing in form and dialog refs
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
Due: torus-wallet, check-torus-wallet

refactor: add optional chaining to formRef.current call
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
Due: torus-wallet, check-torus-wallet

chore: add @next/third-parties dependency to torus-wallet
  apps/torus-wallet/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add readme to sdk package
  packages/torus-sdk-ts/README.md
  packages/torus-sdk-ts/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update icons in socials-info component for consistency and remove code duplication
  apps/torus-allocator/src/app/_components/agent-item-card/components/socials-info.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add MIT-0 license to torus-sdk-ts
  packages/torus-sdk-ts/LICENSE
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: adjust torus-sdk-ts (@torus-network/sdk) package.json fields for publishing
  packages/torus-sdk-ts/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
