Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

refac: reduce logging
  packages/torus-provider/src/utils/metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: TODOs; bump flake
  apps/torus-governance/src/app/components/popover-info.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
  apps/torus-worker/src/workers/process-dao-applications.ts
  flake.lock
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add torus page on pipeline because i forgor
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update descriptions in ButtonsSection component for clarity and depth
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
Due: torus-page, check-torus-page

refactor: remove unnecessary blank line in HomePage component
  apps/torus-bridge/src/app/page.tsx
Due: torus-bridge, check-torus-bridge

refactor: improve clarity in ButtonsSection component description
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
Due: torus-page, check-torus-page

feat: add query for agents with aggregated penalties
  packages/api/src/router/agent/agent.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove ListCuratorCandidates component and related logic
  apps/torus-governance/src/app/components/render-list/list-curator-candidates.tsx
Due: torus-governance, check-torus-governance

feat: add loading skeleton component for card list
  apps/torus-governance/src/app/components/render-list/cards-skeleton-list.tsx
Due: torus-governance, check-torus-governance

feat: add ListAgents component for displaying agents with penalties and search functionality
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

feat: add ListCadreCandidates component for displaying curator candidates with authentication checks
  apps/torus-governance/src/app/components/render-list/list-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

feat: add ListPenalties component for displaying penalty data with agent details
  apps/torus-governance/src/app/components/render-list/dao-portal-features/list-penalties.tsx
Due: torus-governance, check-torus-governance

feat: add ListCadreCandidates and ListAgents components to governance view mode
  apps/torus-governance/src/app/components/render-list/index.tsx
Due: torus-governance, check-torus-governance

fix: update import path for ListContainer component in list-agent-applications
  apps/torus-governance/src/app/components/render-list/list-agent-applications.tsx
Due: torus-governance, check-torus-governance

feat: add ListCadreCandidates component for displaying filtered DAO candidates
  apps/torus-governance/src/app/components/render-list/dao-portal-features/list-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

feat: add DaoPortalFeatures component with user authentication and content access logic
  apps/torus-governance/src/app/components/render-list/dao-portal-features/index.tsx
Due: torus-governance, check-torus-governance

fix: update import path for ListContainer component in list-proposals
  apps/torus-governance/src/app/components/render-list/list-proposals.tsx
Due: torus-governance, check-torus-governance

fix: remove console log for penalties in AgentPage component
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add query to get all penalties
  packages/api/src/router/penalty/penalty.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: rename AllWithAggregatedPenalties to allWithAggregatedPenalties for consistency
  packages/api/src/router/agent/agent.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: rename AllWithAggregatedPenalties to allWithAggregatedPenalties for consistency in ListAgents component
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

refactor: move/delete components
  apps/torus-governance/src/app/components/render-list/dao-portal-features/index.tsx
  apps/torus-governance/src/app/components/render-list/dao-portal-features/list-cadre-candidates.tsx
  apps/torus-governance/src/app/components/render-list/dao-portal-features/list-cards-skeleton.tsx
  apps/torus-governance/src/app/components/render-list/list-container.tsx
Due: torus-governance, check-torus-governance

feat: add "Agents" link to sidebar navigation
  apps/torus-governance/src/app/components/sidebar-links.tsx
Due: torus-governance, check-torus-governance

feat: add PenaltyList component for displaying penalties with copy functionality
  apps/torus-allocator/src/app/components/penalties-list.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove ListPenalties component and associated logic
  apps/torus-governance/src/app/components/render-list/dao-portal-features/list-penalties.tsx
Due: torus-governance, check-torus-governance

feat: add ListContainer component for handling overflow and smooth scrolling
  apps/torus-governance/src/app/components/render-list/container-list.tsx
Due: torus-governance, check-torus-governance

fix: handle null penalties dialog state and improve penalties list rendering
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

feat: integrate PenaltyList component to display penalties on agent page
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: replace ListCuratorCandidates with DaoPortalFeatures in governance view mode
  apps/torus-governance/src/app/components/render-list/index.tsx
Due: torus-governance, check-torus-governance

feat: add loading skeleton for list cards in DaoPortalFeatures
  apps/torus-governance/src/app/components/render-list/dao-portal-features/list-cards-skeleton.tsx
Due: torus-governance, check-torus-governance

feat: change naming
  apps/torus-wallet/src/app/components/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-bar.tsx
Due: torus-wallet, check-torus-wallet

feature: whitelist notifications
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: fix flake on MacOS (systemd dep); move from nixos-unstable to nixos-24.11
  flake.lock
  flake.nix
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: formatting
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/page.tsx
  apps/torus-allocator/src/app/api/allocated-weight/route.ts
  apps/torus-allocator/turbo.json
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/tailwind.config.ts
  apps/torus-governance/src/app/api/files/route.ts
  apps/torus-governance/src/app/api/trpc/[trpc]/route.ts
  apps/torus-governance/src/app/loader.tsx
  apps/torus-governance/turbo.json
  apps/torus-page/src/env.ts
  apps/torus-page/tailwind.config.ts
  apps/torus-wallet/tailwind.config.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: join all check tasks in a single turbo call
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update formatting and linting scripts to pass cache flags on inner packages
  apps/torus-allocator/package.json
  apps/torus-bridge/package.json
  apps/torus-cache/package.json
  apps/torus-governance/package.json
  apps/torus-page/package.json
  apps/torus-wallet/package.json
  apps/torus-worker/package.json
  justfile
  packages/api/package.json
  packages/db/package.json
  packages/query-provider/package.json
  packages/subspace/package.json
  packages/toast-provider/package.json
  packages/torus-provider/package.json
  packages/ui/package.json
  tooling/eslint/package.json
  tooling/prettier/package.json
  tooling/tailwind/package.json
  turbo.json
  turbo/generators/templates/package.json.hbs
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

wip
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

WIP
  .vscode/launch.json
  packages/utils/package.json
  packages/utils/src/bignumber.ts
  packages/utils/src/main.ts
  packages/utils/src/subspace.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

WIP
  packages/subspace/src/main.ts
  packages/utils/src/bignumber.ts
  packages/utils/src/main.ts
  packages/utils/src/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
