Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**

fix: validator build
  apps/torus-validator/src/app/page.tsx
Due: torus-validator

fix: wait for block
  apps/torus-worker/src/workers/process-dao-applications.ts
Due: torus-worker

refactor: changed return
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix:
  apps/torus-worker/src/common/index.ts
Due: torus-worker

wip: temporarily removing autoupdates on timestamp
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: agent schema
  apps/torus-worker/src/db.ts
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

refactor: changed computedWeights to numeric
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: adjust ipfs to handle links and cids
  packages/utils/src/ipfs.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: header and intro to get in front of the allocator menu
  apps/torus-wallet/src/app/components/intro.tsx
  packages/ui/src/components/header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: adjust new useKeyStakedBy return
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/components/popover-info.tsx
  apps/torus-validator/src/app/components/sidebar-info.tsx
Due: torus-validator

fix: AgentPage params on next 15
  apps/torus-validator/src/app/(expanded-pages)/agent/[slug]/page.tsx
Due: torus-validator

feat: enhanced tutorial and link to setup a wallet
  apps/torus-validator/src/app/components/tutorial-dialog.tsx
  packages/ui/src/components/no-wallet-extension-display.tsx
  packages/ui/src/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: intro included on page
  apps/torus-validator/src/app/components/intro.tsx
  apps/torus-validator/src/app/page.tsx
Due: torus-validator

feat: adjust info containers
  apps/torus-validator/src/app/components/popover-info.tsx
  apps/torus-validator/src/app/components/sidebar-info.tsx
Due: torus-validator

feat: small improvements
  apps/torus-validator/src/app/components/agent-info-card.tsx
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-validator/src/app/layout.tsx
Due: torus-validator

chore: run lint
  apps/torus-worker/src/weights.ts
  packages/db/src/schema.ts
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: change helmfile from validator to allocator
  apps/torus-validator/helmfile.yaml
Due: torus-validator

feat: natural black
  apps/torus-page/src/styles/globals.css
Due: torus-page

chore: regen types
  packages/subspace/src/interfaces/augment-api-consts.ts
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-events.ts
  packages/subspace/src/interfaces/augment-api-query.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/types-lookup.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

chore: add .git to .dockerignore +
  .dockerignore
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

chore: fixing .dockerignore
  .dockerignore
  .gitignore
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

Create CODEOWNERS
  .github/CODEOWNERS
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

Fix CODEOWNERS team
  .github/CODEOWNERS
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: exclude pnpm-lock.yaml from VSCode settings
  .vscode/settings.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

refactor: remove unused SVG icons and commented metadata
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/features/store.ts
  apps/torus-bridge/src/features/transfer/TransferTokenForm.tsx
  apps/torus-bridge/src/features/wallet/SideBarMenu.tsx
  apps/torus-bridge/src/images/icons/arrow-right.svg
  apps/torus-bridge/src/images/icons/collapse-icon.svg
  apps/torus-bridge/src/images/icons/confirmed-icon.svg
  apps/torus-bridge/src/images/icons/delivered-icon.svg
  apps/torus-bridge/src/images/icons/error-circle.svg
  apps/torus-bridge/src/images/icons/external-link-icon.svg
  apps/torus-bridge/src/images/icons/info-circle.svg
  apps/torus-bridge/src/images/icons/reset-icon.svg
  apps/torus-bridge/src/images/logos/app-logo.svg
  apps/torus-bridge/src/images/logos/app-name.svg
  apps/torus-bridge/src/images/logos/app-title.svg
  apps/torus-bridge/src/images/logos/eth.png
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: enhance UI components and improve layout for transfer token functionality
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/src/app/_components/buttons/connect-aware-submit-button.tsx
  apps/torus-bridge/src/app/_components/chains/chain-select-field.tsx
  apps/torus-bridge/src/app/_components/chains/chain-select-modal.tsx
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/_components/text-field.tsx
  apps/torus-bridge/src/app/_components/tokens/token-select-field.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/swap-chain-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/select-chain-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/token-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/index.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/styles/globals.css
  apps/torus-wallet/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

FIX: FUCKING LINT
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: disable SSR in RootLayout to simplify wallet integration
  apps/torus-bridge/src/app/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: refactor hooks file structure and imports
  apps/torus-bridge/src/app/_components/connect-wallet-button.tsx
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/max-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/recipient-section.tsx
  apps/torus-bridge/src/app/components/buttons/ConnectAwareSubmitButton.tsx
  apps/torus-bridge/src/app/components/icons/ChainLogo.tsx
  apps/torus-bridge/src/app/components/toast/TxSuccessToast.tsx
  apps/torus-bridge/src/context/cosmos-wallet-provider.tsx
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  apps/torus-bridge/src/context/warp-context-init-gate-provider.tsx
  apps/torus-bridge/src/features/chains/ChainConnectionWarning.tsx
  apps/torus-bridge/src/features/chains/ChainSelectField.tsx
  apps/torus-bridge/src/features/chains/ChainWalletWarning.tsx
  apps/torus-bridge/src/features/chains/hooks.ts
  apps/torus-bridge/src/features/tokens/TokenListModal.tsx
  apps/torus-bridge/src/features/tokens/approval.ts
  apps/torus-bridge/src/features/tokens/balances.ts
  apps/torus-bridge/src/features/transfer/TransfersDetailsModal.tsx
  apps/torus-bridge/src/features/transfer/maxAmount.ts
  apps/torus-bridge/src/hooks/chain/use-chain-display-name.ts
  apps/torus-bridge/src/hooks/chain/use-chain-metadata.ts
  apps/torus-bridge/src/hooks/chain/use-chain-protocol.ts
  apps/torus-bridge/src/hooks/sanctioned/use-is-account-chainalysis-sanctioned.ts
  apps/torus-bridge/src/hooks/sanctioned/use-is-account-ofac-sanctioned.ts
  apps/torus-bridge/src/hooks/sanctioned/use-is-account-sanctioned.ts
  apps/torus-bridge/src/hooks/use-fee-quotes.ts
  apps/torus-bridge/src/hooks/use-multi-provider.ts
  apps/torus-bridge/src/hooks/use-ready-multi-provider.ts
  apps/torus-bridge/src/hooks/use-token-transfer.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: solana context
  apps/torus-bridge/package.json
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/context/cosmos-wallet-provider.tsx
  apps/torus-bridge/src/context/solana-wallet-provider.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: `transfer-token-form` file structure refactor
  apps/torus-bridge/src/app/_components/header.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/max-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/swap-chain-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/token-balance.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/validate-form.ts
  apps/torus-bridge/src/app/_components/transfer-token/_components/warning-banner.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/recipient-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/review-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/select-chain-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/token-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/index.tsx
  apps/torus-bridge/src/app/components/layout/AppLayout.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/features/chains/ChainSelectField.tsx
  apps/torus-bridge/src/features/store.ts
  apps/torus-bridge/src/features/tokens/SelectOrInputTokenIds.tsx
  apps/torus-bridge/src/features/tokens/TokenSelectField.tsx
  apps/torus-bridge/src/features/tokens/balances.ts
  apps/torus-bridge/src/features/transfer/TransferTokenForm.tsx
  apps/torus-bridge/src/features/transfer/TransfersDetailsModal.tsx
  apps/torus-bridge/src/features/transfer/useFeeQuotes.ts
  apps/torus-bridge/src/features/transfer/useTokenTransfer.ts
  apps/torus-bridge/src/features/transfer/utils.ts
  apps/torus-bridge/src/features/wallet/ConnectWalletButton.tsx
  apps/torus-bridge/src/features/wallet/SideBarMenu.tsx
  apps/torus-bridge/src/styles/globals.css
  apps/torus-bridge/src/utils/types.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: update import path for warp routes YAML file
  apps/torus-bridge/src/app/_components/tokens/warp-core-config.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: front end stuff
  apps/torus-bridge/src/app/_components/app-layout.tsx
  apps/torus-bridge/src/app/_components/buttons/connect-aware-submit-button.tsx
  apps/torus-bridge/src/app/_components/buttons/connect-wallet-button.tsx
  apps/torus-bridge/src/app/_components/buttons/solid-button.tsx
  apps/torus-bridge/src/app/_components/header.tsx
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/_components/text-field.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/max-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/recipient-section.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

refactor: torus-bridge codebase
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/package.json
  apps/torus-bridge/src/app/components/buttons/ConnectAwareSubmitButton.tsx
  apps/torus-bridge/src/app/components/errors/ErrorBoundary.tsx
  apps/torus-bridge/src/app/components/icons/ChainLogo.tsx
  apps/torus-bridge/src/app/components/icons/TokenIcon.tsx
  apps/torus-bridge/src/app/components/layout/AppLayout.tsx
  apps/torus-bridge/src/app/components/nav/Header.tsx
  apps/torus-bridge/src/app/components/toast/TxSuccessToast.tsx
  apps/torus-bridge/src/app/components/toast/useToastError.tsx
  apps/torus-bridge/src/consts/app.ts
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/config.ts
  apps/torus-bridge/src/consts/warpRouteWhitelist.ts
  apps/torus-bridge/src/consts/warpRoutes.ts
  apps/torus-bridge/src/consts/warpRoutes.yaml
  apps/torus-bridge/src/features/WarpContextInitGate.tsx
  apps/torus-bridge/src/features/chains/ChainConnectionWarning.tsx
  apps/torus-bridge/src/features/chains/ChainSelectField.tsx
  apps/torus-bridge/src/features/chains/ChainWalletWarning.tsx
  apps/torus-bridge/src/features/tokens/SelectOrInputTokenIds.tsx
  apps/torus-bridge/src/features/tokens/TokenListModal.tsx
  apps/torus-bridge/src/features/tokens/TokenSelectField.tsx
  apps/torus-bridge/src/features/tokens/approval.ts
  apps/torus-bridge/src/features/tokens/balances.ts
  apps/torus-bridge/src/features/tokens/warpCoreConfig.ts
  apps/torus-bridge/src/features/transfer/TransferTokenForm.tsx
  apps/torus-bridge/src/features/transfer/TransfersDetailsModal.tsx
  apps/torus-bridge/src/features/transfer/maxAmount.ts
  apps/torus-bridge/src/features/transfer/types.ts
  apps/torus-bridge/src/features/transfer/useBalanceWatcher.ts
  apps/torus-bridge/src/features/transfer/useFeeQuotes.ts
  apps/torus-bridge/src/features/transfer/useTokenTransfer.ts
  apps/torus-bridge/src/features/transfer/utils.ts
  apps/torus-bridge/src/features/wallet/SideBarMenu.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: runtime related issues on context providers
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/context/cosmos-wallet-provider.tsx
  apps/torus-bridge/src/context/warp-context-init-gate-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: build
  apps/torus-bridge/next-env.d copy.ts
  apps/torus-bridge/src/app/_components/chains/chain-metadata.ts
  apps/torus-bridge/src/app/_components/chains/chain-select-field.tsx
  apps/torus-bridge/src/app/_components/chains/chain-select-modal.tsx
  apps/torus-bridge/src/app/_components/tokens/warp-core-config.ts
  apps/torus-bridge/src/global.d.ts
  apps/torus-bridge/src/vendor/inpage-metamask.js
  apps/torus-bridge/src/vendor/polyfill.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: update RPC URL to use NEXT_PUBLIC_TORUS_RPC_URL for TorusAlphanet in chains configuration
  apps/torus-bridge/src/consts/chains.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache
