Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

fix: remove env validation on build of torus-wallet
  apps/torus-wallet/next.config.mjs
Due: torus-wallet, check-torus-wallet

chore: add @torus-ts/env-validation package to torus-wallet
  apps/torus-wallet/next.config.mjs
  apps/torus-wallet/package.json
Due: torus-wallet, check-torus-wallet

add missing env var on values.yaml
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add NEXT_PUBLIC_TORUS_CHAIN_ENV env var to specify general chain related environment
  .env.example
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/consts/warp-route-whitelist.ts
  apps/torus-bridge/src/env.ts
  apps/torus-bridge/values.yaml
  apps/torus-governance/src/env.ts
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/env.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: env-validation package
  packages/env-validation/eslint.config.js
  packages/env-validation/package.json
  packages/env-validation/src/EnvScript.tsx
  packages/env-validation/src/index.ts
  packages/env-validation/tsconfig.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: checks
  apps/torus-bridge/src/consts/config.ts
  apps/torus-governance/src/trpc/react.tsx
  apps/torus-validator/src/trpc/react.tsx
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/src/schema.ts
  packages/subspace/src/modules/governance.ts
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add headScripts to ui layout
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add env-validation to torus-governance
  apps/torus-governance/next.config.mjs
  apps/torus-governance/package.json
  apps/torus-governance/src/app/api/files/route.ts
  apps/torus-governance/src/app/api/trpc/[trpc]/route.ts
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  apps/torus-governance/src/env.ts
  apps/torus-governance/src/trpc/react.tsx
  apps/torus-governance/src/trpc/server.ts
Due: torus-governance, check-torus-governance

feat: add parse per key on env()
  packages/env-validation/package.json
  packages/env-validation/src/EnvScript.tsx
  packages/env-validation/tsconfig.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: use reflect to avoid inlining by next
  apps/torus-bridge/src/env.ts
  apps/torus-governance/src/env.ts
  apps/torus-page/src/env.ts
  apps/torus-validator/src/env.ts
  apps/torus-wallet/src/env.ts
Due: torus-page, torus-validator, torus-governance, torus-wallet, torus-bridge, check-torus-page, check-torus-validator, check-torus-governance, check-torus-wallet, check-torus-bridge

remove hardcoded variables from Dockerfile
  docker/Dockerfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused copy-specs recipe from justfile
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add env-validation to torus-bridge
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/package.json
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/consts/config.ts
  apps/torus-bridge/src/consts/warp-route-whitelist.ts
  apps/torus-bridge/src/context/app-context-provider.tsx
  apps/torus-bridge/src/env.ts
Due: torus-bridge, check-torus-bridge

chore: "torus AI" lmao
  packages/torus-provider/src/torus-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add key to scripts on header
  packages/ui/src/components/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add env-validation to torus-validator
  apps/torus-validator/next.config.mjs
  apps/torus-validator/package.json
  apps/torus-validator/src/app/api/trpc/[trpc]/route.ts
  apps/torus-validator/src/app/components/allocator-header.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-validator/src/env.ts
  apps/torus-validator/src/trpc/react.tsx
Due: torus-validator, check-torus-validator

feat: use envScript for validation and runtime
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

chore: ?
  apps/torus-wallet/src/env.ts
Due: torus-wallet, check-torus-wallet

chore: update VSCode settings for `tsImportSorter` extension import sorting groups
  .vscode/settings.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: pnpm-lock
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: clean up unused imports and simplify RootLayout component
  apps/torus-validator/src/app/layout.tsx
Due: torus-validator, check-torus-validator

feat: add env-validation to torus-page
  apps/torus-page/next.config.mjs
  apps/torus-page/package.json
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/env.ts
Due: torus-page, check-torus-page

chore: fix txt
  packages/env-validation/src/EnvScript.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: rm @t3-oss/env-nextjs
  apps/torus-wallet/package.json
Due: torus-wallet, check-torus-wallet

chore: add TODO
  packages/ui/src/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: type inference of `env()` output ; record of zod schemas instead of object zod schema for env; don't fill process.env;
  apps/torus-wallet/src/app/components/wallet-header.tsx
  apps/torus-wallet/src/env.ts
  packages/env-validation/src/EnvScript.tsx
  packages/ui/src/components/layout.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix missing env var for wallet
  apps/torus-wallet/values.yaml
Due: torus-wallet, check-torus-wallet

fix missing wallet config entry
  apps/torus-wallet/helmfile.yaml
  apps/torus-wallet/values.yaml
Due: torus-wallet, check-torus-wallet

add NEXT_PUBLIC_TORUS_CHAIN_ENV globally
  apps/torus-bridge/values.yaml
  apps/torus-cache/helmfile.yaml
  apps/torus-governance/helmfile.yaml
  apps/torus-page/helmfile.yaml
  apps/torus-validator/helmfile.yaml
  apps/torus-wallet/values.yaml
  apps/torus-worker/helmfile.yaml
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance RegisterAgent component with additional input fields and improved file upload UI
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  packages/ui/src/components/text-area.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update image handling in RegisterAgent
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

feat: enhance layout and styling in agent pages; add Container component, adjust grid structure, and improve responsiveness
  apps/torus-validator/public/img1_.jpg
  apps/torus-validator/public/img2_.jpg
  apps/torus-validator/public/img3_.jpg
  apps/torus-validator/public/img4_.jpg
  apps/torus-validator/public/img5_.jpg
  apps/torus-validator/public/img6_.jpg
  apps/torus-validator/public/img7_.jpg
  apps/torus-validator/public/img8_.jpg
  apps/torus-validator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-validator/src/app/components/agent-banner/_components/animation.tsx
  apps/torus-validator/src/app/components/agent-content-list.tsx
  apps/torus-validator/src/app/components/agent-item.tsx
  apps/torus-validator/src/app/page.tsx
Due: torus-validator, check-torus-validator

feat: add agent metadata schema and fetch functions
  packages/subspace/src/index.ts
  packages/subspace/src/main.ts
  packages/subspace/src/metadata/agent_metadata.ts
  packages/utils/src/ipfs.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance agent page with metadata fetching and blob image support; add social links and improve error handling
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-allocator/src/app/components/blob-image.tsx
  packages/subspace/src/metadata.ts
  packages/subspace/src/metadata/agent_metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance agent metadata schema with icon support
  .vscode/settings.json
  apps/torus-governance/src/app/api/files/route.ts
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  packages/subspace/src/metadata/agent_metadata.ts
  packages/utils/package.json
  packages/utils/src/files.ts
  packages/utils/src/ipfs.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: type ??
  packages/subspace/src/metadata/agent_metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add IPFS URI and CID schemas
  packages/utils/src/ipfs.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance agent page with social links and current network allocation display; refactor blob image component
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/blob-image.tsx
  apps/torus-allocator/src/app/components/expanded-view-socials.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: refactor AgentBanner component and implement custom geometry and material for 3D rendering; update layout structure and dependencies
  apps/torus-validator/package.json
  apps/torus-validator/public/banner_.png
  apps/torus-validator/public/img1_.jpg
  apps/torus-validator/public/img2_.jpg
  apps/torus-validator/public/img3_.jpg
  apps/torus-validator/public/img4_.jpg
  apps/torus-validator/public/img5_.jpg
  apps/torus-validator/public/img6_.jpg
  apps/torus-validator/public/img7_.jpg
  apps/torus-validator/public/img8_.jpg
  apps/torus-validator/src/app/components/agent-banner.tsx
  apps/torus-validator/src/app/components/agent-banner/_components/animation.tsx
  apps/torus-validator/src/app/components/agent-banner/_components/util.ts
  apps/torus-validator/src/app/components/agent-banner/index.tsx
  apps/torus-validator/src/app/components/agent-item.tsx
  apps/torus-validator/src/app/layout.tsx
  apps/torus-validator/src/app/page.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: improve agent item layout and enhance missing metadata handling
  apps/torus-allocator/src/app/components/agent-item.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
