Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

feat: apply changes on library level for compatibily with all apps
  apps/torus-bridge/src/styles/globals.css
  apps/torus-governance/src/app/(pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/card-view-data.tsx
  apps/torus-governance/src/app/components/filter-content.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
  apps/torus-governance/src/app/components/vote-data.tsx
  apps/torus-governance/src/app/components/vote-percentage-bar.tsx
  apps/torus-governance/src/styles/globals.css
  apps/torus-page/src/styles/globals.css
  apps/torus-validator/src/styles/globals.css
  apps/torus-wallet/src/styles/globals.css
  packages/ui/src/components/button.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/components/dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Make bg image darker
  apps/torus-governance/src/styles/globals.css
Due: torus-governance, check-torus-governance

Fix lint
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
Due: torus-governance, check-torus-governance

Use lighter bg col for cards and search field to distinguish from page bg
  apps/torus-governance/src/app/components/card-view-data.tsx
  apps/torus-governance/src/app/components/filter-content.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
  apps/torus-governance/src/app/page.tsx
  packages/ui/src/components/card.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Improve UX clarity, add button to use user wallet address for agent, add tooltips and note about fee
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

fix: adjust z-index values and remove unnecessary border styles for improved layout consistency
  apps/torus-bridge/src/app/_components/shared/intro.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-validator/src/app/components/popover-info.tsx
  apps/torus-validator/src/app/components/sidebar-info.tsx
  packages/ui/src/components/button.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

renge types based on mainnet
  packages/subspace/src/interfaces/augment-api-consts.ts
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-events.ts
  packages/subspace/src/interfaces/augment-api-query.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/types-lookup.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add sql dumping recipe
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: dump db schema to sql file
  packages/db/drizzle/dump.sql
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: enable torus-worker service in docker-compose
  docker-compose.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

WIP: penalize schema
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: added logic
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
Due: torus-worker, check-torus-worker

feat: implement penalty router with CRUD operations and update schema
  packages/api/src/router/penalty/penalty.ts
  packages/db/src/schema.ts
  packages/db/src/validation.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: updated types
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-events.ts
  packages/subspace/src/interfaces/augment-api-query.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/registry.ts
  packages/subspace/src/interfaces/types-lookup.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update penalty factor type to integer, add agent status label, and enhance error handling in comment creation, many other things
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/components/agent-application/agent-activity-label.tsx
  apps/torus-governance/src/app/components/agent-application/agent-application-status-label.tsx
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/components/agent-application/agent-status-label.tsx
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/components/agent-application/voter-list.tsx
  apps/torus-governance/src/app/components/card-view-data.tsx
  apps/torus-governance/src/app/components/comments/create-comment.tsx
  apps/torus-governance/src/app/components/details-card.tsx
  apps/torus-governance/src/app/components/governance-status-not-open.tsx
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  packages/api/src/root.ts
  packages/api/src/router/agent/agent-application-vote.ts
  packages/api/src/router/comment/comment-interaction.ts
  packages/db/src/schema.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: regen types
  packages/subspace/src/interfaces/augment-api-consts.ts
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/types-lookup.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: format and lint errors
  apps/torus-worker/src/common/index.ts
  packages/api/src/root.ts
  packages/api/src/router/agent/agent-application-vote.ts
  packages/api/src/router/comment/comment-interaction.ts
  packages/api/src/router/penalty/penalty.ts
  packages/db/src/schema.ts
  packages/db/src/validation.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove CadreSectionContainer and adjust layout in CadrePage
  apps/torus-governance/src/app/cadre/_components/cadre-section-container.tsx
  apps/torus-governance/src/app/cadre/_components/index.ts
  apps/torus-governance/src/app/cadre/page.tsx
Due: torus-governance, check-torus-governance

fix: proposal percentage view
  apps/torus-governance/src/app/components/card-view-data.tsx
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/components/vote-percentage-bar.tsx
Due: torus-governance, check-torus-governance

fix: style on buttons and minor text changes
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

fix: responsive layout on governance
  apps/torus-governance/src/app/components/popover-info.tsx
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

fix: tab link order and default, creation modal select default and rmeove metadata from governance layout
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
  apps/torus-governance/src/app/layout.tsx
Due: torus-governance, check-torus-governance

fix: metadata
  apps/torus-governance/src/app/layout.tsx
Due: torus-governance, check-torus-governance

fix: allocator metadata
  apps/torus-validator/src/app/layout.tsx
Due: torus-validator, check-torus-validator

fix: adjust margin for voting eligibility message in agent application vote card
  apps/torus-governance/src/app/components/agent-application/agent-application-vote-card.tsx
Due: torus-governance, check-torus-governance

feat: add support for uniswap wallet
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
Due: torus-bridge, check-torus-bridge

feat: add hover header component with animated buttons and SVG lines
  apps/torus-page/src/app/components/hover-header/_components/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/lines-svg.tsx
Due: torus-page, check-torus-page

feat: enhance hover header with new button layout and SVG lines
  apps/torus-page/src/app/components/hover-header/_components/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/lines-svg.tsx
  apps/torus-page/src/app/components/hover-header/index.tsx
  packages/ui/src/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update RootLayout to display under construction message and remove unused imports
  apps/torus-validator/src/app/layout.tsx
Due: torus-validator, check-torus-validator

feat: implement responsive hover header with mobile support and updated SVG components
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/desktop/lines-svg.tsx
  apps/torus-page/src/app/components/hover-header/_components/mobile/buttons-section-mobile.tsx
  apps/torus-page/src/app/components/hover-header/_components/mobile/lines-svg-mobile.tsx
  apps/torus-page/src/app/components/hover-header/index.tsx
  packages/ui/src/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add hover header component with animated buttons and SVG lines
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-page/src/app/components/hover-header.tsx
  apps/torus-page/src/app/components/hover-header/_components/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/lines-svg.tsx
  apps/torus-page/src/app/components/hover-header/index.tsx
Due: torus-page, torus-governance, check-torus-page, check-torus-governance

fix: update allocator URL in data source
  packages/ui/src/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add environment variable validation utility
  packages/utils/package.json
  packages/utils/src/env.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "feat: add environment variable validation utility"
  packages/utils/package.json
  packages/utils/src/env.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
