Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

chore: just recipes for publishing
  packages/torus-sdk-ts/justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add MIT-0 license to torus-sdk-ts
  packages/torus-sdk-ts/LICENSE
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: preparing utils to be published
  packages/utils/LICENSE
  packages/utils/justfile
  packages/utils/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: renaming torus-ts/utils
  apps/torus-governance/src/app/_components/dao-card/components/author-info.tsx
  apps/torus-governance/src/app/_components/dao-card/components/expiration-info.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info.tsx
Due: torus-governance, check-torus-governance

style: enhance whitelist applications UI with new components and improved agent application handling in governance page
  apps/torus-governance/public/graces-draco.glb
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: lockfile
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "style: update StatueAnimation component with responsive annotation positions and model adjustments for better mobile experience"
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

chore: add 'check' command to run lint and typecheck for specific package
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: torus-dao statue animation
  apps/torus-governance/package.json
  apps/torus-governance/public/greek-statue.png
  apps/torus-governance/public/themis.glb
  apps/torus-governance/src/app/(pages)/layout.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/agent-application-card.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/page.tsx
  apps/torus-governance/src/app/_components/statue-animation.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/app/page.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: restore @types/three dependency in package.json and pnpm-lock.yaml
  apps/torus-governance/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: migrate @torus-ts/utils to @torus-network/torus-utils for consistency across torus-worker and related applications
  apps/torus-cache/package.json
  apps/torus-worker/src/__tests__/error-handling.test.ts
  apps/torus-worker/src/__tests__/workers.test.ts
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/error-playground/errorSimulator.ts
  apps/torus-worker/src/error-playground/workerErrorPlayground.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/torus-sdk-ts/src/metadata.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update import paths from @torus-ts/utils to @torus-network/torus-utils for consistency in torus-cache module
  apps/torus-cache/src/client_example.ts
  apps/torus-cache/src/data.ts
  apps/torus-cache/src/index.ts
  apps/torus-cache/src/server.ts
Due: torus-cache, check-torus-cache

fix: adjust annotation positions and button styles in statue animation component
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

fix: update colors and enhance stars settings in statue animation component
  apps/torus-governance/src/app/_components/statue-animation.tsx
Due: torus-governance, check-torus-governance

fix: update href for Whitelist Applications in sidebar navigation component
  apps/torus-governance/src/app/_components/sidebar/sidebar-nav.tsx
Due: torus-governance, check-torus-governance

refactor: add OpenGraph image and enhance SEO metadata
  apps/torus-wallet/public/og-image.png
  apps/torus-wallet/src/app/layout.tsx
Due: torus-wallet, check-torus-wallet

chore: update og-image.png for torus-wallet
  apps/torus-wallet/public/og-image.png
Due: torus-wallet, check-torus-wallet

feat: torus dao animation (WEB-184) (#186)
  apps/torus-governance/package.json
  apps/torus-governance/public/greek-statue.png
  apps/torus-governance/public/themis.glb
  apps/torus-governance/src/app/(pages)/layout.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/agent-application-card.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/page.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-nav.tsx
  apps/torus-governance/src/app/_components/statue-animation.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/app/page.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: fix SEO implementation with metadata utility
  apps/torus-wallet/public/og-image.jpg
  apps/torus-wallet/public/og-image.png
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/staking/layout.tsx
  apps/torus-wallet/src/app/transfers/layout.tsx
  apps/torus-wallet/src/utils/seo.ts
Due: torus-wallet, check-torus-wallet

refactor: fix layout components for server-side rendering
  apps/torus-wallet/src/app/staking/layout.tsx
  apps/torus-wallet/src/app/transfers/layout.tsx
Due: torus-wallet, check-torus-wallet

fix: improve error handling and toast notifications in useToastError hook and adjust useEffect dependencies
  apps/torus-bridge/src/app/_components/toast/use-toast-error.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  apps/torus-bridge/src/hooks/use-ready-multi-provider.ts
Due: torus-bridge, check-torus-bridge

chore: add cache headers for static assets and restructure homepage
  apps/torus-wallet/next.config.mjs
  apps/torus-wallet/src/app/page.tsx
Due: torus-wallet, check-torus-wallet

chore: replace JPG Open Graph image with WebP format
  apps/torus-wallet/public/og-image.jpg
  apps/torus-wallet/public/og.webp
  apps/torus-wallet/src/utils/seo.ts
Due: torus-wallet, check-torus-wallet

fix: re-enable torus-bridge deployment in CI/CD workflow
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: trigger build
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
Due: torus-bridge, check-torus-bridge

chore: comment out torus-bridge deployment in main workflow
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: updated React imports to use specific types and handled nullable refs properly in staking form schemas. Also improved validation logic and error messages in the transfer stake form.
  apps/torus-wallet/src/app/_components/wallet-review.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form-schema.ts
Due: torus-wallet, check-torus-wallet

Update apps/torus-wallet/src/app/_components/apr-bar/apr-bar.tsx
  apps/torus-wallet/src/app/_components/apr-bar/apr-bar.tsx
Due: torus-wallet, check-torus-wallet

chore: update og.webp
  apps/torus-wallet/public/og.webp
Due: torus-wallet, check-torus-wallet

refactor: fix APR bar calculation and type definition
  apps/torus-wallet/src/app/_components/apr-bar/apr-bar.tsx
  apps/torus-wallet/src/hooks/useAPR.ts
Due: torus-wallet, check-torus-wallet

fix: container size on dao expanded pages
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/page.tsx
Due: torus-governance, check-torus-governance

refactor: fix parentheses in stake percentage calculation and add a11y support
  apps/torus-wallet/src/app/_components/apr-bar/apr-bar.tsx
  apps/torus-wallet/src/hooks/useAPR.ts
Due: torus-wallet, check-torus-wallet

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
