Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

feat: add HTTPS for users when entering social URLs and updates placeholder texts for better clarity.
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: fix import type for react-hook-form
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update button UI and relax URL validation for agent metadata
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.tsx
  packages/torus-sdk-ts/src/agent_metadata/agent_metadata.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: remove unused useForm type imports
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update Discord URL validation to discord.gg and add break-words
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-content.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: remove fallback empty strings from social fields
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve update Agent button component with improved styling
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: improve form validation in RegisterAgent component
  apps/torus-governance/src/app/_components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

chore: remove unused UpdateAgentFormData import
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: fix validateUrl and simplify URL validation schemas
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add UpdateAgentForm type to improve code maintainability
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-util.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: improve agent update dialog UX and refactor components
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-util.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: simplify agent URL validation and update flow
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-util.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog.tsx
  packages/torus-provider/src/torus-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: improve URL validation and form input placeholders
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form-schema.ts
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-form.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-preview.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-tabs.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add ARIA attributes and simplify agent icon sizing classes
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-button.shared.tsx
  apps/torus-allocator/src/app/_components/agent-icon.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: resolve icon handling in agent metadata upload
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/update-agent-button/update-agent-dialog/update-agent-dialog-util.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix docker image tag
  .github/workflows/app-deployment-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

github is completely fucked
  .github/workflows/app-deployment-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: comment out WalletBalance component
  apps/torus-bridge/src/app/page.tsx
Due: torus-bridge, check-torus-bridge

chore: re-enable torus-bridge workflow deployment
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add preview environment for torus-bridge
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add Discord role management for DAO applications in process-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/utils/package.json
  packages/utils/src/discord-bot-interaction.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: integrate Discord login in agent application form with validation for submission
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
Due: torus-governance, check-torus-governance

chore: enhance debugging configuration in Next.js
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

chore: remove commented-out WalletBalance code
  apps/torus-bridge/src/app/page.tsx
Due: torus-bridge, check-torus-bridge

chore: comment out Torus to Torus EVM bridge option
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
Due: torus-bridge, check-torus-bridge

chore: set static WalletConnect project ID
  apps/torus-bridge/src/consts/config.ts
Due: torus-bridge, check-torus-bridge

chore: comment out TransferDetails and WalletActions components
  apps/torus-bridge/src/app/page.tsx
Due: torus-bridge, check-torus-bridge

test: Enable TransferDetails component in the home page
  apps/torus-bridge/src/app/page.tsx
Due: torus-bridge, check-torus-bridge

chore: add error handling for transfer details dialog
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
Due: torus-bridge, check-torus-bridge

chore: add ErrorBoundary component and update Next.js config
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/src/app/_components/error-boundary.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/app/page.tsx
Due: torus-bridge, check-torus-bridge

chore: remove fallback prop from ErrorBoundary component
  apps/torus-bridge/src/app/_components/error-boundary.tsx
  apps/torus-bridge/src/app/layout.tsx
Due: torus-bridge, check-torus-bridge

fix: dashboard card redirects
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-agent-health-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-pending-dao-member-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-pending-whitelist-card.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/_components/dashboard-tab/dashboard-redirect-card.tsx
Due: torus-governance, check-torus-governance

feat: enhance agent and cadre applications with Discord membership verification for submissions and role management
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/api/discord-verify/route.ts
  apps/torus-governance/src/env.ts
  apps/torus-governance/src/utils/discord-verification.ts
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/utils/package.json
  packages/utils/src/discord-bot-interaction.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: uncomment torus-bridge job and add PR workflow support
  .github/workflows/main.yml
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update EVM chain IDs and names in Torus Bridge config
  apps/torus-bridge/src/config.ts
Due: torus-bridge, check-torus-bridge

refactor: improved error handling and toast notifications across multiple components and API routes for better user feedback
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/report-agent.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/page.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-actions.tsx
  apps/torus-allocator/src/app/_components/penalties-list.tsx
  apps/torus-allocator/src/app/api/allocated-weight/route.ts
  apps/torus-allocator/src/app/api/trpc/[trpc]/route.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improved error handling and toast notifications across multiple components and API routes for better user feedback (#218)
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/report-agent.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/page.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-actions.tsx
  apps/torus-allocator/src/app/_components/penalties-list.tsx
  apps/torus-allocator/src/app/api/allocated-weight/route.ts
  apps/torus-allocator/src/app/api/trpc/[trpc]/route.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: torus portal permission initial config
  apps/torus-portal/eslint.config.js
  apps/torus-portal/helmfile.yaml
  apps/torus-portal/next-env.d.ts
  apps/torus-portal/next.config.mjs
  apps/torus-portal/package.json
  apps/torus-portal/postcss.config.mjs
  apps/torus-portal/public/favicon.ico
  apps/torus-portal/public/logo.svg
  apps/torus-portal/src/app/_components/permission-form.tsx
  apps/torus-portal/src/app/_components/portal-header.tsx
  apps/torus-portal/src/app/layout.tsx
  apps/torus-portal/src/app/page.tsx
  apps/torus-portal/src/env.ts
  apps/torus-portal/src/utils/dsl.ts
  apps/torus-portal/tailwind.config.ts
  apps/torus-portal/tsconfig.json
  apps/torus-portal/turbo.json
  apps/torus-portal/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: rename DISCORD_BOT_TOKEN to DISCORD_BOT_SECRET across all relevant files for improved security and clarity
  apps/torus-governance/src/app/api/discord-verify/route.ts
  apps/torus-governance/src/env.ts
  apps/torus-governance/values.yaml
  packages/utils/src/discord-bot-interaction.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
