Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

refactor: fix wallet provider for cleaner code organization
  apps/torus-wallet/src/context/wallet-provider.tsx
Due: torus-wallet, check-torus-wallet

chore: add "use client" directive to Receive component
  apps/torus-wallet/src/app/transfers/_components/receive/receive.tsx
Due: torus-wallet, check-torus-wallet

refactor: improve transaction status display and callback handling
  apps/torus-wallet/src/app/_components/allocator-selector.tsx
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/ui/src/components/transaction-status.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: implement BasicLogger for consistent logging across torus-cache and torus-worker modules Co-authored-by: Kelvin Steiner <me@steinerkelvin.dev>
  apps/torus-cache/src/client_example.ts
  apps/torus-cache/src/data.ts
  apps/torus-cache/src/index.ts
  apps/torus-cache/src/server.ts
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/common/log.ts
  apps/torus-worker/src/error-playground/errorSimulator.ts
  apps/torus-worker/src/error-playground/workerErrorPlayground.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/utils/package.json
  packages/utils/src/logger.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: add role and aria-live in transaction-status.tsx
  packages/ui/src/components/transaction-status.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update transaction buttons styling and text in staking forms
  apps/torus-wallet/src/app/staking/_components/stake/stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form.tsx
Due: torus-wallet, check-torus-wallet

refactor: enhance staking forms with accessibility and submit state
  apps/torus-wallet/src/app/staking/_components/stake/stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form.tsx
Due: torus-wallet, check-torus-wallet

refactor: improve auth handling and add explicit TRPC context types
  packages/api/src/router/agent/agent-application-vote.ts
  packages/api/src/trpc.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: rollback tRPC documentation
  packages/api/src/trpc.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove non-null assertion from sessionData.userKey
  packages/api/src/router/agent/agent-report.ts
  packages/api/src/router/agent/user-agent-weight.ts
  packages/api/src/router/cadre/cadre-candidate.ts
  packages/api/src/router/cadre/cadre-vote.ts
  packages/api/src/router/comment/comment-interaction.ts
  packages/api/src/router/comment/comment-report.ts
  packages/api/src/router/comment/comment.ts
  packages/api/src/router/penalty/penalty.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: centralize duplicated sidebar and wallet components
  apps/torus-bridge/src/app/_components/shared/sidebar-links.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-nav.tsx
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
  packages/ui/src/components/index.tsx
  packages/ui/src/components/sidebar/index.tsx
  packages/ui/src/components/sidebar/sidebar-nav.tsx
  packages/ui/src/components/wallet-common/index.tsx
  packages/ui/src/components/wallet-common/wallet-actions-base.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: move sidebar-nav and wallet-actions-base out of subdirectories
  packages/ui/src/components/index.tsx
  packages/ui/src/components/sidebar-nav.tsx
  packages/ui/src/components/sidebar/index.tsx
  packages/ui/src/components/wallet-actions-base.tsx
  packages/ui/src/components/wallet-common/index.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix tRCP context typing of authenticatedProcedure (web-167) (#187)
  packages/api/src/router/agent/agent-application-vote.ts
  packages/api/src/router/agent/agent-report.ts
  packages/api/src/router/agent/user-agent-weight.ts
  packages/api/src/router/cadre/cadre-candidate.ts
  packages/api/src/router/cadre/cadre-vote.ts
  packages/api/src/router/comment/comment-interaction.ts
  packages/api/src/router/comment/comment-report.ts
  packages/api/src/router/comment/comment.ts
  packages/api/src/router/penalty/penalty.ts
  packages/api/src/trpc.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update SidebarNav imports and simplify component structure
  apps/torus-bridge/src/app/_components/shared/sidebar-links.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-nav.tsx
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
  packages/ui/src/components/sidebar-nav.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: fix wallet actions with improved state management
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
Due: torus-bridge, check-torus-bridge

refactor: rename SidebarLinks component for consistency
  apps/torus-bridge/src/app/_components/shared/sidebar-links.tsx
  apps/torus-bridge/src/app/page.tsx
Due: torus-bridge, check-torus-bridge

chore: remove JSDoc comments and fix trailing commas
  packages/ui/src/components/wallet-actions-base.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: standardize logging format in BasicLogger for improved error message clarity across applications
  apps/torus-cache/src/utils.ts
  apps/torus-worker/src/index.ts
  packages/utils/src/logger.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: trycatch wrapper function across codebase (WEB-174) - Worker + Cache (#185)
  .vscode/settings.json
  apps/torus-cache/package.json
  apps/torus-cache/src/client_example.ts
  apps/torus-cache/src/data.ts
  apps/torus-cache/src/index.ts
  apps/torus-cache/src/server.ts
  apps/torus-cache/src/utils.ts
  apps/torus-worker/package.json
  apps/torus-worker/src/__tests__/error-handling.test.ts
  apps/torus-worker/src/__tests__/workers.test.ts
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/error-playground/errorSimulator.ts
  apps/torus-worker/src/error-playground/workerErrorPlayground.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/torus-sdk-ts/src/metadata.ts
  packages/utils/package.json
  packages/utils/src/__tests__/try-catch-typing.test.ts
  packages/utils/src/__tests__/try-catch.async.test.ts
  packages/utils/src/__tests__/try-catch.sync.test.ts
  packages/utils/src/async-result.ts
  packages/utils/src/error-helpers/client-operations.ts
  packages/utils/src/error-helpers/server-operations.ts
  packages/utils/src/error-helpers/visualizer/async.ts
  packages/utils/src/error-helpers/visualizer/sync.ts
  packages/utils/src/ipfs.ts
  packages/utils/src/logger.ts
  packages/utils/src/main.ts
  packages/utils/src/result.ts
  packages/utils/src/try-catch.ts
  packages/utils/src/typing.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: move layouts from layout.tsx to page.tsx files
  apps/torus-wallet/src/app/staking/layout.tsx
  apps/torus-wallet/src/app/staking/page.tsx
  apps/torus-wallet/src/app/transfers/layout.tsx
  apps/torus-wallet/src/app/transfers/page.tsx
Due: torus-wallet, check-torus-wallet

fix: adjust loading text size and improve layout for agent application expanded view
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
  apps/torus-governance/src/app/_components/details-card.tsx
  apps/torus-worker/src/workers/notify-dao-applications.ts
  helm/values.yaml
  packages/ui/src/components/toggle.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add vote progress bars to agent application expanded view
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-vote-bars.tsx
Due: torus-governance, check-torus-governance

fix: adjust loading text size and improve layout for agent application expanded view
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
Due: torus-governance, check-torus-governance

fix: update button variant to 'ghost' for like/dislike in ViewComment component
  apps/torus-governance/src/app/_components/comments/view-comment.tsx
Due: torus-governance, check-torus-governance

feat: add vote bars component to agent application expanded view
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
Due: torus-governance, check-torus-governance

fix: wrap CreateCadreCandidates component in a div for improved layout in DaoPortalPage
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
Due: torus-governance, check-torus-governance

fix: remove console.log for accountStakedBalance in CreateComment component to clean up console output
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

feat: Whitelist Applications expanded view improvements (WEB-186) (#189)
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/_components/agent-application-expanded-vote-bars.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
  apps/torus-governance/src/app/_components/comments/view-comment.tsx
  apps/torus-governance/src/app/_components/details-card.tsx
  apps/torus-worker/src/workers/notify-dao-applications.ts
  helm/values.yaml
  packages/ui/src/components/toggle.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add EditAgentButton component for agent profile pages
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve agent info card and edit button components
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/agent-info-card.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-button.shared.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-button.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: add cn utility
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/edit-agent-button/edit-agent-button.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: wallet asci animation (WEB-177)
  apps/torus-allocator/package.json
  apps/torus-governance/package.json
  apps/torus-page/package.json
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/(transfers)/_components/receive/receive-address-display.tsx
  apps/torus-wallet/src/app/(transfers)/_components/receive/receive.tsx
  apps/torus-wallet/src/app/(transfers)/_components/send/send-fee-handler.ts
  apps/torus-wallet/src/app/(transfers)/_components/send/send-form-schema.ts
  apps/torus-wallet/src/app/(transfers)/_components/send/send-form.tsx
  apps/torus-wallet/src/app/(transfers)/_components/send/send.tsx
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/_components/sidebar-links.tsx
  apps/torus-wallet/src/app/_components/torus-animation.tsx
  apps/torus-wallet/src/app/_components/wallet-balance.tsx
  apps/torus-wallet/src/app/page.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: add quotes around package names in `pnpm-workspace.yaml` for consistency (WEB-200)
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: Remove non-null assertion and handle ref safely
  apps/torus-wallet/src/app/_components/torus-animation.tsx
Due: torus-wallet, check-torus-wallet

fix: Torus SDK publishing (WEB-178) (#192)
  apps/torus-allocator/package.json
  apps/torus-governance/package.json
  apps/torus-page/package.json
  apps/torus-wallet/package.json
  apps/torus-wallet/src/app/(transfers)/_components/receive/receive-address-display.tsx
  apps/torus-wallet/src/app/(transfers)/_components/receive/receive.tsx
  apps/torus-wallet/src/app/(transfers)/_components/send/send-fee-handler.ts
  apps/torus-wallet/src/app/(transfers)/_components/send/send-form-schema.ts
  apps/torus-wallet/src/app/(transfers)/_components/send/send-form.tsx
  apps/torus-wallet/src/app/(transfers)/_components/send/send.tsx
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/_components/sidebar-links.tsx
  apps/torus-wallet/src/app/_components/torus-animation.tsx
  apps/torus-wallet/src/app/_components/wallet-balance.tsx
  apps/torus-wallet/src/app/page.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update to next 15.3 and enable turbopack builds
  apps/torus-allocator/package.json
  apps/torus-governance/package.json
  apps/torus-page/package.json
  apps/torus-wallet/package.json
  package.json
  packages/env-validation/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update to next 15.3 and enable turbopack builds (#193)
  apps/torus-allocator/package.json
  apps/torus-governance/package.json
  apps/torus-page/package.json
  apps/torus-wallet/package.json
  package.json
  packages/env-validation/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: test turbopack on dockerfile
  docker/Dockerfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance voting functionality in AgentApplicationVoteTypeCard and refactor penalty manager for better UX and error handling
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-card.tsx
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/_components/agent-application/penalty-manager.tsx
  apps/torus-governance/src/app/_components/comments/create-comment.tsx
  apps/torus-governance/src/app/_components/governance-status-not-open.tsx
  packages/ui/src/components/slider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
