Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

fix: update error handler imports and standardize error logging across application functions for improved error handling clarity
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/utils/package.json
  packages/utils/src/__tests__/client-operations-typing.test.ts
  packages/utils/src/__tests__/gogotry.async.test.ts
  packages/utils/src/__tests__/server-operations-typing.test.ts
  packages/utils/src/error-helpers/client-operations.ts
  packages/utils/src/error-helpers/server-operations.ts
  packages/utils/src/error-helpers/visualizer/async.ts
  packages/utils/src/error-helpers/visualizer/sync.ts
  packages/utils/src/main.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update error handler imports for consistency and improve async logging in tests for better error handling coverage
  apps/torus-worker/src/__tests__/error-handling.test.ts
  apps/torus-worker/src/__tests__/workers.test.ts
  apps/torus-worker/src/error-playground/errorSimulator.ts
  apps/torus-worker/src/error-playground/workerErrorPlayground.ts
  packages/utils/src/__tests__/try-catch.async.test.ts
  packages/utils/src/__tests__/try-catch.sync.test.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: move components directory to _components and add TabLayout
  apps/torus-wallet/src/app/_components/amount-buttons.tsx
  apps/torus-wallet/src/app/_components/apr-bar/apr-bar-base.tsx
  apps/torus-wallet/src/app/_components/apr-bar/apr-bar-shared.tsx
  apps/torus-wallet/src/app/_components/apr-bar/apr-bar.tsx
  apps/torus-wallet/src/app/_components/currency-swap.tsx
  apps/torus-wallet/src/app/_components/fee-label.tsx
  apps/torus-wallet/src/app/_components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/_components/sidebar-links.tsx
  apps/torus-wallet/src/app/_components/tab-layout.tsx
  apps/torus-wallet/src/app/_components/validators-list.tsx
  apps/torus-wallet/src/app/_components/wallet-balance.tsx
  apps/torus-wallet/src/app/_components/wallet-header.tsx
  apps/torus-wallet/src/app/_components/wallet-review.tsx
  apps/torus-wallet/src/app/_components/wallet-skeleton-loader.tsx
  apps/torus-wallet/src/app/staking/layout.tsx
  apps/torus-wallet/src/app/transfers/layout.tsx
Due: torus-wallet, check-torus-wallet

refactor: add type import for ReactNode
  apps/torus-wallet/src/app/_components/tab-layout.tsx
Due: torus-wallet, check-torus-wallet

feat: create ListWhitelistApplications and page layout for managing agent applications and enhance user search functionality
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/page.tsx
  apps/torus-governance/src/app/(pages)/agents/_components/list-agents.tsx
  apps/torus-governance/src/app/(pages)/agents/page.tsx
  apps/torus-governance/src/app/(pages)/layout.tsx
  apps/torus-governance/src/app/(pages)/page.tsx
  apps/torus-governance/src/app/(pages)/proposals/_components/list-proposals.tsx
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/_components/page-container.tsx
  apps/torus-governance/src/app/_components/shape-network-modal.tsx
  apps/torus-governance/src/app/_components/sidebar-info.tsx
  apps/torus-governance/src/app/_components/sidebar/popover-info.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-nav.tsx
  packages/ui/src/components/scroll-area.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add DiscordAuthProvider component for session management and reorganize layout imports for better structure and clarity
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/context/auth-provider.tsx
Due: torus-governance, check-torus-governance

feat: refactor sidebar components for better structure and add mobile/desktop variants for improved usability and responsiveness
  apps/torus-governance/src/app/(pages)/layout.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info-desktop.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info-mobile.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-info.tsx
  apps/torus-governance/src/app/_components/sidebar/sidebar-nav.tsx
  packages/ui/src/components/footer.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: refactor receive and send components with improved architecture
  apps/torus-wallet/src/app/transfers/_components/receive.tsx
  apps/torus-wallet/src/app/transfers/_components/receive/receive-address-display.tsx
  apps/torus-wallet/src/app/transfers/_components/receive/receive.tsx
  apps/torus-wallet/src/app/transfers/_components/send.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send-fee-handler.ts
  apps/torus-wallet/src/app/transfers/_components/send/send-form-schema.ts
  apps/torus-wallet/src/app/transfers/_components/send/send-form.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send.tsx
  apps/torus-wallet/src/app/transfers/layout.tsx
  apps/torus-wallet/src/utils/helpers.ts
Due: torus-wallet, check-torus-wallet

refactor: simplify TabLayout by removing containerClassName prop and setting defaults directly in the component
  apps/torus-wallet/src/app/_components/tab-layout.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/app/transfers/layout.tsx
Due: torus-wallet, check-torus-wallet

refactor: update fee-label import paths to use _components directory
  apps/torus-wallet/src/app/staking/_components/stake/stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/stake/stake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form-schema.ts
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-fee-handler.ts
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form-schema.ts
Due: torus-wallet, check-torus-wallet

refactor: peplace validators list with dropdown allocator selector
  apps/torus-wallet/src/app/_components/allocator-selector.tsx
  apps/torus-wallet/src/app/_components/validators-list.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake-form.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake-form.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
Due: torus-wallet, check-torus-wallet

feat: refactor proposal components for better organization and introduce new DAO content card elements for improved voting UI
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/_components/proposal-expanded-view.tsx
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/(pages)/proposals/_components/list-proposals.tsx
  apps/torus-governance/src/app/_components/dao-content-card/card-skeleton.tsx
  apps/torus-governance/src/app/_components/dao-content-card/card-view-data.tsx
  apps/torus-governance/src/app/_components/dao-content-card/vote-label.tsx
  apps/torus-governance/src/app/_components/dao-content-card/vote-percentage-bar.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-vote-card.tsx
Due: torus-governance, check-torus-governance

feat: introduce AgentApplicationCard and related components for improved management of agent applications and voting status
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/_components/agent-application-card.tsx
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/(pages)/proposals/_components/list-proposals.tsx
  apps/torus-governance/src/app/(pages)/proposals/_components/proposal-card.tsx
  apps/torus-governance/src/app/_components/dao-card/components/author-info.tsx
  apps/torus-governance/src/app/_components/dao-card/components/card-skeleton.tsx
  apps/torus-governance/src/app/_components/dao-card/components/expiration-info.tsx
  apps/torus-governance/src/app/_components/dao-card/components/vote-label.tsx
  apps/torus-governance/src/app/_components/dao-card/components/vote-percentage-bar.tsx
  apps/torus-governance/src/app/_components/dao-card/index.tsx
  apps/torus-governance/src/app/_components/dao-content-card/card-view-data.tsx
Due: torus-governance, check-torus-governance

feat: update vote-status import paths in proposal components for improved modularity and consistency across the codebase
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/_components/proposal-expanded-view.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-vote-card.tsx
Due: torus-governance, check-torus-governance

feat: refactor agent application components for improved display logic and enhance badge styles for better visual consistency
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/_components/agent-application-card.tsx
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-activity-label.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-label.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-status-label.tsx
  apps/torus-governance/src/app/_components/dao-card/index.tsx
  packages/ui/src/components/badge.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: proposal badges
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/_components/proposal-expanded-view.tsx
  apps/torus-governance/src/app/(pages)/proposals/_components/list-proposals.tsx
  apps/torus-governance/src/app/(pages)/proposals/_components/proposal-card.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-status-label.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-type-label.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-vote-card.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-vote-label.tsx
  apps/torus-governance/src/utils/types.ts
Due: torus-governance, check-torus-governance

feat: replace radio buttons with a select component in filter-content for a cleaner UI and improved status selection
  apps/torus-governance/src/app/_components/filter-content.tsx
Due: torus-governance, check-torus-governance

feat: implement ProposalVotePercentageBar component and update ProposalCard to use it for display of proposal voting metrics
  apps/torus-governance/src/app/(pages)/proposals/_components/proposal-card.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-percentage-bar.tsx
  apps/torus-governance/src/app/_components/dao-card/components/proposal-vote-percentage-bar.tsx
Due: torus-governance, check-torus-governance

fix: adjust styles for AgentApplicationVotePercentageBar component for better alignment and appearance in vote display
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-percentage-bar.tsx
Due: torus-governance, check-torus-governance

feat: Whitelist applications & Proposal tab refactor and new features (WEB-182) (#181)
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/_components/proposal-expanded-view.tsx
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/_components/agent-application-card.tsx
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/(pages)/proposals/_components/list-proposals.tsx
  apps/torus-governance/src/app/(pages)/proposals/_components/proposal-card.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-activity-label.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-label.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-percentage-bar.tsx
  apps/torus-governance/src/app/_components/agent-application/agent-status-label.tsx
  apps/torus-governance/src/app/_components/card-view-data.tsx
  apps/torus-governance/src/app/_components/dao-card/components/author-info.tsx
  apps/torus-governance/src/app/_components/dao-card/components/card-skeleton.tsx
  apps/torus-governance/src/app/_components/dao-card/components/expiration-info.tsx
  apps/torus-governance/src/app/_components/dao-card/components/proposal-vote-percentage-bar.tsx
  apps/torus-governance/src/app/_components/dao-card/index.tsx
  apps/torus-governance/src/app/_components/filter-content.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-status-label.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-type-label.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-vote-card.tsx
  apps/torus-governance/src/app/_components/proposal/proposal-vote-label.tsx
  apps/torus-governance/src/utils/types.ts
  packages/ui/src/components/badge.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: adjust styles for AgentApplicationVotePercentageBar component for improved vertical alignment in voting UI
  apps/torus-governance/src/app/_components/agent-application/agent-application-vote-percentage-bar.tsx
Due: torus-governance, check-torus-governance

fix: update badge hover state style for AgentStatusLabel component for consistent visual feedback across agent application UI
  apps/torus-governance/src/app/_components/agent-application/agent-status-label.tsx
Due: torus-governance, check-torus-governance

feat: update color palete (WEB-183)
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-agent-list.tsx
  apps/torus-bridge/src/app/_components/text-field.tsx
  apps/torus-wallet/src/app/components/actions/staking-calculator.tsx
  apps/torus-wallet/src/app/components/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-bar.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/layout.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/text-area.tsx
  packages/ui/src/styles/globals.css
  packages/ui/tailwind.config.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: update color palete (WEB-183) (#182)
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-agent-list.tsx
  apps/torus-bridge/src/app/_components/text-field.tsx
  apps/torus-wallet/src/app/components/actions/staking-calculator.tsx
  apps/torus-wallet/src/app/components/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-bar.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/layout.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/text-area.tsx
  packages/ui/src/styles/globals.css
  packages/ui/tailwind.config.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: optimize application listing by creating a stable reversed copy for better performance in display logic
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/_components/list-whitelist-applications.tsx
Due: torus-governance, check-torus-governance

refactor: simplify status labels in view selector for clarity and consistency in DAO portal UI
  apps/torus-governance/src/app/(pages)/dao-portal/_components/view-selector.tsx
Due: torus-governance, check-torus-governance

feat: enhance shape network modal view items with descriptions and icons for improved user guidance in governance app
  apps/torus-governance/src/app/_components/shape-network-modal.tsx
Due: torus-governance, check-torus-governance

feat: implement ContentNotFound component for user-friendly empty states in whitelist and agents applications listings
  apps/torus-governance/src/app/(pages)/(whitelist-applications)/_components/list-whitelist-applications.tsx
  apps/torus-governance/src/app/(pages)/agents/_components/list-agents.tsx
  apps/torus-governance/src/app/(pages)/dao-portal/page.tsx
  apps/torus-governance/src/app/(pages)/proposals/_components/list-proposals.tsx
  packages/ui/src/components/content-not-found.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: change button variant to outline for better visibility in Cadre Candidates application form
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

style: update Alert component classNames for consistency in ShapeNetworkModal and AlertTitle components
  apps/torus-governance/src/app/_components/shape-network-modal.tsx
  packages/ui/src/components/alert.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: adjust max height of DialogContent and improve wallet connection message in ShapeNetworkModal component
  apps/torus-governance/src/app/_components/shape-network-modal.tsx
Due: torus-governance, check-torus-governance

refactor: integrate @torus-ts/utils for enhanced error handling and async logging; improve data update functions with robust error checks
  apps/torus-cache/package.json
  apps/torus-cache/src/data.ts
  apps/torus-cache/src/index.ts
  packages/utils/src/error-helpers/client-operations.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: clean up error logging in tryAsyncToastRaw by removing commented code for improved readability and maintainability
  packages/utils/src/error-helpers/client-operations.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance getStakeOutData with robust error handling; integrate tryAsyncLogging and trySyncLogging for improved data processing
  apps/torus-cache/src/client_example.ts
  apps/torus-cache/src/server.ts
Due: torus-cache, check-torus-cache

refactor: replace proxy-based Result wrapper with class-based implementation
  packages/utils/src/result.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactore: add UsdPriceProvider context to centralize USD price fetching
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/staking/_components/stake/stake.tsx
  apps/torus-wallet/src/app/staking/_components/transfer-stake/transfer-stake.tsx
  apps/torus-wallet/src/app/staking/_components/unstake/unstake.tsx
  apps/torus-wallet/src/app/transfers/_components/send/send.tsx
  apps/torus-wallet/src/context/usd-price-provider.tsx
  packages/query-provider/src/hooks.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: adjust torus-sdk-ts (@torus-network/sdk) package.json fields for publishing
  packages/torus-sdk-ts/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: add MIT-0 license to torus-sdk-ts
  packages/torus-sdk-ts/LICENSE
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: just recipes for publishing
  packages/torus-sdk-ts/justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: remove `luxon` as torus-sdk-ts dependency
  packages/torus-sdk-ts/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
