Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

refactor: simplify WalletBalance component by removing unused variables
  apps/torus-wallet/src/app/components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

proposal toggle on proposal_id
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  packages/db/drizzle/0000_amusing_jigsaw.sql
  packages/db/drizzle/0002_stiff_paladin.sql
  packages/db/drizzle/0004_lovely_jocasta.sql
  packages/db/drizzle/meta/0002_snapshot.json
  packages/db/drizzle/meta/0004_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: improve setDelegatedAgentsFromDB logic to correctly merge existing and new agents while preserving original agents
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "feat: discord notifications (WEB-100)"
  apps/torus-cache/src/env.ts
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/drizzle/0002_stiff_paladin.sql
  packages/db/drizzle/0002_tranquil_speedball.sql
  packages/db/drizzle/0004_lovely_jocasta.sql
  packages/db/drizzle/0006_even_network.sql
  packages/db/drizzle/0007_confused_archangel.sql
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/0002_snapshot.json
  packages/db/drizzle/meta/0006_snapshot.json
  packages/db/drizzle/meta/0007_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/drizzle/relations.ts
  packages/db/drizzle/schema.ts
  packages/db/package.json
  packages/db/src/schema.ts
  packages/subspace/src/interfaces/augment-api-consts.ts
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-query.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/types-lookup.ts
  pnpm-lock.yaml
  turbo.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "reverts WEB-100"
  apps/torus-cache/src/env.ts
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  packages/db/drizzle/0000_amusing_jigsaw.sql
  packages/db/drizzle/0001_supreme_venus.sql
  packages/db/drizzle/0002_stiff_paladin.sql
  packages/db/drizzle/0004_lovely_jocasta.sql
  packages/db/drizzle/0007_confused_archangel.sql
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/0001_snapshot.json
  packages/db/drizzle/meta/0004_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/drizzle/relations.ts
  packages/db/drizzle/schema.ts
  packages/db/package.json
  packages/db/src/schema.ts
  packages/subspace/src/interfaces/augment-api-consts.ts
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-query.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/types-lookup.ts
  pnpm-lock.yaml
  turbo.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update AgentItemSkeleton to use Skeleton component and enhance styles for loading states
  apps/torus-allocator/src/app/_components/agent-item-skeleton.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-actions.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-sheet-trigger.tsx
  packages/ui/src/components/skeleton.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

almost done
  apps/torus-governance/hooks/use-discord-info.ts
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/discord-auth-button.tsx
  packages/api/src/root.ts
  packages/api/src/router/cadre/cadre-candidate.ts
  packages/api/src/router/cadre/discord-info.ts
  packages/db/src/schema.ts
  packages/db/src/validation.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add changes
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/env.ts
  apps/torus-governance/src/utils/auth-config.ts
Due: torus-governance, check-torus-governance

solve conflicts and small enhancements
  apps/torus-governance/package.json
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/discord-auth-button.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/app/providers/auth-provider.tsx
  packages/api/src/router/cadre/cadre-candidate.ts
  packages/ui/src/components/icons.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

added a close handler
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

add discord login button
  apps/torus-governance/src/app/api/auth/[...nextauth]/route.ts
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/discord-auth-button.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-governance/src/app/providers/auth-provider.tsx
  apps/torus-governance/src/env.ts
  apps/torus-governance/src/utils/auth.ts
  turbo.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

console.log
  apps/torus-governance/package.json
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/discord-auth-button.tsx
  apps/torus-governance/src/env.ts
  apps/torus-governance/src/oauth/action.ts
  apps/torus-governance/src/oauth/base.ts
  apps/torus-governance/src/utils/auth.ts
  turbo.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

WIP
  apps/torus-governance/src/app/api/auth/[...nextauth]/route.ts
  apps/torus-governance/src/oauth/action.ts
  apps/torus-governance/src/oauth/base.ts
  apps/torus-governance/src/utils/auth.ts
Due: torus-governance, check-torus-governance

almost done
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/discord-auth-button.tsx
  packages/api/src/router/cadre/cadre-candidate.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

new
  apps/torus-governance/hooks/use-discord-info.tsx
  apps/torus-governance/src/app/api/[...nextauth]/route.ts
  apps/torus-governance/src/app/components/discord-auth-button.tsx
  apps/torus-governance/src/app/providers/auth-provider.tsx
  apps/torus-governance/src/env.ts
  apps/torus-governance/src/utils/auth-config.ts
  packages/api/src/root.ts
  packages/api/src/router/cadre/discord-info.ts
  packages/db/src/schema.ts
  packages/db/src/validation.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

saved the branch
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/components/discord-auth-button.tsx
  packages/ui/src/components/icons.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove APRBar and APRBarSkeleton components
  apps/torus-wallet/src/app/components/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-bar.tsx
Due: torus-wallet, check-torus-wallet

refactor: update import path for APRBar component
  apps/torus-wallet/src/app/layout.tsx
Due: torus-wallet, check-torus-wallet

feat: add APRBar component with skeleton and shimmer effect
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-base.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-bar.tsx
  apps/torus-wallet/src/app/components/apr-bar/apr-entry.tsx
  apps/torus-wallet/src/app/components/apr-bar/shimmer-effect.tsx
Due: torus-wallet, check-torus-wallet

even more updates
  apps/torus-governance/src/app/layout.tsx
  package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

more changes
  turbo.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Working version after revisions
  apps/torus-governance/src/app/api/auth/[...nextauth]/route.ts
  apps/torus-governance/src/app/layout.tsx
  package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Discord Authentication
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Fix incredible amount of lines in commit
  apps/torus-governance/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

UI Enhancements
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
Due: torus-governance, check-torus-governance

feat: refactor agent listing to use agent cards with enhanced layout and loading states for improved user experience
  apps/torus-allocator/src/app/(main-page)/layout.tsx
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-content.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-footer.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-header.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/card-hover-effect.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/socials-info.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/index.tsx
  apps/torus-allocator/src/app/_components/agent-item.tsx
  apps/torus-allocator/src/hooks/use-blob-url.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: replace paragraph tags with span
  apps/torus-governance/src/app/components/sidebar-info.tsx
Due: torus-governance, check-torus-governance

Requested changes
  apps/torus-governance/hooks/use-discord-info.tsx
  apps/torus-governance/src/app/components/agent-application/create-cadre-candidates.tsx
  packages/ui/src/components/icons.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

small changes
  apps/torus-governance/hooks/use-discord-info.tsx
Due: torus-governance, check-torus-governance

feat: enhance agent item cards with loading skeletons and improve layout for better UI/UX in the allocator app
  apps/torus-allocator/package.json
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-content.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-footer.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-header.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-skeleton-loader.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/index.tsx
  apps/torus-allocator/src/app/_components/agent-item-skeleton.tsx
  packages/ui/src/components/clock.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update layout styles, improve animation, and enhance button configurations for consistency in the allocator app UI
  apps/torus-allocator/src/app/(main-page)/layout.tsx
  apps/torus-allocator/src/app/_components/agent-banner/_components/animation.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-skeleton-loader.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/index.tsx
  apps/torus-allocator/src/app/_components/allocation-sheet/components/allocation-actions.tsx
  apps/torus-wallet/src/styles/globals.css
  packages/api/src/router/agent/agent.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement pagination for agent listing with navigation controls to enhance user experience in the allocator app
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/app/_components/pagination-controls.tsx
  apps/torus-allocator/src/app/_components/pagination-nav.tsx
  packages/api/src/router/agent/agent.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add network allocation to agent cards and update fetching logic for enhanced agent data presentation in the allocator app
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-header.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/index.tsx
  packages/api/src/router/agent/agent.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add agent info card, expanded view socials, and reporting component to improve agent detail presentation in the allocator app
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/agent-info-card.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/expanded-view-socials.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/components/report-agent.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-allocator/src/app/_components/agent-content-list.tsx
  apps/torus-allocator/src/app/_components/agent-item.tsx
  apps/torus-allocator/src/app/_components/agents-tab-view.tsx
  apps/torus-allocator/src/app/_components/ideas-content.tsx
  apps/torus-allocator/src/app/_components/pagination-controls.tsx
  apps/torus-allocator/src/app/_components/pagination-nav.tsx
  apps/torus-allocator/src/app/_components/sidebar-links.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: integrate filter component to enhance agent search functionality and improve presentation in the allocator app
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/app/_components/filter-content.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Fix migrations
  packages/db/drizzle/0006_living_raider.sql
  packages/db/drizzle/0007_seed-discord.sql
  packages/db/drizzle/meta/0006_snapshot.json
  packages/db/drizzle/meta/0007_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/src/schema.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: rename networkAllocation to globalWeightPerc for consistency and update fetching logic in the allocator app components
  apps/torus-allocator/src/app/(main-page)/page.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/components/agent-card-header.tsx
  apps/torus-allocator/src/app/_components/agent-item-card/index.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
