Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

test skip build
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix skip build
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refine condition on dry-run builds
  .github/workflows/dry-run-build-template.yml
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

rename pr-check job
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

remove old jobs
  .github/workflows/main.yml
  .github/workflows/torus-allocator.yml
  .github/workflows/torus-bridge.yml
  .github/workflows/torus-cache.yml
  .github/workflows/torus-governance.yml
  .github/workflows/torus-page.yml
  .github/workflows/torus-wallet.yml
  .github/workflows/torus-worker.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

change dry-run build step name
  .github/workflows/dry-run-build-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add concurrency group
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

WIP
  apps/torus-allocator/src/app/api/v1/allocated-weight.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

(skip build) increase dao memory limit
  apps/torus-worker/helmfile.yaml
Due: torus-worker, check-torus-worker

add shader support and animation configuration for enhanced visuals
  apps/torus-wallet/next.config.mjs
  apps/torus-wallet/package.json
  apps/torus-wallet/shaders.d.ts
  apps/torus-wallet/src/app/components/actions/staking-calculator.tsx
  apps/torus-wallet/src/app/components/animation/client-hero-section.tsx
  apps/torus-wallet/src/app/components/animation/shader-material.tsx
  apps/torus-wallet/src/app/components/animation/shaders/fragment.glsl
  apps/torus-wallet/src/app/components/animation/shaders/vertex.glsl
  apps/torus-wallet/src/app/components/animation/use-animation-config.ts
  apps/torus-wallet/src/app/layout.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

adjust positioning and z-index for APR display components
  apps/torus-wallet/src/app/components/apr-display.tsx
  apps/torus-wallet/src/app/components/running-apr-bar.tsx
Due: torus-wallet, check-torus-wallet

feat: fix bar loading
  apps/torus-wallet/src/app/components/apr-display.tsx
  apps/torus-wallet/src/hooks/useAPR.ts
Due: torus-wallet, check-torus-wallet

fix: adjust margin in main layout for improved spacing
  apps/torus-governance/src/app/page.tsx
Due: torus-governance, check-torus-governance

feat: update filter component background color for improved visibility
  apps/torus-governance/src/app/components/filter-content.tsx
Due: torus-governance, check-torus-governance

feat: add cadre list data and display DAO member count and vote threshold in sidebar
  apps/torus-governance/src/app/components/sidebar-info.tsx
Due: torus-governance, check-torus-governance

feat: add cadre list data display for DAO member count and vote threshold in PopoverInfo
  apps/torus-governance/src/app/components/popover-info.tsx
Due: torus-governance, check-torus-governance

feat: adding skeleton coder
  apps/torus-wallet/src/app/components/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-display.tsx
Due: torus-wallet, check-torus-wallet

fix: adjust loading state display for APR component
  apps/torus-wallet/src/app/components/apr-display.tsx
Due: torus-wallet, check-torus-wallet

fix: use nullish coalescing operator for baseBalance in WalletBalance component
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
Due: torus-bridge, check-torus-bridge

fix: use nullish coalescing operator for tokenId in SelectTokenIdField component
  apps/torus-bridge/src/app/_components/tokens/select-token-id-field.tsx
Due: torus-bridge, check-torus-bridge

fix: use nullish coalescing operator for color prop in Icons component
  packages/ui/src/components/icons.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add new dependencies for enhanced 3D rendering and visualization
  apps/torus-wallet/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refine conditions
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: rename 'Validator Address' to 'Allocator Address' across components
  apps/torus-allocator/src/app/components/delegated-list.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/validators-list.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add pr jobs
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

remove deprecated workflows
  .github/workflows/torus-allocator.yml
  .github/workflows/torus-cache.yml
  .github/workflows/torus-governance.yml
  .github/workflows/torus-page.yml
  .github/workflows/torus-wallet.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

test remove branches ignore
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: optimize staking calculator and improve layout responsiveness
  apps/torus-wallet/src/app/components/actions/staking-calculator.tsx
  apps/torus-wallet/src/app/components/animation/client-hero-section.tsx
  apps/torus-wallet/src/app/layout.tsx
Due: torus-wallet, check-torus-wallet

refactor: enhance SkeletonLoader component structure and simplify APRDisplay loading state
  apps/torus-wallet/src/app/components/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-display.tsx
Due: torus-wallet, check-torus-wallet

debug
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "add concurrency group"
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve layout of StakingCalculator and rename 'Transfer Stake' button to 'Transfer'
  apps/torus-wallet/src/app/components/actions/staking-calculator.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
Due: torus-wallet, check-torus-wallet

handle head ref
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: bg card
  apps/torus-governance/src/app/components/filter-content.tsx
Due: torus-governance, check-torus-governance

feature: add sidebar-info and popover-info
  apps/torus-governance/src/app/components/popover-info.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
Due: torus-governance, check-torus-governance

prevent turbo check to run when pr close
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
