Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

fix: updates base URL for the governance app
  apps/torus-governance/src/env.ts
Due: torus-governance, check-torus-governance

feat: moves page content from metadata to page
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/metadata.ts
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
Due: torus-governance, check-torus-governance

feat: effect composer thing
  apps/torus-portal/package.json
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-animation.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-canvas.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update node colors in color legend to use GRAPH_CONSTANTS for better maintainability and consistency
  apps/torus-portal/src/app/(permission-graph)/_components/node-color-legend.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: refactors agent application page
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
Due: torus-governance, check-torus-governance

feat: improves agent application retrieval efficiency
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  packages/torus-sdk-ts/src/modules/governance.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: improves agent application display and SEO
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/api/og-image/[agentKey]/route.tsx
  packages/torus-sdk-ts/src/modules/governance.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: renders agent icon in OG image
  apps/torus-governance/src/app/api/og-image/[agentKey]/route.tsx
Due: torus-governance, check-torus-governance

fix: refactor OG image route to use edge runtime and custom layout
  apps/torus-governance/src/app/api/og-image/[agentKey]/route.tsx
Due: torus-governance, check-torus-governance

fix: removes redundant SEO component
  apps/torus-governance/src/app/layout.tsx
Due: torus-governance, check-torus-governance

refactor: streamline force graph particle animations and link properties for enhanced performance and consistency throughout the component
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-animation.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-constants.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-highlight-utils.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-utils.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/use-graph-data.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/use-graph-interactions.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: increase particles speed
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-constants.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance force graph utils and interactions for improved clarity and maintainability in particle behavior and interactions
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-utils.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/use-graph-data.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/use-graph-interactions.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: force graph (#249)
  apps/torus-portal/package.json
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-animation.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-canvas.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-constants.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-highlight-utils.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/force-graph-utils.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/use-graph-data.ts
  apps/torus-portal/src/app/(permission-graph)/_components/force-graph/use-graph-interactions.ts
  apps/torus-portal/src/app/(permission-graph)/_components/node-color-legend.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/permission-graph-container.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/permission-graph-types.ts
  apps/torus-portal/src/app/(permission-graph)/_components/permission-graph.tsx
  apps/torus-portal/src/hooks/use-create-graph-data.tsx
  packages/api/src/router/constraint/constraint.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: wallet signing in talisman
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: errors
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
Due: torus-bridge, check-torus-bridge

feat: serves agent icon as OG image
  apps/torus-governance/public/agent.png
  apps/torus-governance/src/app/api/og-image/[agentKey]/route.tsx
Due: torus-governance, check-torus-governance

feat: update InactiveUnlessRedelegated constraint label
  apps/torus-portal/src/app/create-constraint/_components/constraint-nodes/constraint-node-base.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance animations in permission graph components and update loading state in wallet label
  apps/torus-portal/src/app/(permission-graph)/_components/my-agent-button.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/permission-graph-container.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/permission-graph-overview.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/permission-graph-search.tsx
  apps/torus-portal/src/app/_components/portal-navigation-tabs.tsx
  packages/ui/src/components/wallet-dropdown/wallet-dropdown.tsx
  packages/ui/src/components/wallet-dropdown/wallet-label.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: portal ui animations
  apps/torus-portal/src/app/(permission-graph)/_components/node-color-legend.tsx
  apps/torus-portal/src/app/(permission-graph)/_components/permission-graph-container.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: extract inline tests from error.ts to separate error.test.ts
  packages/utils/src/error.test.ts
  packages/utils/src/error.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add Discord authentication hook and integrate in agent application forms
  apps/torus-governance/hooks/use-discord-auth.tsx
  apps/torus-governance/hooks/use-discord-info.tsx
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/discord-auth-button.tsx
  apps/torus-governance/src/app/_components/shape-network-modal.tsx
Due: torus-governance, check-torus-governance

feat: add Discord authentication hooks and integrate with agent application forms
  apps/torus-governance/src/app/_components/discord-auth-button.tsx
Due: torus-governance, check-torus-governance

fix: simplify instruction text in grant emission permission form component
  apps/torus-portal/src/app/create-permission/_components/grant-emission-permission-form-content.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: improve error handling and parsing for local storage data in agent application and cadre candidates form components
  apps/torus-governance/hooks/use-discord-auth.tsx
  apps/torus-governance/src/app/_components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/_components/agent-application/create-cadre-candidates.tsx
  apps/torus-governance/src/app/_components/discord-auth-button.tsx
  apps/torus-governance/src/app/_components/shape-network-modal.tsx
Due: torus-governance, check-torus-governance

remove ref from artifact
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

change db url
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add migration report and lock timeout
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Reapply "change db url"
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix report upload
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add torus-portal on list of apps to restart
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add missing atlas_schema_revisions migration file
  atlas/migrations/20250609195912.sql
  atlas/migrations/atlas.sum
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

use direct db connection instead of pool
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

apply code rabbit suggestions
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Revert "change db url"
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add atlas.hcl on workflow paths
  .github/workflows/apply-migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

test apply migrations pipeline
  .github/workflows/apply-migrations.yml
  .github/workflows/migrations.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: edit permission form
  apps/torus-portal/src/app/create-permission/_components/edit-permission-form.tsx
  apps/torus-portal/src/app/create-permission/_components/grant-emission-permission-form.tsx
  apps/torus-portal/src/app/create-permission/_components/permission-form-shared.tsx
  apps/torus-portal/src/app/create-permission/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: header label on permission form
  apps/torus-portal/src/app/create-permission/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: cleans up og-image route
  apps/torus-governance/src/app/api/og-image/[agentKey]/route.tsx
Due: torus-governance, check-torus-governance

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
