Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

fix(torus-wallet): resolve TypeScript 'possibly undefined' error in manager
  apps/torus-wallet/src/utils/faucet.ts
Due: torus-wallet, check-torus-wallet

fix(torus-wallet): resolve CodeRabbit critical issues - null safety and error handling
  apps/torus-wallet/src/app/(transfers)/_components/faucet/faucet.tsx
  apps/torus-wallet/src/utils/faucet.ts
Due: torus-wallet, check-torus-wallet

fix(torus-wallet): resolve eslint prefer-const violation in faucet
  apps/torus-wallet/src/utils/faucet.ts
Due: torus-wallet, check-torus-wallet

fix(torus-portal): resolve JSON parsing error in tRPC agent.infinite endpoint
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/permission-graph-command.tsx
  apps/torus-portal/src/app/_components/permission-selector/permission-selector.utils.ts
  apps/torus-portal/src/app/api/trpc/[trpc]/route.ts
  packages/api/src/router/agent/agent.ts
  packages/api/src/trpc.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: refactor ButtonsSection and ButtonsSectionMobile to include About button and enhance click handling in HoverHeader
  apps/torus-page/src/app/_components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/_components/hover-header/_components/desktop/lines-svg.tsx
  apps/torus-page/src/app/_components/hover-header/_components/mobile/buttons-section-mobile.tsx
  apps/torus-page/src/app/_components/hover-header/index.tsx
  apps/torus-page/src/app/_components/view-more.tsx
Due: torus-page, check-torus-page

feat(page): landing page about section (WEB-376) (#419)
  apps/torus-page/src/app/_components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/_components/hover-header/_components/desktop/lines-svg.tsx
  apps/torus-page/src/app/_components/hover-header/_components/mobile/buttons-section-mobile.tsx
  apps/torus-page/src/app/_components/hover-header/index.tsx
  apps/torus-page/src/app/_components/view-more.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-page/src/app/page.tsx
Due: torus-page, check-torus-page

fix(hover-header): rename "Portal" to "Join" and update button classes for better z-index handling
  apps/torus-page/src/app/_components/hover-header/_components/data.ts
  apps/torus-page/src/app/_components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/_components/view-more.tsx
Due: torus-page, check-torus-page

fix(view-more): update content for clarity by replacing "meta-coordination" with "coordination" in descriptions
  apps/torus-page/src/app/_components/view-more.tsx
Due: torus-page, check-torus-page

fix(pred-api): only return reply chain context
  apps/prediction-swarm-api/src/routes/tweets.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: prediction-swarm app file organization
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/feed/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/layout.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/scraper-queue/components/scraper-queue-item-card-progress-stages.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/scraper-queue/components/scraper-queue-item-card.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/scraper-queue/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/ticker/[slug]/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/tickers/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/top-predictors/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/user/[slug]/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/user/components/user-profile-content.tsx
  apps/prediction-swarm/src/app/(pages)/layout.tsx
  apps/prediction-swarm/src/app/(pages)/page.tsx
  apps/prediction-swarm/src/app/_components/content-filter-dialog/content-filter-dialog-date-picker.tsx
  apps/prediction-swarm/src/app/_components/content-filter-dialog/content-filter-dialog-topic-select.tsx
  apps/prediction-swarm/src/app/_components/content-filter-dialog/content-filter-dialog.tsx
  apps/prediction-swarm/src/app/_components/dither-background-animation.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-future-timeframe-badge.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-header/expanded-feed-header-accuracy-badge.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-header/expanded-feed-header-card.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-header/expanded-feed-header-watch-button.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-item/expanded-feed-item-star-button.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-item/expanded-feed-item-thread-context.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-item/expanded-feed-item-topic-badge.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-item/expanded-feed-item.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-last-scraped-badge.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-legend-tooltip.tsx
  apps/prediction-swarm/src/app/_components/expanded-view-page-header.tsx
  apps/prediction-swarm/src/app/_components/main-page/main-page-explore-item-card.tsx
  apps/prediction-swarm/src/app/_components/main-page/main-page-faq.tsx
  apps/prediction-swarm/src/app/_components/page-navigation/page-navigation-buttons.tsx
  apps/prediction-swarm/src/app/_components/page-navigation/page-navigation-dropdown-menu.tsx
  apps/prediction-swarm/src/app/_components/page-navigation/page-navigation.tsx
  apps/prediction-swarm/src/app/_components/search-predictor-command/search-predictor-command-empty.tsx
  apps/prediction-swarm/src/app/_components/search-predictor-command/search-predictor-command-trigger.tsx
  apps/prediction-swarm/src/app/_components/search-predictor-command/search-predictor-command.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add app_path input for various workflows and optimize ci-config usage in deployment steps
  .github/ci-config.json
  .github/workflows/app-deployment-template.yml
  .github/workflows/dry-run-build-template.yml
  .github/workflows/main.yml
  .github/workflows/pr-preview-template.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: prediction-swarm app file organization (#422)
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/feed/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/layout.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/scraper-queue/components/scraper-queue-item-card-progress-stages.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/scraper-queue/components/scraper-queue-item-card.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/scraper-queue/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/ticker/[slug]/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/tickers/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/top-predictors/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/user/[slug]/page.tsx
  apps/prediction-swarm/src/app/(pages)/(expanded-pages)/user/components/user-profile-content.tsx
  apps/prediction-swarm/src/app/(pages)/layout.tsx
  apps/prediction-swarm/src/app/(pages)/page.tsx
  apps/prediction-swarm/src/app/_components/content-filter-dialog/content-filter-dialog-date-picker.tsx
  apps/prediction-swarm/src/app/_components/content-filter-dialog/content-filter-dialog-topic-select.tsx
  apps/prediction-swarm/src/app/_components/content-filter-dialog/content-filter-dialog.tsx
  apps/prediction-swarm/src/app/_components/dither-background-animation.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-future-timeframe-badge.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-header/expanded-feed-header-accuracy-badge.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-header/expanded-feed-header-card.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-header/expanded-feed-header-watch-button.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-item/expanded-feed-item-star-button.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-item/expanded-feed-item-thread-context.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-item/expanded-feed-item-topic-badge.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-item/expanded-feed-item.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-last-scraped-badge.tsx
  apps/prediction-swarm/src/app/_components/expanded-feed/expanded-feed-legend-tooltip.tsx
  apps/prediction-swarm/src/app/_components/expanded-view-page-header.tsx
  apps/prediction-swarm/src/app/_components/main-page/main-page-explore-item-card.tsx
  apps/prediction-swarm/src/app/_components/main-page/main-page-faq.tsx
  apps/prediction-swarm/src/app/_components/page-navigation/page-navigation-buttons.tsx
  apps/prediction-swarm/src/app/_components/page-navigation/page-navigation-dropdown-menu.tsx
  apps/prediction-swarm/src/app/_components/page-navigation/page-navigation.tsx
  apps/prediction-swarm/src/app/_components/search-predictor-command/search-predictor-command-empty.tsx
  apps/prediction-swarm/src/app/_components/search-predictor-command/search-predictor-command-trigger.tsx
  apps/prediction-swarm/src/app/_components/search-predictor-command/search-predictor-command.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

:fire: removed llhama cpp dependency
  pnpm-lock.yaml
  services/swarm-filter/package.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

format-fix
  .github/ci-config.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

better scheduling
  services/torus-swarm-services/src/index.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: delete torus allocator
  apps/torus-allocator/eslint.config.js
  apps/torus-allocator/helmfile.yaml
  apps/torus-allocator/next-env.d.ts
  apps/torus-allocator/next.config.mjs
  apps/torus-allocator/package.json
  apps/torus-allocator/postcss.config.mjs
  apps/torus-allocator/public/favicon.ico
  apps/torus-allocator/public/logo.svg
  apps/torus-allocator/src/app/layout.tsx
  apps/torus-allocator/src/app/page.tsx
  apps/torus-allocator/src/env.ts
  apps/torus-allocator/tailwind.config.ts
  apps/torus-allocator/test-constraint-endpoints.ts
  apps/torus-allocator/test-constraint-violation-callback.ts
  apps/torus-allocator/tsconfig.json
  apps/torus-allocator/turbo.json
  apps/torus-allocator/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix(workflow): update fallback to 'services' in deployment script
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: get paths from turbo
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
