Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

fix PR execution
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: replace APRDisplay with APRBar and update skeleton loader component
  apps/torus-wallet/src/app/components/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-bar.tsx
  apps/torus-wallet/src/app/components/apr-display.tsx
  apps/torus-wallet/src/app/components/running-apr-bar.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
  apps/torus-wallet/src/app/layout.tsx
Due: torus-wallet, check-torus-wallet

refactor: simplify shader material and remove unused animation config
  apps/torus-wallet/src/app/components/animation/client-hero-section.tsx
  apps/torus-wallet/src/app/components/animation/shader-material.tsx
  apps/torus-wallet/src/app/components/animation/use-animation-config.ts
  apps/torus-wallet/src/app/components/apr-bar-skeleton.tsx
  apps/torus-wallet/src/app/components/apr-bar.tsx
Due: torus-wallet, check-torus-wallet

feat: enhance ClientHeroSection with CameraShake and increase Sparkles count
  apps/torus-wallet/src/app/components/animation/client-hero-section.tsx
Due: torus-wallet, check-torus-wallet

refactor: update ClientHeroSection layout and enhance CameraShake parameters
  apps/torus-wallet/src/app/components/animation/client-hero-section.tsx
  packages/ui/src/components/header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: rename Filter component to SearchBar and add WhitelistFilter for status selection
  apps/torus-governance/src/app/components/filter-content.tsx
Due: torus-governance, check-torus-governance

feature: filter WIP
  apps/torus-governance/src/app/components/render-list/list-agent-applications.tsx
Due: torus-governance, check-torus-governance

:construction: wip
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/[slug]/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add pr preview jobs
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

remove old workflows and fix pr preview dependency
  .github/workflows/main.yml
  .github/workflows/torus-allocator.yml
  .github/workflows/torus-cache.yml
  .github/workflows/torus-governance.yml
  .github/workflows/torus-page.yml
  .github/workflows/torus-wallet.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix cache pr job
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add fade-down animation to Card component for improved visual transition
  apps/torus-governance/src/app/components/card-view-data.tsx
Due: torus-governance, check-torus-governance

feat: extend ListContainer to accept optional height and className props
  apps/torus-governance/src/app/components/render-list/list-container.tsx
Due: torus-governance, check-torus-governance

feat: enhance ListAgentApplications component with improved loading state and filtering logic
  apps/torus-governance/src/app/components/render-list/list-agent-applications.tsx
Due: torus-governance, check-torus-governance

feat: enhance WhitelistFilter with status validation and improved UI for selection
  apps/torus-governance/src/app/components/filter-content.tsx
Due: torus-governance, check-torus-governance

feat: simplify query string construction in Sidebar component
  apps/torus-governance/src/app/components/sidebar-links.tsx
Due: torus-governance, check-torus-governance

fix: validator_address not exported from delegated-list
  apps/torus-allocator/src/app/components/popover-info.tsx
  apps/torus-allocator/src/app/components/tutorial-dialog.tsx
  apps/torus-allocator/src/app/components/user-weight-info.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: wallet reward interval display
  apps/torus-wallet/src/app/components/reward-interval-progress.tsx
  apps/torus-wallet/src/context/wallet-provider.tsx
  packages/query-provider/src/hooks.ts
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

test skip build on PR
  apps/torus-cache/values.yaml
Due: torus-cache, check-torus-cache

refactor: set new VALIDATOR_ADDRESS and move to ./consts.ts
  apps/torus-allocator/src/app/components/delegated-list.tsx
  apps/torus-allocator/src/app/components/popover-info.tsx
  apps/torus-allocator/src/app/components/tutorial-dialog.tsx
  apps/torus-allocator/src/app/components/user-weight-info.tsx
  apps/torus-allocator/src/consts.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: correct agent key validation in registration process
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

fix: use parsed agent key for whitelisting check in registration
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
Due: torus-governance, check-torus-governance

refactor: rename 'Validators' to 'Allocators' in stake and transfer actions; update reward interval display
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/reward-interval-progress.tsx
  apps/torus-wallet/src/app/components/wallet-balance.tsx
Due: torus-wallet, check-torus-wallet

fix: correct comment submission condition for Curator DAO members
  apps/torus-governance/src/app/components/comments/create-comment.tsx
Due: torus-governance, check-torus-governance

fix: update label for Curator DAO Members in popover and sidebar info
  apps/torus-governance/src/app/components/popover-info.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
Due: torus-governance, check-torus-governance

refactor: update label for Curator DAO Members in popover and sidebar components
  apps/torus-governance/src/app/components/popover-info.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
Due: torus-governance, check-torus-governance

feat: add whitelist functionality to agent registration process
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  packages/query-provider/src/hooks.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: integrate whitelist functionality for agent registration
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  packages/query-provider/src/hooks.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: fix network ratio
  apps/torus-wallet/src/app/components/apr-bar.tsx
Due: torus-wallet, check-torus-wallet

fix: animation speed
  apps/torus-wallet/src/app/components/animation/client-hero-section.tsx
Due: torus-wallet, check-torus-wallet

feat: calmer background animation
  apps/torus-wallet/src/app/components/animation/client-hero-section.tsx
Due: torus-wallet, check-torus-wallet

chore: TODO
  apps/torus-wallet/src/app/components/validators-list.tsx
Due: torus-wallet, check-torus-wallet

trigger pipeline
  apps/torus-worker/trigger
Due: torus-worker, check-torus-worker

fix: round global weight percentage display
  apps/torus-allocator/src/app/components/agent-item.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: making animation way more subtle
  apps/torus-wallet/src/app/components/animation/client-hero-section.tsx
  apps/torus-wallet/src/app/components/animation/shader-material.tsx
Due: torus-wallet, check-torus-wallet

refac: removing minutes from net reward payout
  apps/torus-wallet/src/app/components/reward-interval-progress.tsx
Due: torus-wallet, check-torus-wallet

fix: update unstake condition to address balance check
  apps/torus-wallet/src/app/components/actions/unstake.tsx
Due: torus-wallet, check-torus-wallet

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
