Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

torus-page:
  steps:
  - name: prepare-dockerfile
    image: alpine
    environment:
      APP_NAME: torus-page
    commands:
    - ./scripts/sed_dockerfile.sh
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
  ...

torus-validator:
  steps:
  - name: prepare-dockerfile
    image: alpine
    environment:
      APP_NAME: torus-page
    commands:
    - ./scripts/sed_dockerfile.sh
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
  ...

torus-worker:
  steps:
  - name: prepare-dockerfile
    image: alpine
    environment:
      APP_NAME: torus-page
    commands:
    - ./scripts/sed_dockerfile.sh
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
  ...

torus-governance:
  steps:
  - name: prepare-dockerfile
    image: alpine
    environment:
      APP_NAME: torus-page
    commands:
    - ./scripts/sed_dockerfile.sh
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
  ...

torus-wallet:
  steps:
  - name: prepare-dockerfile
    image: alpine
    environment:
      APP_NAME: torus-page
    commands:
    - ./scripts/sed_dockerfile.sh
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
  ...

torus-cache:
  steps:
  - name: prepare-dockerfile
    image: alpine
    environment:
      APP_NAME: torus-page
    commands:
    - ./scripts/sed_dockerfile.sh
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
  ...

feat: god have mercy on me pt.3
  apps/torus-validator/src/app/page.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
Due: torus-validator, torus-wallet

feat: governance updates to torus v0
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/(pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
  apps/torus-governance/src/app/page.tsx
  packages/ui/src/components/header.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: we made it
  apps/torus-governance/src/app/components/agent-application/create-agent-application.tsx
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/proposal/register-agent.tsx
  apps/torus-governance/src/context/governance-provider.tsx
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: add suspense for lazy loading of agent and ideas content
  apps/torus-validator/src/app/page.tsx
Due: torus-validator

feat: rename Governance Portal to DAO Portal in context and navigation
  apps/torus-governance/src/context/governance-provider.tsx
  packages/ui/src/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: update Torus RPC and cache URLs to production endpoints
  docker/Dockerfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: tor to torus, and many other things
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/sidebar-info.tsx
  apps/torus-validator/src/app/components/delegated-list.tsx
  apps/torus-wallet/src/app/components/actions/bridge.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/fee-label.tsx
Due: torus-validator, torus-governance, torus-wallet

remove sed dockerfile step
  .drone.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: log Torus RPC and cache URLs for debugging
  apps/torus-wallet/src/app/page.tsx
Due: torus-wallet

I hate my life
  scripts/sed_dockerfile.sh
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: update terminology from TOR to TORUS in various components
  apps/torus-wallet/src/app/components/actions/bridge.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
Due: torus-wallet

fix: update wallet balance component to use TORUS terminology
  apps/torus-wallet/src/app/components/wallet-balance.tsx
Due: torus-wallet

fix: update sidebar link title from "Bridge" to "Base Bridge"
  apps/torus-wallet/src/app/components/sidebar-links.tsx
Due: torus-wallet

feat: remove bridge ui from wallet
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
Due: torus-wallet

feat: opening proposals
  apps/torus-governance/src/app/components/list-cards.tsx
  apps/torus-governance/src/app/components/modal.tsx
  apps/torus-governance/src/app/components/sidebar-links.tsx
Due: torus-governance

chore: adjust type gen recipe to auto dump metadata
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

chore: regen types from mainnet
  packages/subspace/src/interfaces/augment-api-consts.ts
  packages/subspace/src/interfaces/augment-api-errors.ts
  packages/subspace/src/interfaces/augment-api-query.ts
  packages/subspace/src/interfaces/augment-api-tx.ts
  packages/subspace/src/interfaces/lookup.ts
  packages/subspace/src/interfaces/types-lookup.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

chore: add run-workflows target for local GitHub Actions testing
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

refactor: torus-bridge codebase
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/package.json
  apps/torus-bridge/src/app/components/buttons/ConnectAwareSubmitButton.tsx
  apps/torus-bridge/src/app/components/errors/ErrorBoundary.tsx
  apps/torus-bridge/src/app/components/icons/ChainLogo.tsx
  apps/torus-bridge/src/app/components/icons/TokenIcon.tsx
  apps/torus-bridge/src/app/components/layout/AppLayout.tsx
  apps/torus-bridge/src/app/components/nav/Header.tsx
  apps/torus-bridge/src/app/components/toast/TxSuccessToast.tsx
  apps/torus-bridge/src/app/components/toast/useToastError.tsx
  apps/torus-bridge/src/consts/app.ts
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/config.ts
  apps/torus-bridge/src/consts/warpRouteWhitelist.ts
  apps/torus-bridge/src/consts/warpRoutes.ts
  apps/torus-bridge/src/consts/warpRoutes.yaml
  apps/torus-bridge/src/features/WarpContextInitGate.tsx
  apps/torus-bridge/src/features/chains/ChainConnectionWarning.tsx
  apps/torus-bridge/src/features/chains/ChainSelectField.tsx
  apps/torus-bridge/src/features/chains/ChainWalletWarning.tsx
  apps/torus-bridge/src/features/tokens/SelectOrInputTokenIds.tsx
  apps/torus-bridge/src/features/tokens/TokenListModal.tsx
  apps/torus-bridge/src/features/tokens/TokenSelectField.tsx
  apps/torus-bridge/src/features/tokens/approval.ts
  apps/torus-bridge/src/features/tokens/balances.ts
  apps/torus-bridge/src/features/tokens/warpCoreConfig.ts
  apps/torus-bridge/src/features/transfer/TransferTokenForm.tsx
  apps/torus-bridge/src/features/transfer/TransfersDetailsModal.tsx
  apps/torus-bridge/src/features/transfer/maxAmount.ts
  apps/torus-bridge/src/features/transfer/types.ts
  apps/torus-bridge/src/features/transfer/useBalanceWatcher.ts
  apps/torus-bridge/src/features/transfer/useFeeQuotes.ts
  apps/torus-bridge/src/features/transfer/useTokenTransfer.ts
  apps/torus-bridge/src/features/transfer/utils.ts
  apps/torus-bridge/src/features/wallet/SideBarMenu.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: refactor hooks file structure and imports
  apps/torus-bridge/src/app/_components/connect-wallet-button.tsx
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/max-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/recipient-section.tsx
  apps/torus-bridge/src/app/components/buttons/ConnectAwareSubmitButton.tsx
  apps/torus-bridge/src/app/components/icons/ChainLogo.tsx
  apps/torus-bridge/src/app/components/toast/TxSuccessToast.tsx
  apps/torus-bridge/src/context/cosmos-wallet-provider.tsx
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  apps/torus-bridge/src/context/warp-context-init-gate-provider.tsx
  apps/torus-bridge/src/features/chains/ChainConnectionWarning.tsx
  apps/torus-bridge/src/features/chains/ChainSelectField.tsx
  apps/torus-bridge/src/features/chains/ChainWalletWarning.tsx
  apps/torus-bridge/src/features/chains/hooks.ts
  apps/torus-bridge/src/features/tokens/TokenListModal.tsx
  apps/torus-bridge/src/features/tokens/approval.ts
  apps/torus-bridge/src/features/tokens/balances.ts
  apps/torus-bridge/src/features/transfer/TransfersDetailsModal.tsx
  apps/torus-bridge/src/features/transfer/maxAmount.ts
  apps/torus-bridge/src/hooks/chain/use-chain-display-name.ts
  apps/torus-bridge/src/hooks/chain/use-chain-metadata.ts
  apps/torus-bridge/src/hooks/chain/use-chain-protocol.ts
  apps/torus-bridge/src/hooks/sanctioned/use-is-account-chainalysis-sanctioned.ts
  apps/torus-bridge/src/hooks/sanctioned/use-is-account-ofac-sanctioned.ts
  apps/torus-bridge/src/hooks/sanctioned/use-is-account-sanctioned.ts
  apps/torus-bridge/src/hooks/use-fee-quotes.ts
  apps/torus-bridge/src/hooks/use-multi-provider.ts
  apps/torus-bridge/src/hooks/use-ready-multi-provider.ts
  apps/torus-bridge/src/hooks/use-token-transfer.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: disable SSR in RootLayout to simplify wallet integration
  apps/torus-bridge/src/app/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: refactor multiple componet structure + hooks
  apps/torus-bridge/src/app/_components/app-layout.tsx
  apps/torus-bridge/src/app/_components/connect-wallet-button.tsx
  apps/torus-bridge/src/app/_components/header.tsx
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/_components/text-field.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/recipient-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/review-section.tsx
  apps/torus-bridge/src/app/components/layout/Card.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/consts/app.ts
  apps/torus-bridge/src/context/cosmos-wallet-provider.tsx
  apps/torus-bridge/src/context/error-boundary-provider.tsx
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  apps/torus-bridge/src/context/wallet-provider.tsx
  apps/torus-bridge/src/context/warp-context-init-gate-provider.tsx
  apps/torus-bridge/src/features/sanctions/hooks/useIsAccountOfacSanctioned.ts
  apps/torus-bridge/src/features/tokens/SelectOrInputTokenIds.tsx
  apps/torus-bridge/src/features/tokens/TokenListModal.tsx
  apps/torus-bridge/src/features/transfer/TransferTokenForm.tsx
  apps/torus-bridge/src/hooks/use-balance-watcher.ts
  apps/torus-bridge/src/hooks/use-fee-quotes.ts
  apps/torus-bridge/src/hooks/use-is-account-chainalysis-sanctioned.ts
  apps/torus-bridge/src/hooks/use-is-account-ofac-sanctioned.ts
  apps/torus-bridge/src/hooks/use-is-account-sanctioned.ts
  apps/torus-bridge/src/hooks/use-token-transfer.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: `transfer-token-form` file structure refactor
  apps/torus-bridge/src/app/_components/header.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/max-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/swap-chain-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/token-balance.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/validate-form.ts
  apps/torus-bridge/src/app/_components/transfer-token/_components/warning-banner.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/recipient-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/review-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/select-chain-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/token-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/index.tsx
  apps/torus-bridge/src/app/components/layout/AppLayout.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-bridge/src/features/chains/ChainSelectField.tsx
  apps/torus-bridge/src/features/store.ts
  apps/torus-bridge/src/features/tokens/SelectOrInputTokenIds.tsx
  apps/torus-bridge/src/features/tokens/TokenSelectField.tsx
  apps/torus-bridge/src/features/tokens/balances.ts
  apps/torus-bridge/src/features/transfer/TransferTokenForm.tsx
  apps/torus-bridge/src/features/transfer/TransfersDetailsModal.tsx
  apps/torus-bridge/src/features/transfer/useFeeQuotes.ts
  apps/torus-bridge/src/features/transfer/useTokenTransfer.ts
  apps/torus-bridge/src/features/transfer/utils.ts
  apps/torus-bridge/src/features/wallet/ConnectWalletButton.tsx
  apps/torus-bridge/src/features/wallet/SideBarMenu.tsx
  apps/torus-bridge/src/styles/globals.css
  apps/torus-bridge/src/utils/types.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: fix build and multiple files
  apps/torus-bridge/package.json
  apps/torus-bridge/public/logo.svg
  apps/torus-bridge/src/app/components/banner/FormWarningBanner.tsx
  apps/torus-bridge/src/app/components/banner/WarningBanner.tsx
  apps/torus-bridge/src/app/components/buttons/ConnectAwareSubmitButton.tsx
  apps/torus-bridge/src/app/components/buttons/SolidButton.tsx
  apps/torus-bridge/src/app/components/icons/TokenIcon.tsx
  apps/torus-bridge/src/app/components/input/TextField.tsx
  apps/torus-bridge/src/app/components/layout/Card.tsx
  apps/torus-bridge/src/app/components/nav/Header.tsx
  apps/torus-bridge/src/app/components/toast/IgpDetailsToast.tsx
  apps/torus-bridge/src/app/components/toast/useToastError.tsx
  apps/torus-bridge/src/consts/chains.ts
  apps/torus-bridge/src/consts/config.ts
  apps/torus-bridge/src/features/chains/ChainConnectionWarning.tsx
  apps/torus-bridge/src/features/chains/ChainSelectModal.tsx
  apps/torus-bridge/src/features/chains/ChainWalletWarning.tsx
  apps/torus-bridge/src/features/chains/hooks.ts
  apps/torus-bridge/src/features/chains/metadata.ts
  apps/torus-bridge/src/features/chains/utils.ts
  apps/torus-bridge/src/features/sanctions/hooks/useIsAccountChainalysisSanctioned.ts
  apps/torus-bridge/src/features/tokens/SelectOrInputTokenIds.tsx
  apps/torus-bridge/src/features/tokens/SelectTokenIdField.tsx
  apps/torus-bridge/src/features/tokens/TokenListModal.tsx
  apps/torus-bridge/src/features/tokens/hooks.ts
  apps/torus-bridge/src/features/transfer/TransfersDetailsModal.tsx
  apps/torus-bridge/src/features/transfer/useFeeQuotes.ts
  apps/torus-bridge/src/features/transfer/useTokenTransfer.ts
  apps/torus-bridge/src/features/transfer/utils.ts
  apps/torus-bridge/src/features/wallet/SideBarMenu.tsx
  apps/torus-bridge/src/features/wallet/context/EvmWalletContext.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

refactor: remove unused SVG icons and commented metadata
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/features/store.ts
  apps/torus-bridge/src/features/transfer/TransferTokenForm.tsx
  apps/torus-bridge/src/features/wallet/SideBarMenu.tsx
  apps/torus-bridge/src/images/icons/arrow-right.svg
  apps/torus-bridge/src/images/icons/collapse-icon.svg
  apps/torus-bridge/src/images/icons/confirmed-icon.svg
  apps/torus-bridge/src/images/icons/delivered-icon.svg
  apps/torus-bridge/src/images/icons/error-circle.svg
  apps/torus-bridge/src/images/icons/external-link-icon.svg
  apps/torus-bridge/src/images/icons/info-circle.svg
  apps/torus-bridge/src/images/icons/reset-icon.svg
  apps/torus-bridge/src/images/logos/app-logo.svg
  apps/torus-bridge/src/images/logos/app-name.svg
  apps/torus-bridge/src/images/logos/app-title.svg
  apps/torus-bridge/src/images/logos/eth.png
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: update import path for warp routes YAML file
  apps/torus-bridge/src/app/_components/tokens/warp-core-config.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: build
  apps/torus-bridge/next-env.d copy.ts
  apps/torus-bridge/src/app/_components/chains/chain-metadata.ts
  apps/torus-bridge/src/app/_components/chains/chain-select-field.tsx
  apps/torus-bridge/src/app/_components/chains/chain-select-modal.tsx
  apps/torus-bridge/src/app/_components/tokens/warp-core-config.ts
  apps/torus-bridge/src/global.d.ts
  apps/torus-bridge/src/vendor/inpage-metamask.js
  apps/torus-bridge/src/vendor/polyfill.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: add `@hyperlane-xyz/cli` as a dev dependency of `torus-bridge`
  .vscode/settings.json
  apps/torus-bridge/README.md
  apps/torus-bridge/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

feat: enhance UI components and improve layout for transfer token functionality
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/src/app/_components/buttons/connect-aware-submit-button.tsx
  apps/torus-bridge/src/app/_components/chains/chain-select-field.tsx
  apps/torus-bridge/src/app/_components/chains/chain-select-modal.tsx
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
  apps/torus-bridge/src/app/_components/text-field.tsx
  apps/torus-bridge/src/app/_components/tokens/token-select-field.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/swap-chain-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/select-chain-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/token-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/index.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/styles/globals.css
  apps/torus-wallet/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: update RPC URL to use NEXT_PUBLIC_TORUS_RPC_URL for TorusAlphanet in chains configuration
  apps/torus-bridge/src/consts/chains.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

chore: add no code removed version
  apps/torus-bridge/src/app/_components/side-bar-menu.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

chore: remove bridge closed
  apps/torus-page/src/app/layout.tsx
Due: torus-page

chore: nix: add `biome` and bump flake
  flake.lock
  flake.nix
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

WIP
  apps/torus-worker/package.json
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/env.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/db/src/schema.ts
  packages/utils/package.json
  packages/utils/src/collections.ts
  pnpm-lock.yaml
  scripts/dev-helper
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: workers
  .vscode/settings.json
  README.md
  apps/torus-worker/package.json
  apps/torus-worker/src/common/index.ts
  apps/torus-worker/src/db.ts
  apps/torus-worker/src/db/type-transformations.ts
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/weights.ts
  apps/torus-worker/src/workers/agent-fetcher.ts
  apps/torus-worker/src/workers/notify-dao-applications.ts
  apps/torus-worker/src/workers/process-dao-applications.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  packages/db/package.json
  packages/db/src/schema.ts
  packages/subspace/src/main.ts
  packages/subspace/src/modules/governance.ts
  packages/subspace/src/modules/subspace.ts
  packages/subspace/src/types/zod.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

WIP
  .vscode/settings.json
  apps/torus-worker/src/common/env.ts
  apps/torus-worker/src/workers/weight-aggregator.ts
  justfile
  scripts/dev-helper
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

chore: workers TODOs
  apps/torus-worker/src/index.ts
  packages/subspace/src/modules/subspace.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache

fix: division by zero
  apps/torus-worker/src/index.ts
  apps/torus-worker/src/weights.ts
Due: torus-worker

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**
