Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

refactor: enhance documentation for Native-to-Base bridge flow functions
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-native-to-base-flow.ts
Due: torus-bridge, check-torus-bridge

refactor: improve balance handling and documentation in bridge flow hooks
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-base-to-native-flow.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-native-to-base-flow.ts
Due: torus-bridge, check-torus-bridge

refactor: enhance balance handling and documentation in native-to-base flow
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-native-to-base-flow.ts
Due: torus-bridge, check-torus-bridge

refactor: enhance error handling and retry logic in native to base flow
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-native-to-base-flow.ts
Due: torus-bridge, check-torus-bridge

refactor: improve transaction handling and documentation in bridge flow
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-native-to-base-flow.ts
  apps/torus-bridge/src/app/simple/hooks/use-simple-bridge-orchestrated-transfer.ts
  apps/torus-bridge/src/hooks/use-token-transfer.ts
Due: torus-bridge, check-torus-bridge

refactor: enhance documentation for Base-to-Native bridge flow functions
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-base-to-native-flow.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-helpers.ts
Due: torus-bridge, check-torus-bridge

refactor: enhance logging and documentation in bridge transaction lifecycle
  apps/torus-bridge/src/app/simple/_components/simple-bridge-transaction-lifecycle-dialog.tsx
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-base-to-native-flow.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-helpers.ts
Due: torus-bridge, check-torus-bridge

refactor: enhance error handling and documentation in bridge transaction lifecycle
  apps/torus-bridge/src/app/simple/_components/simple-bridge-transaction-lifecycle-dialog.tsx
  apps/torus-bridge/src/app/simple/_components/simple-bridge-types.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-base-to-native-flow.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-native-to-base-flow.ts
Due: torus-bridge, check-torus-bridge

refactor: improve error handling and polling logic in native to base flow
  apps/torus-bridge/src/app/simple/_components/simple-bridge-transaction-lifecycle-dialog.tsx
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-native-to-base-flow.ts
Due: torus-bridge, check-torus-bridge

refactor: enhance transaction lifecycle management in bridge flow
  apps/torus-bridge/src/app/simple/_components/simple-bridge-transaction-lifecycle-dialog.tsx
  apps/torus-bridge/src/app/simple/_components/transaction-step-item.tsx
  apps/torus-bridge/src/app/simple/_components/use-transaction-lifecycle-steps.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-base-to-native-flow.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-chain-switch.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-native-to-base-flow.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-polling.ts
Due: torus-bridge, check-torus-bridge

docs: add guidelines against using eslint-disable directives
  CLAUDE.md
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve sidebar navigation and transaction lifecycle management
  apps/torus-bridge/src/app/_components/shared/sidebar-links.tsx
  apps/torus-bridge/src/app/simple/_components/simple-bridge-transaction-lifecycle-dialog.tsx
  apps/torus-bridge/src/app/simple/_components/use-transaction-lifecycle-steps.ts
Due: torus-bridge, check-torus-bridge

refactor: streamline dual wallet connection and transaction lifecycle handling
  apps/torus-bridge/src/app/simple/_components/simple-bridge-dual-wallet-connector.tsx
  apps/torus-bridge/src/app/simple/_components/simple-bridge-transaction-lifecycle-dialog.tsx
  apps/torus-bridge/src/app/simple/hooks/use-simple-bridge-dual-wallet.ts
Due: torus-bridge, check-torus-bridge

refactor: simplify dual wallet connection logic in bridge component
  apps/torus-bridge/src/app/simple/_components/simple-bridge-dual-wallet-connector.tsx
  apps/torus-bridge/src/app/simple/hooks/use-simple-bridge-dual-wallet.ts
Due: torus-bridge, check-torus-bridge

refactor: improve code formatting and readability in bridge components
  apps/torus-bridge/src/app/simple/_components/simple-bridge-dual-wallet-connector.tsx
  apps/torus-bridge/src/app/simple/_components/transaction-step-item.tsx
  apps/torus-bridge/src/app/simple/_components/use-transaction-lifecycle-steps.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-base-to-native-flow.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-chain-switch.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-native-to-base-flow.ts
  apps/torus-bridge/src/app/simple/hooks/simple-bridge-polling.ts
Due: torus-bridge, check-torus-bridge

fix: update metadata title and keywords for consistency
  apps/torus-page/src/app/layout.tsx
Due: torus-page, check-torus-page

refactor: enhance transaction lifecycle management in bridge application
  apps/torus-bridge/src/app/simple/_components/simple-bridge-transaction-lifecycle-dialog.tsx
  apps/torus-bridge/src/app/simple/_components/simple-bridge-transaction-step-item.tsx
  apps/torus-bridge/src/app/simple/hooks/use-transaction-lifecycle-steps.ts
Due: torus-bridge, check-torus-bridge

refactor: migrate configuration from YAML to JSON in bridge application
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/src/app/_components/chains/chain-metadata.ts
  apps/torus-bridge/src/app/_components/warp-core-config.ts
  apps/torus-bridge/src/consts/chains.json
  apps/torus-bridge/src/consts/chains.yaml
  apps/torus-bridge/src/consts/warp-routes.json
  apps/torus-bridge/src/consts/warp-routes.yaml
Due: torus-bridge, check-torus-bridge

chore: update dependencies in pnpm-lock.yaml and remove unused yaml-loader from bridge application
  apps/torus-bridge/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: hooks imports
  apps/prediction-swarm-dash/src/contexts/auth-provider.tsx
  apps/prediction-swarm-dash/src/hooks/api/use-agent-contribution-stats-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-agent-detailed-metrics-comparison-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-agent-detailed-metrics-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-agent-name-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-agent-profile-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-auth-challenge-mutation.ts
  apps/prediction-swarm-dash/src/hooks/api/use-auth-logout-all-mutation.ts
  apps/prediction-swarm-dash/src/hooks/api/use-auth-logout-mutation.ts
  apps/prediction-swarm-dash/src/hooks/api/use-auth-refresh-mutation.ts
  apps/prediction-swarm-dash/src/hooks/api/use-auth-sessions-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-auth-verify-mutation.ts
  apps/prediction-swarm-dash/src/hooks/api/use-auth-verify-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-content-scores-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-live-activity-feed-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-permissions-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-prediction-by-id-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-predictions-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-sign-message.ts
  apps/prediction-swarm-dash/src/hooks/api/use-stream-agents-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-swarm-total-metrics-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-verification-claim-by-id-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-verification-claims-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-verification-verdicts-query.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: tailwind config
  apps/prediction-swarm-dash/package.json
  apps/prediction-swarm-dash/src/app/_components/calendar.tsx
  apps/prediction-swarm-dash/src/app/globals.css
  apps/prediction-swarm-dash/src/app/layout.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Refactor components and improve imports across the dashboard and comparison pages
  apps/prediction-swarm-dash/src/app/(pages)/agents/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/comparison/components/comparison-grid.tsx
  apps/prediction-swarm-dash/src/app/(pages)/comparison/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/dashboard/components/dashboard-activity.tsx
  apps/prediction-swarm-dash/src/app/(pages)/dashboard/components/dashboard-agents.tsx
  apps/prediction-swarm-dash/src/app/(pages)/dashboard/components/dashboard-permissions.tsx
  apps/prediction-swarm-dash/src/app/(pages)/dashboard/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/layout.tsx
  apps/prediction-swarm-dash/src/app/_components/agent-history-viewer.tsx
  apps/prediction-swarm-dash/src/lib/api-schemas.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update SimpleBridgeForm to improve state management and UI components
  apps/torus-bridge/src/app/simple/_components/simple-bridge-form.tsx
  apps/torus-bridge/src/app/simple/_components/simple-bridge-fraction-buttons.tsx
  packages/ui/src/components/input.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance Torus Bridge and Wallet applications with new APR components and improved state management
  apps/torus-bridge/src/app/_components/wallet-conflict-guard.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/app/simple/_components/simple-bridge-form.tsx
  apps/torus-wallet/next-env.d.ts
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator.tsx
  apps/torus-wallet/tailwind.config.ts
  packages/query-provider/src/hooks.ts
  packages/ui/package.json
  packages/ui/src/components/apr-bar/apr-bar-base.tsx
  packages/ui/src/components/apr-bar/apr-bar-shared.tsx
  packages/ui/src/components/apr-bar/apr-bar.tsx
  packages/ui/src/components/apr-bar/index.ts
  packages/ui/src/components/apr/apr-bar-client.tsx
  packages/ui/src/components/apr/hooks.ts
  packages/ui/src/components/apr/index.ts
  packages/ui/src/components/apr/torus-to-usd.tsx
  packages/ui/src/components/apr/use-reward-interval.ts
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: enhance UI components in Torus Bridge and Wallet applications
  apps/torus-bridge/src/app/simple/_components/simple-bridge-form.tsx
  apps/torus-wallet/src/app/staking/_components/staking-calculator/staking-calculator.tsx
  packages/ui/src/components/apr-bar/apr-bar-base.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update pnpm-lock.yaml to remove unused torus-provider dependency
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: improve layout and styling in agent components and dashboard
  apps/prediction-swarm-dash/src/app/(pages)/agents/components/agent-no-selection.tsx
  apps/prediction-swarm-dash/src/app/(pages)/agents/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/dashboard/page.tsx
  apps/prediction-swarm-dash/src/app/_components/agent-history-viewer.tsx
  apps/prediction-swarm-dash/src/app/_components/date-range-filter.tsx
  apps/prediction-swarm-dash/src/app/_components/fractal-grid.tsx
  apps/prediction-swarm-dash/src/app/_components/search-field.tsx
  apps/prediction-swarm-dash/src/app/_components/search-input.tsx
  apps/prediction-swarm-dash/src/app/_components/stats-grid.tsx
  apps/prediction-swarm-dash/src/app/globals.css
  apps/prediction-swarm-dash/src/app/layout.tsx
  apps/prediction-swarm-dash/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: integrate useTorus hook in APRBar components for enhanced API access
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-wallet/src/app/layout.tsx
  packages/ui/src/components/apr/apr-bar-client.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: refine layout and imports in comparison components
  apps/prediction-swarm-dash/src/app/(pages)/comparison/components/comparison-charts.tsx
  apps/prediction-swarm-dash/src/app/(pages)/comparison/components/comparison-selector.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: pred swarm build
  apps/prediction-swarm-dash/src/app/(pages)/comparison/components/comparison-empty.tsx
  apps/prediction-swarm-dash/src/app/(pages)/comparison/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/dashboard/components/dashboard-agents.tsx
  apps/prediction-swarm-dash/src/app/(pages)/dashboard/components/dashboard-stats.tsx
  apps/prediction-swarm-dash/src/app/_components/agent-history-viewer.tsx
  apps/prediction-swarm-dash/src/app/_components/decrypted-text.tsx
  apps/prediction-swarm-dash/src/app/_components/sphere-animation.tsx
  apps/prediction-swarm-dash/src/app/api/sign-message/route.ts
  apps/prediction-swarm-dash/src/app/layout.tsx
  apps/prediction-swarm-dash/src/docs/AUTH.md
  apps/prediction-swarm-dash/src/hooks/api/use-agent-contribution-stats-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-live-activity-feed-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-prediction-by-id-query.ts
  apps/prediction-swarm-dash/src/hooks/api/use-swarm-total-metrics-query.ts
  apps/prediction-swarm-dash/src/lib/api-schemas.ts
  apps/prediction-swarm-dash/src/lib/api-utils.ts
  apps/prediction-swarm-dash/src/lib/auth-store.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: animations
  apps/prediction-swarm-dash/helmfile.yaml
  apps/prediction-swarm-dash/src/app/(pages)/agents/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/comparison/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/dashboard/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/layout.tsx
  apps/prediction-swarm-dash/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: refine layout and styling in agents page, layout, and search input components
  apps/prediction-swarm-dash/src/app/(pages)/agents/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/layout.tsx
  apps/prediction-swarm-dash/src/app/_components/activity-type-selector.tsx
  apps/prediction-swarm-dash/src/app/_components/search-input.tsx
  apps/prediction-swarm-dash/src/app/_components/sphere-animation.tsx
  apps/prediction-swarm-dash/src/app/globals.css
  apps/prediction-swarm-dash/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

style: refine layout and styling in agents and comparison pages, enhance component responsiveness
  apps/prediction-swarm-dash/src/app/(pages)/agents/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/comparison/components/comparison-grid.tsx
  apps/prediction-swarm-dash/src/app/(pages)/comparison/components/comparison-selector.tsx
  apps/prediction-swarm-dash/src/app/(pages)/comparison/page.tsx
  apps/prediction-swarm-dash/src/app/(pages)/layout.tsx
  apps/prediction-swarm-dash/src/app/_components/date-range-filter.tsx
  apps/prediction-swarm-dash/src/app/layout.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/toggle-group.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update pnpm-lock.yaml to reflect dependency version changes
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove Chart component and related styles
  apps/prediction-swarm-dash/package.json
  apps/prediction-swarm-dash/src/app/_components/calendar.tsx
  apps/prediction-swarm-dash/src/app/_components/chart.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove @radix-ui/react-tabs dependency and related components
  apps/prediction-swarm-dash/package.json
  apps/prediction-swarm-dash/src/app/_components/activity-type-selector.tsx
  apps/prediction-swarm-dash/src/app/_components/tabs.tsx
  packages/ui/src/components/tabs.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update pnpm-lock.yaml to resolve merge conflicts and align dependency versions
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update package dependencies to use catalog versions
  apps/prediction-swarm-dash/helmfile.yaml
  apps/prediction-swarm-dash/package.json
  apps/torus-governance/package.json
  apps/torus-page/package.json
  apps/torus-portal/package.json
  apps/torus-prophet-finder/package.json
  apps/torus-wallet/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
