Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

refactor: implement consistent SEO metadata generation across new pages
  apps/torus-portal/src/app/(pages)/(permission-graph)/2d-hypergraph/layout.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/2d-hypergraph/page.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/layout.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/page.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/capability/layout.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/capability/page.tsx
  apps/torus-portal/src/app/(pages)/playground/layout.tsx
  apps/torus-portal/src/app/(pages)/playground/page.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(main-page)/allocated-agents/layout.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(main-page)/allocated-agents/page.tsx
  apps/torus-portal/src/app/(pages)/signals/signal-list/layout.tsx
  apps/torus-portal/src/app/(pages)/test-client-invalid-metadata/layout.tsx
  apps/torus-portal/src/app/(pages)/test-client-invalid-metadata/page.tsx
  apps/torus-portal/src/app/(pages)/test-client-no-layout/page.tsx
  tooling/eslint/nextjs.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unnecessary whitespace in layout files
  apps/torus-portal/src/app/(pages)/(permission-graph)/2d-hypergraph/layout.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/layout.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/capability/layout.tsx
  apps/torus-portal/src/app/(pages)/playground/layout.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(main-page)/allocated-agents/layout.tsx
  apps/torus-portal/src/app/(pages)/signals/signal-list/layout.tsx
  tooling/eslint/nextjs.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove test client components with invalid metadata
  apps/torus-portal/src/app/(pages)/test-client-invalid-metadata/layout.tsx
  apps/torus-portal/src/app/(pages)/test-client-invalid-metadata/page.tsx
  apps/torus-portal/src/app/(pages)/test-client-no-layout/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: simplify ESLint configuration for Next.js
  tooling/eslint/nextjs.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add SEO compliance checker script for Next.js applications
  scripts/next.sh
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused SEO metadata generation in signal list page
  apps/torus-portal/src/app/(pages)/signals/signal-list/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: remove unused imports in signal list page
  apps/torus-portal/src/app/(pages)/signals/signal-list/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

WIP zod 4 migration
  .changeset/.markdownlint.json
  .changeset/zod-v4-migration.md
  apps/torus-worker/src/common/env.ts
  packages/api/src/trpc.ts
  packages/db/package.json
  packages/dsl/package.json
  packages/dsl/src/chain-fetcher.ts
  packages/dsl/src/schema.ts
  packages/env-validation/src/EnvScript.tsx
  packages/torus-sdk-ts/src/agent/agent.ts
  packages/torus-sdk-ts/src/chain/common/storage-maps.ts
  packages/torus-sdk-ts/src/chain/permission0/permission0-storage.ts
  packages/torus-sdk-ts/src/chain/permission0/permission0-types.ts
  packages/torus-sdk-ts/src/chain/torus0/torus0-types.ts
  packages/torus-sdk-ts/src/playground.ts
  packages/torus-sdk-ts/src/substrate-parsers/collections.ts
  packages/torus-sdk-ts/src/substrate-parsers/enum.ts
  packages/torus-sdk-ts/src/substrate-parsers/option.ts
  packages/torus-sdk-ts/src/substrate-parsers/struct.ts
  packages/torus-sdk-ts/src/types/address.ts
  packages/torus-sdk-ts/src/types/namespace/agent-name.ts
  packages/torus-sdk-ts/src/types/namespace/namespace-path.ts
  packages/torus-utils/src/env.ts
  packages/torus-utils/src/zod.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: update SEO metadata for Torus Allocator page
  apps/torus-allocator/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: implement dynamic metadata generation for governance and allocator pages
  apps/torus-governance/src/app/page.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(main-page)/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add SEO compliance checker script for Next.js applications
  scripts/check-seo.sh
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: enhance faucet functionality and improve tab layout
  apps/torus-wallet/next-env.d.ts
  apps/torus-wallet/src/app/(transfers)/_components/faucet/faucet-form.tsx
  apps/torus-wallet/src/app/(transfers)/_components/faucet/faucet.tsx
  apps/torus-wallet/src/app/(transfers)/page.tsx
  apps/torus-wallet/src/app/_components/tab-layout.tsx
  apps/torus-wallet/src/utils/faucet-worker-code.ts
  apps/torus-wallet/src/utils/faucet.ts
Due: torus-wallet, check-torus-wallet

feat: enhance faucet form with improved address handling and toast notifications
  apps/torus-wallet/src/app/(transfers)/_components/faucet/faucet-form.tsx
Due: torus-wallet, check-torus-wallet

refactor: clean up imports in faucet form component
  apps/torus-wallet/src/app/(transfers)/_components/faucet/faucet-form.tsx
Due: torus-wallet, check-torus-wallet

refactor: optimize button disable logic in faucet form component
  apps/torus-wallet/src/app/(transfers)/_components/faucet/faucet-form.tsx
Due: torus-wallet, check-torus-wallet

feat: add success toast notification and adjust button height in faucet form
  apps/torus-wallet/src/app/(transfers)/_components/faucet/faucet-form.tsx
Due: torus-wallet, check-torus-wallet

refactor: remove static faucetWorker.js and integrate worker code into faucet-worker-code.ts
  apps/torus-wallet/public/faucetWorker.js
  apps/torus-wallet/src/utils/faucet-worker-code.ts
Due: torus-wallet, check-torus-wallet

refactor: update tab layout component for improved tab value handling
  apps/torus-wallet/src/app/_components/tab-layout.tsx
  apps/torus-wallet/src/app/staking/page.tsx
Due: torus-wallet, check-torus-wallet

chore: add babel-plugin-react-compiler and enable experimental reactCompiler option in Next.js config for multiple apps
  apps/torus-allocator/next.config.mjs
  apps/torus-bridge/next.config.mjs
  apps/torus-governance/next.config.mjs
  apps/torus-page/next.config.mjs
  apps/torus-portal/next.config.mjs
  apps/torus-wallet/next.config.mjs
  package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: update package versions in pnpm-lock.yaml
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: add missing newline at end of next.config.mjs in torus-bridge
  apps/torus-bridge/next.config.mjs
Due: torus-bridge, check-torus-bridge

fix: SEO Descriptions
  apps/torus-allocator/src/app/layout.tsx
  apps/torus-allocator/src/app/page.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
  apps/torus-governance/src/app/(pages)/layout.tsx
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/page.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/2d-hypergraph/layout.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/layout.tsx
  apps/torus-portal/src/app/(pages)/capabilities/delete-capability/page.tsx
  apps/torus-portal/src/app/(pages)/capabilities/register-capability/page.tsx
  apps/torus-portal/src/app/(pages)/constraints/page.tsx
  apps/torus-portal/src/app/(pages)/layout.tsx
  apps/torus-portal/src/app/(pages)/network-operations/manage-agent/page.tsx
  apps/torus-portal/src/app/(pages)/network-operations/register-agent/page.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/capability/layout.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/layout.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/stream/page.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/wallet/_components/wallet-stake-permission-form.tsx
  apps/torus-portal/src/app/(pages)/permissions/manage-permission/page.tsx
  apps/torus-portal/src/app/(pages)/playground/layout.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(expanded-pages)/allocated-weight/page.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(main-page)/allocated-agents/layout.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(main-page)/layout.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(main-page)/new-agents/page.tsx
  apps/torus-portal/src/app/(pages)/signals/create-signal/page.tsx
  apps/torus-portal/src/app/(pages)/signals/signal-list/layout.tsx
  apps/torus-wallet/src/app/staking/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: format
  apps/torus-allocator/src/app/layout.tsx
  apps/torus-allocator/src/app/page.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-governance/src/app/(expanded-pages)/agent-application/[id]/page.tsx
  apps/torus-governance/src/app/(expanded-pages)/proposal/[id]/page.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
  apps/torus-governance/src/app/(pages)/layout.tsx
  apps/torus-governance/src/app/(pages)/proposals/page.tsx
  apps/torus-governance/src/app/(pages)/whitelist-applications/page.tsx
  apps/torus-governance/src/app/layout.tsx
  apps/torus-page/src/app/layout.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/2d-hypergraph/layout.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/layout.tsx
  apps/torus-portal/src/app/(pages)/capabilities/delete-capability/page.tsx
  apps/torus-portal/src/app/(pages)/capabilities/register-capability/page.tsx
  apps/torus-portal/src/app/(pages)/constraints/page.tsx
  apps/torus-portal/src/app/(pages)/layout.tsx
  apps/torus-portal/src/app/(pages)/network-operations/manage-agent/page.tsx
  apps/torus-portal/src/app/(pages)/network-operations/register-agent/page.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/capability/layout.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/layout.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/stream/page.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/wallet/_components/wallet-stake-permission-form.tsx
  apps/torus-portal/src/app/(pages)/permissions/manage-permission/page.tsx
  apps/torus-portal/src/app/(pages)/playground/layout.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(expanded-pages)/allocated-weight/page.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(main-page)/allocated-agents/layout.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(main-page)/layout.tsx
  apps/torus-portal/src/app/(pages)/root-allocator/(main-page)/new-agents/page.tsx
  apps/torus-portal/src/app/(pages)/signals/create-signal/page.tsx
  apps/torus-portal/src/app/(pages)/signals/signal-list/layout.tsx
  apps/torus-wallet/src/app/staking/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: replace queueMicrotask with setTimeout for state updates
  apps/torus-bridge/src/app/_components/buttons/connect-aware-submit-button.tsx
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
  apps/torus-bridge/src/context/solana-wallet-provider.tsx
  apps/torus-governance/hooks/use-sign-in.tsx
  apps/torus-portal/src/hooks/use-blob-url.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

build(justfile): improve clean commands and add node_modules exclusion
  justfile
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: remove unnecessary environment variable imports from Next.js config
  apps/torus-bridge/next.config.mjs
  apps/torus-wallet/next.config.mjs
Due: torus-wallet, torus-bridge, check-torus-wallet, check-torus-bridge

refactor: enhance ProviderRenderer to support props and simplify provider management
  apps/torus-bridge/src/app/_components/provider-renderer.tsx
  apps/torus-bridge/src/context/app-context-provider.tsx
  apps/torus-bridge/src/context/evm-wallet-provider.tsx
Due: torus-bridge, check-torus-bridge

chore: add eslint disable comments for explicit any usage in ProviderRenderer
  apps/torus-bridge/src/app/_components/provider-renderer.tsx
Due: torus-bridge, check-torus-bridge

refactor: optimize transfer details component for better state management
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
  apps/torus-bridge/src/app/_components/transfer-details/index.tsx
Due: torus-bridge, check-torus-bridge

feat: implement DAO dashboard layout and SEO metadata
  apps/torus-governance/next-env.d.ts
  apps/torus-governance/src/app/(pages)/dao-dashboard/layout.tsx
  apps/torus-governance/src/app/(pages)/dao-dashboard/page.tsx
Due: torus-governance, check-torus-governance

refactor: optimize component performance with useMemo
  apps/torus-bridge/src/app/_components/tokens/token-list-modal.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-governance/hooks/use-agent-applications.tsx
  apps/torus-governance/hooks/use-agent-health.ts
  apps/torus-governance/src/app/_components/comments/view-comment.tsx
  apps/torus-governance/src/app/_components/filter-content.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/force-graph/use-graph-data.ts
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/force-graph/use-graph-interactions.ts
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/graph-sheet/graph-sheet-details/graph-sheet-details-card.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/graph-sheet/graph-sheet-details/graph-sheet-details-permission.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/graph-sheet/graph-sheet-details/graph-sheet-details-signals-accordion.tsx
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/permission-graph-command.tsx
  apps/torus-portal/src/app/(pages)/capabilities/register-capability/_components/create-capability-prefix-field.tsx
  apps/torus-portal/src/app/_components/address-field.tsx
  apps/torus-portal/src/hooks/use-weekly-usd.ts
  apps/torus-wallet/next-env.d.ts
  tooling/eslint/react.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: improve code formatting and organization in governance and portal applications
  apps/torus-governance/hooks/use-agent-applications.tsx
  apps/torus-governance/src/app/_components/comments/view-comment.tsx
  apps/torus-portal/src/hooks/use-weekly-usd.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: disable react-hooks/preserve-manual-memoization rule due to compatibility issues
  tooling/eslint/react.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update terminology from "emission" to "stream" in permission-related components
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/graph-sheet/graph-sheet-details/graph-sheet-details-card.tsx
  apps/torus-portal/src/app/(pages)/constraints/_components/constraint-tutorial-dialog.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/_components/create-permission-tabs.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update terminology from "emission" to "stream" in permission-related components (#367)
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/graph-sheet/graph-sheet-details/graph-sheet-details-card.tsx
  apps/torus-portal/src/app/(pages)/constraints/_components/constraint-tutorial-dialog.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/_components/create-permission-tabs.tsx
  apps/torus-portal/src/app/(pages)/permissions/create-permission/layout.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: wrong calculations in the detailed information of permissions (#361)
  apps/torus-portal/src/app/(pages)/(permission-graph)/_components/graph-sheet/graph-sheet-details/graph-sheet-details-permission.tsx
  apps/torus-portal/src/hooks/use-multiple-account-streams.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement Simple Bridge component for seamless TORUS transfers
  apps/torus-bridge/src/app/_components/select-action-dialog.tsx
  apps/torus-bridge/src/app/_components/shared/sidebar-links.tsx
  apps/torus-bridge/src/app/_components/simple-bridge/dual-wallet-connector.tsx
  apps/torus-bridge/src/app/_components/simple-bridge/hooks/use-dual-wallet.ts
  apps/torus-bridge/src/app/_components/simple-bridge/hooks/use-orchestrated-transfer.ts
  apps/torus-bridge/src/app/_components/simple-bridge/index.tsx
  apps/torus-bridge/src/app/_components/simple-bridge/progress-stepper.tsx
  apps/torus-bridge/src/app/_components/simple-bridge/simple-bridge-form.tsx
  apps/torus-bridge/src/app/_components/simple-bridge/simple-bridge-types.ts
  apps/torus-bridge/src/app/simple/page.tsx
Due: torus-bridge, check-torus-bridge

chore: update ESLint configuration for React
  tooling/eslint/react.js
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

refactor: clean up Simple Bridge page component
  apps/torus-bridge/src/app/simple/page.tsx
Due: torus-bridge, check-torus-bridge

feat: add new SVG icons and enhance wallet balance component
  apps/torus-bridge/public/torus-base-balance-simple-icon.svg
  apps/torus-bridge/public/torus-native-balance-simple-icon.svg
  apps/torus-bridge/src/app/_components/shared/sidebar-links.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/simple-bridge/fraction-buttons.tsx
  apps/torus-bridge/src/app/_components/simple-bridge/simple-bridge-form.tsx
Due: torus-bridge, check-torus-bridge
