Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**

feat: import sort
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-page/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: add emission health factor badge and penalty label to ListAgents component
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

fix: remove duplicate import of TransactionResult in create-proposal component
  apps/torus-governance/src/app/components/proposal/create-proposal.tsx
Due: torus-governance, check-torus-governance

fix: remove duplicate import of TransactionResult in create-transfer-dao-treasury-proposal component
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
Due: torus-governance, check-torus-governance

feat: display penalties (WEB-132) (#129)
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
  apps/torus-page/src/app/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: branded BigNumber (#62)
  .vscode/launch.json
  packages/subspace/src/main.ts
  packages/utils/package.json
  packages/utils/src/bignumber.ts
  packages/utils/src/main.ts
  packages/utils/src/subspace.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: ui package refactor
  apps/torus-wallet/package.json
Due: torus-wallet, check-torus-wallet

feat: update import paths for utility functions in UI components
  apps/torus-bridge/package.json
  packages/ui/src/components/accordion.tsx
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/alert.tsx
  packages/ui/src/components/allocator-agent-item.tsx
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/breadcrumb.tsx
  packages/ui/src/components/chart.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/copy-button.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/discord-widget.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/header.tsx
  packages/ui/src/components/input-otp.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/loading.tsx
  packages/ui/src/components/markdown-view.tsx
  packages/ui/src/components/navigation-menu.tsx
  packages/ui/src/components/pagination.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/components/text-area.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/components/tooltip.tsx
  packages/ui/src/components/transaction-status.tsx
  packages/ui/src/components/wallet-dropdown.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: allocator ui package update
  apps/torus-allocator/components.json
  apps/torus-allocator/next.config.mjs
  apps/torus-allocator/postcss.config.cjs
  apps/torus-allocator/postcss.config.mjs
  apps/torus-allocator/src/app/(expanded-pages)/agent/[slug]/page.tsx
  apps/torus-allocator/src/app/(expanded-pages)/agentstake/page.tsx
  apps/torus-allocator/src/app/components/agent-banner/_components/animation.tsx
  apps/torus-allocator/src/app/components/agent-info-card.tsx
  apps/torus-allocator/src/app/components/agent-item-skeleton.tsx
  apps/torus-allocator/src/app/components/agent-item.tsx
  apps/torus-allocator/src/app/components/agents-tab-view.tsx
  apps/torus-allocator/src/app/components/allocation-menu.tsx
  apps/torus-allocator/src/app/components/allocator-header.tsx
  apps/torus-allocator/src/app/components/delegate-module-weight.tsx
  apps/torus-allocator/src/app/components/filter-content.tsx
  apps/torus-allocator/src/app/components/pagination-controls.tsx
  apps/torus-allocator/src/app/components/penalties-list.tsx
  apps/torus-allocator/src/app/components/popover-info.tsx
  apps/torus-allocator/src/app/components/report-agent.tsx
  apps/torus-allocator/src/app/components/sidebar-links.tsx
  apps/torus-allocator/src/app/components/tutorial-dialog.tsx
  apps/torus-allocator/src/app/components/user-weight-info.tsx
  apps/torus-allocator/src/app/layout.tsx
  apps/torus-allocator/src/styles/globals.css
  apps/torus-allocator/tailwind.config.ts
  apps/torus-allocator/turbo.json
  packages/ui/src/components/no-wallet-extension-display.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/styles/globals.css
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: bridge ui package update
  apps/torus-bridge/next.config.mjs
  apps/torus-bridge/postcss.config.cjs
  apps/torus-bridge/postcss.config.mjs
  apps/torus-bridge/src/app/_components/buttons/connect-aware-submit-button.tsx
  apps/torus-bridge/src/app/_components/chains/chain-select-field.tsx
  apps/torus-bridge/src/app/_components/guide-dialog.tsx
  apps/torus-bridge/src/app/_components/select-action-dialog.tsx
  apps/torus-bridge/src/app/_components/shared/sidebar-links.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-actions.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-balance.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-header.tsx
  apps/torus-bridge/src/app/_components/shared/wallet-review.tsx
  apps/torus-bridge/src/app/_components/text-field.tsx
  apps/torus-bridge/src/app/_components/tokens/token-select-field.tsx
  apps/torus-bridge/src/app/_components/transfer-details/_components/transfer-details-dialog.tsx
  apps/torus-bridge/src/app/_components/transfer-evm.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/max-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/swap-chain-button.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_components/transfer-token-form.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/amount-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/button-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/recipient-section.tsx
  apps/torus-bridge/src/app/_components/transfer-token/_sections/token-section.tsx
  apps/torus-bridge/src/app/layout.tsx
  apps/torus-bridge/src/context/app-context-provider.tsx
  apps/torus-bridge/src/context/warp-context-init-gate-provider.tsx
  apps/torus-bridge/src/styles/globals.css
  apps/torus-bridge/tailwind.config.ts
  apps/torus-bridge/turbo.json
  apps/torus-page/next.config.mjs
  packages/ui/src/components/card.tsx
  packages/ui/src/styles/globals.css
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: remove next-themes dependency and related provider component
  apps/torus-page/package.json
  apps/torus-page/src/app/components/providers.tsx
  apps/torus-page/src/app/layout.tsx
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: wallet ui package update
  apps/torus-cache/turbo.json
  apps/torus-wallet/next.config.mjs
  apps/torus-wallet/postcss.config.cjs
  apps/torus-wallet/postcss.config.mjs
  apps/torus-wallet/src/app/components/actions/receive.tsx
  apps/torus-wallet/src/app/components/actions/send.tsx
  apps/torus-wallet/src/app/components/actions/stake.tsx
  apps/torus-wallet/src/app/components/actions/staking-calculator.tsx
  apps/torus-wallet/src/app/components/actions/transfer-stake.tsx
  apps/torus-wallet/src/app/components/actions/unstake.tsx
  apps/torus-wallet/src/app/components/amount-buttons.tsx
  apps/torus-wallet/src/app/components/fee-label.tsx
  apps/torus-wallet/src/app/components/review-transaction-dialog.tsx
  apps/torus-wallet/src/app/components/reward-interval-progress.tsx
  apps/torus-wallet/src/app/components/sidebar-links.tsx
  apps/torus-wallet/src/app/components/validators-list.tsx
  apps/torus-wallet/src/app/components/wallet-actions.tsx
  apps/torus-wallet/src/app/components/wallet-balance.tsx
  apps/torus-wallet/src/app/components/wallet-header.tsx
  apps/torus-wallet/src/app/components/wallet-review.tsx
  apps/torus-wallet/src/app/components/wallet-skeleton-loader.tsx
  apps/torus-wallet/src/app/layout.tsx
  apps/torus-wallet/tailwind.config.ts
  apps/torus-wallet/turbo.json
  apps/torus-worker/turbo.json
Due: torus-worker, torus-wallet, torus-cache, check-torus-worker, check-torus-wallet, check-torus-cache

feat: add turbo.json configuration for multiple apps
  apps/torus-allocator/turbo.json
  apps/torus-bridge/turbo.json
  apps/torus-cache/turbo.json
  apps/torus-governance/turbo.json
  apps/torus-page/turbo.json
  apps/torus-wallet/turbo.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: implement toast notifications and update layout structure
  apps/torus-allocator/components.json
  apps/torus-page/components.json
  packages/ui/package.json
  packages/ui/src/components/layout.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/components/toaster.tsx
  packages/ui/src/hooks/use-toast.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

[TMP] Disable torus-bridge build
  .github/workflows/main.yml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat: replace react-toastify with @torus-ts/ui toast in sendTransaction and update related components
  packages/torus-provider/package.json
  packages/torus-provider/src/_components/send-transaction.tsx
  packages/torus-provider/src/torus-provider.tsx
  packages/ui/src/hooks/use-toast.ts
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: toast provider on bridge components
  apps/torus-bridge/src/app/_components/toast/tx-success-toast.tsx
  apps/torus-bridge/src/app/_components/toast/use-toast-error.tsx
  apps/torus-bridge/src/context/solana-wallet-provider.tsx
  apps/torus-bridge/src/hooks/use-balance-watcher.ts
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
  apps/torus-bridge/src/hooks/use-token-transfer.ts
  apps/torus-bridge/src/utils/store.ts
Due: torus-bridge, check-torus-bridge

chore: format fix
  apps/torus-bridge/src/app/_components/buttons/connect-button.tsx
  apps/torus-bridge/src/app/page.tsx
  apps/torus-governance/src/app/(pages)/agent-application/[id]/_components/agent-application-expanded-view.tsx
  apps/torus-governance/src/app/components/render-list/container-list.tsx
  apps/torus-governance/src/app/page.tsx
  apps/torus-page/src/app/components/footer.tsx
  apps/torus-page/src/app/components/hover-header/_components/desktop/buttons-section.tsx
  apps/torus-page/src/app/components/hover-header/_components/mobile/buttons-section-mobile.tsx
  apps/torus-page/src/app/components/hover-header/index.tsx
  apps/torus-wallet/src/app/components/animation/client-hero-section.tsx
  apps/torus-wallet/src/app/components/apr-bar-skeleton.tsx
Due: torus-page, torus-governance, torus-wallet, torus-bridge, check-torus-page, check-torus-governance, check-torus-wallet, check-torus-bridge

fix: enhance toast notifications in useTokenTransfer for better error handling and consistent messaging
  apps/torus-bridge/src/hooks/use-token-transfer.ts
Due: torus-bridge, check-torus-bridge

fix: integrate toast notifications in useFetchMaxAmount for improved error reporting during max amount calculations
  apps/torus-bridge/src/hooks/use-fetch-max-amount.ts
Due: torus-bridge, check-torus-bridge

fix: update ESLint config and component imports for improved types and code clarity across the UI package
  packages/ui/eslint.config.js
  packages/ui/src/components/clock.tsx
  packages/ui/src/components/copy-button.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/hooks/use-toast.ts
  packages/ui/src/lib/utils.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: remove toast notification from ReportAgent after successful report for cleaner user experience
  apps/torus-allocator/src/app/components/report-agent.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: lockfile
  packages/ui/package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: update IPFS response handling to use 'cid' and improve error handling in proposal creation (#135)
  apps/torus-governance/src/app/components/proposal/create-proposal.tsx
  apps/torus-governance/src/app/components/proposal/create-transfer-dao-treasury-proposal.tsx
Due: torus-governance, check-torus-governance

fix: update penalty display format in List Agents component for better clarity on penalties and consensus (%)
  apps/torus-governance/src/app/components/render-list/list-agents.tsx
Due: torus-governance, check-torus-governance

feat: sane slider
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: removing console log
  apps/torus-allocator/src/stores/delegateAgentStore.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge
