Repository renlabs-dev/torus-ts: changes, and which Drone steps are due for each by the changed paths.
All: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-worker:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-worker
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-governance:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-governance
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-wallet:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-wallet
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-cache:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-cache
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

torus-bridge:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-bridge
      tags:
      - latest
      - ${DRONE_BRANCH}
      - ${DRONE_COMMIT_SHA:0:7}
  ...

check-torus-page:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-page
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
      build_args: APP_NAME=torus-page
  ...

check-torus-validator:
  steps:
  - name: build
    image: plugins/docker
    settings:
      registry: ghcr.io
      username: ${DRONE_COMMIT_AUTHOR}
      password:
        from_secret: DOCKER_TOKEN
      repo: ghcr.io/renlabs-dev/torus-validator
      tags:
      - dry-run
      dockerfile: docker/Dockerfile
  ...

fix: home links
  apps/torus-page/src/app/_components/hover-header/_components/data.ts
Due: torus-page, check-torus-page

fix: format
  apps/torus-bridge/src/utils/helpers.ts
  apps/torus-governance/src/app/_components/discord-auth-button.tsx
  apps/torus-portal/src/app/(pages)/capabilities/register-capability/_components/create-capability-form.tsx
  apps/torus-portal/src/app/(pages)/network-operations/register-agent/_components/register-agent-form.tsx
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
  packages/torus-sdk-ts/src/extrinsics.ts
  packages/torus-utils/src/bignumber.ts
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/copy-button.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/components/tooltip.tsx
  services/torus-worker/src/scripts/historical-permissions-fetcher.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix probes problemv2, fix vault k8s resourceVersion error, deactive cache pr preview
  .github/ci-config.json
  .github/workflows/app-deployment-template.yml
  .github/workflows/pr-preview-template.yml
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

update helm/values
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

wip
  packages/api/package.json
  packages/api/src/router/credits/credits.ts
  packages/api/src/services/credits/credits-service.ts
  packages/api/src/services/credits/index.ts
  services/swarm-api/src/env.ts
  services/swarm-api/src/routes/credits.ts
  services/swarm-api/src/server.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

automated selector
  services/swarm-api/package.json
  services/swarm-api/src/context.ts
  services/swarm-api/src/env.ts
  services/swarm-api/src/middleware/auth.ts
  services/swarm-api/src/middleware/context.ts
  services/swarm-api/src/routes/credits.ts
  services/swarm-api/src/routes/permission.ts
  services/swarm-api/src/routes/predictions.ts
  services/swarm-api/src/routes/tweets.ts
  services/swarm-api/src/server.ts
  services/swarm-api/tests/client.ts
  services/swarm-api/tests/transfer-example.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

:sparkles: automated selector
  packages/api/src/services/permission-cache.ts
  packages/api/src/utils/verify-transaction.ts
  pnpm-lock.yaml
  turbo.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

lint, typecheck and format fix
  CLAUDE.md
  apps/prediction-swarm/next-env.d.ts
  apps/torus-bridge/next-env.d.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
  apps/torus-bridge/src/utils/helpers.ts
  apps/torus-governance/next-env.d.ts
  apps/torus-governance/src/app/_components/discord-auth-button.tsx
  apps/torus-portal/next-env.d.ts
  apps/torus-portal/src/app/(pages)/capabilities/register-capability/_components/create-capability-form.tsx
  apps/torus-portal/src/app/(pages)/network-operations/register-agent/_components/register-agent-form.tsx
  apps/torus-portal/src/app/(pages)/permissions/manage-permission/_components/edit-permission-fields/recipients-field.tsx
  apps/torus-portal/src/app/(pages)/permissions/manage-permission/_components/edit-permission-fields/streams-field.tsx
  apps/torus-portal/src/app/(pages)/permissions/manage-permission/_components/execute-wallet-fields/transfer-fields.tsx
  apps/torus-portal/src/app/(pages)/permissions/manage-permission/_components/execute-wallet-fields/unstake-fields.tsx
  apps/torus-wallet/next-env.d.ts
  docs/TRPC_CLIENT_PATTERN.md
  packages/torus-provider/src/_types/index.ts
  packages/torus-provider/src/torus-provider.tsx
  packages/torus-sdk-ts/src/extrinsics.ts
  packages/torus-utils/src/bignumber.ts
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/copy-button.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/components/tooltip.tsx
  pnpm-lock.yaml
  services/swarm-api/eslint.config.js
  services/swarm-api/src/server.ts
  services/swarm-api/tsconfig.json
  services/torus-worker/src/scripts/historical-permissions-fetcher.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fixed testing client
  services/swarm-api/tests/client.ts
  services/swarm-api/tests/transfer-example.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix null unused probe handlers
  helm/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add port to httpGet probes and override tcpSocket from shared values
  services/torus-cache/values.yaml
  services/torus-worker/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: move probe configurations from shared to individual app/service values
  apps/prediction-swarm/values.yaml
  apps/torus-bridge/values.yaml
  apps/torus-governance/values.yaml
  apps/torus-page/values.yaml
  apps/torus-portal/values.yaml
  apps/torus-wallet/values.yaml
  helm/values.yaml
  services/torus-cache/values.yaml
  services/torus-worker/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

change portal ingress path to /portal on root
  apps/torus-portal/helmfile.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

remove path strip and regex rewrite
  apps/torus-portal/helmfile.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: lockfile
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix: links
  apps/torus-portal/src/app/(pages)/(landing-page)/_components/hover-header/_components/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

chore: trigger build
  apps/torus-portal/src/app/(pages)/(landing-page)/_components/hover-header/_components/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

change domain for torus-portal
  .github/ci-config.json
  apps/torus-portal/helmfile.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix portal redirect button
  apps/torus-portal/src/app/(pages)/(landing-page)/_components/hover-header/_components/data.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

remove tls template from values for the swarm-api
  services/swarm-api/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

add missing env for swarm-api
  services/swarm-api/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

fix port for swarm-api
  services/swarm-api/values.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

set ingress host for swarm-api
  services/swarm-api/helmfile.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

update routing paths in portal to include base path; maintain consistency across navigation and SEO metadata
  apps/torus-portal/src/app/(pages)/portal/2d-hypergraph/layout.tsx
  apps/torus-portal/src/app/(pages)/portal/2d-hypergraph/page.tsx
  apps/torus-portal/src/app/(pages)/portal/_components/permission-graph-command.tsx
  apps/torus-portal/src/app/(pages)/portal/_components/view-mode-switcher.tsx
  apps/torus-portal/src/app/(pages)/portal/_components/view-swarm-button.tsx
  apps/torus-portal/src/app/(pages)/portal/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Fix formatting issues
  apps/torus-portal/src/app/(pages)/portal/2d-hypergraph/layout.tsx
  apps/torus-portal/src/app/(pages)/portal/_components/view-swarm-button.tsx
  apps/torus-portal/src/app/(pages)/portal/page.tsx
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat(torus-bridge): enhance transaction history with multi-select and bulk delete functionality
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-history-dialog.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-history-item.tsx
  apps/torus-bridge/src/app/fast/hooks/fast-bridge-base-to-native-flow.ts
  apps/torus-bridge/src/app/fast/hooks/fast-bridge-native-to-base-flow.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-transaction-history.ts
Due: torus-bridge, check-torus-bridge

feat(torus-bridge): allow pending and step1_complete transactions to be expandable
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-history-dialog.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-history-item.tsx
  apps/torus-bridge/src/app/fast/hooks/fast-bridge-base-to-native-flow.ts
  apps/torus-bridge/src/app/fast/hooks/fast-bridge-native-to-base-flow.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-transaction-history.ts
Due: torus-bridge, check-torus-bridge

feat: initialize apostle-swarm database setup
  apps/apostle-swarm/src/config.ts
  apps/apostle-swarm/src/types.ts
  atlas.hcl
  atlas/migrations/apostle_swarm/atlas.sum
  packages/db/src/schema/apostle-swarm.ts
  packages/db/src/schema/index.ts
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat(torus-bridge): enhance testing setup and add new test commands
  .gitignore
  apps/torus-bridge/package.json
  apps/torus-bridge/src/test/setup.ts
  apps/torus-bridge/vitest.config.mts
  justfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/tests/README.md
  tooling/tests/package.json
  tooling/tests/setup.ts
  turbo.json
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

feat(torus-bridge): add comprehensive test coverage for Fast Bridge components
  apps/torus-bridge/src/app/fast/_components/fast-bridge-dual-wallet-connector.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-form.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-fraction-buttons.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-pending-transaction-dialog.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-quick-send-evm-dialog.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-history-dialog.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-history-item.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-lifecycle-dialog.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-step-item.test.tsx
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-dual-wallet.test.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-orchestrated-transfer.test.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-shared-state.test.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-transaction-history.test.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-transaction-url-state.test.ts
Due: torus-bridge, check-torus-bridge

feat(torus-bridge): enhance testing configuration and improve component tests
  apps/torus-bridge/src/app/fast/_components/fast-bridge-dual-wallet-connector.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-step-item.test.tsx
  apps/torus-bridge/src/test/setup.ts
  apps/torus-bridge/vitest.config.mts
Due: torus-bridge, check-torus-bridge

feat(torus-bridge): enhance testing configuration and improve component tests
  apps/torus-bridge/src/app/fast/_components/fast-bridge-quick-send-evm-dialog.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-quick-send-evm-dialog.tsx
  apps/torus-bridge/src/test/setup.ts
  apps/torus-bridge/vitest.config.mts
Due: torus-bridge, check-torus-bridge

feat(torus-bridge): enhance testing and improve component behavior
  apps/torus-bridge/src/app/fast/_components/fast-bridge-form.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-pending-transaction-dialog.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-history-dialog.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-lifecycle-dialog.test.tsx
  apps/torus-bridge/src/app/fast/_components/fast-bridge-transaction-step-item.tsx
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-dual-wallet.test.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-shared-state.test.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-transaction-history.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-transaction-url-state.test.ts
  apps/torus-bridge/src/app/fast/hooks/use-fast-bridge-transaction-url-state.ts
  apps/torus-bridge/vitest.config.mts
Due: torus-bridge, check-torus-bridge

feat(justfile): add test-failed command for CI/CD debugging
  justfile
  package.json
  pnpm-lock.yaml
Due: torus-page, torus-validator, torus-worker, torus-governance, torus-wallet, torus-cache, torus-bridge, check-torus-page, check-torus-validator, check-torus-worker, check-torus-governance, check-torus-wallet, check-torus-cache, check-torus-bridge

Path conditions:
  torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  torus-bridge: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-page/**
  check-torus-page: any file but: apps/torus-governance/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-validator: any file but: apps/torus-worker/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-worker: any file but: apps/torus-validator/**, apps/torus-governance/**, apps/torus-page/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-governance: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-wallet/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-wallet: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-cache/**, apps/torus-bridge/**
  check-torus-cache: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-bridge/**
  check-torus-bridge: any file but: apps/torus-page/**, apps/torus-validator/**, apps/torus-worker/**, apps/torus-governance/**, apps/torus-wallet/**, apps/torus-cache/**
